template/n8n/workflows/separate/7xWvQc8GeOTrFvEf.json
{
  "updatedAt": "2026-07-18T17:53:03.668Z",
  "createdAt": "2026-07-18T17:30:05.822Z",
  "id": "7xWvQc8GeOTrFvEf",
  "name": "reservation_inbound",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "reservation-inbound",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook",
      "name": "Webhook Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\n\nfunction clean(v) {\n  return v === undefined || v === null || v === '' ? null : v;\n}\n\nreturn [{\n  json: {\n    source: clean(body.source),\n    channel: clean(body.channel) ?? clean(body.source),\n    restaurant_slug: clean(body.restaurant_slug),\n    to: clean(body.to),\n    from: clean(body.from),\n    phone: clean(body.phone) ?? clean(body.from),\n    email: clean(body.email),\n    full_name: clean(body.full_name),\n    message: clean(body.message) ?? '',\n    raw_message: clean(body.message) ?? '',\n    intent: clean(body.intent) ?? null,\n    requested_datetime: clean(body.requested_datetime),\n    party_size: clean(body.party_size),\n    special_request: clean(body.special_request),\n    call_id: clean(body.call_id),\n    call_status: clean(body.call_status)\n  }\n}];"
      },
      "id": "NormalizeInput",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.restaurant_slug}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "HasSlug",
      "name": "Has restaurant_slug?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  r.id AS restaurant_id,\n  r.slug,\n  r.name,\n  r.timezone,\n  s.default_meal_duration_minutes,\n  s.cleaning_buffer_minutes,\n  s.grace_delay_minutes,\n  s.max_party_size,\n  s.allow_combined_tables,\n  s.reminder_days_before,\n  s.reminder_hour,\n  s.reminder_channel,\n  s.booking_policy,\n  s.event_notification_policy\nFROM restaurants r\nJOIN restaurant_settings s ON s.restaurant_id = r.id\nWHERE r.slug = '{{$json.restaurant_slug}}'\n  AND r.is_active = true\nLIMIT 1;"
      },
      "id": "LookupBySlug",
      "name": "Lookup Restaurant by Slug",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        920,
        180
      ],
      "credentials": {
        "postgres": {
          "name": "little_africa_nice_postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  r.id AS restaurant_id,\n  r.slug,\n  r.name,\n  r.timezone,\n  s.default_meal_duration_minutes,\n  s.cleaning_buffer_minutes,\n  s.grace_delay_minutes,\n  s.max_party_size,\n  s.allow_combined_tables,\n  s.reminder_days_before,\n  s.reminder_hour,\n  s.reminder_channel,\n  s.booking_policy,\n  s.event_notification_policy\nFROM restaurant_channels c\nJOIN restaurants r ON r.id = c.restaurant_id\nJOIN restaurant_settings s ON s.restaurant_id = r.id\nWHERE c.is_active = true\n  AND c.channel_type = '{{$json.source}}'\n  AND c.channel_value = '{{$json.to}}'\nLIMIT 1;"
      },
      "id": "LookupByChannel",
      "name": "Lookup Restaurant by Channel",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        920,
        500
      ],
      "credentials": {
        "postgres": {
          "name": "little_africa_nice_postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nreturn [{\n  json: {\n    restaurant_id: input.restaurant_id ?? null,\n    restaurant_slug: input.slug ?? null,\n    restaurant_name: input.name ?? null,\n    timezone: input.timezone ?? 'Europe/Paris',\n    default_meal_duration_minutes: input.default_meal_duration_minutes ?? 120,\n    cleaning_buffer_minutes: input.cleaning_buffer_minutes ?? 15,\n    grace_delay_minutes: input.grace_delay_minutes ?? 10,\n    max_party_size: input.max_party_size ?? 12,\n    allow_combined_tables: input.allow_combined_tables ?? false,\n    reminder_days_before: input.reminder_days_before ?? 1,\n    reminder_hour: input.reminder_hour ?? 9,\n    reminder_channel: input.reminder_channel ?? 'whatsapp',\n    booking_policy: input.booking_policy ?? null,\n    event_notification_policy: input.event_notification_policy ?? null,\n    source: input.source ?? null,\n    channel: input.channel ?? null,\n    to: input.to ?? null,\n    from: input.from ?? null,\n    phone: input.phone ?? null,\n    email: input.email ?? null,\n    full_name: input.full_name ?? null,\n    message: input.message ?? '',\n    raw_message: input.raw_message ?? '',\n    intent: input.intent ?? null,\n    requested_datetime: input.requested_datetime ?? null,\n    party_size: input.party_size ?? null,\n    special_request: input.special_request ?? null,\n    call_id: input.call_id ?? null,\n    call_status: input.call_status ?? null\n  }\n}];"
      },
      "id": "NormalizeRestaurantContext",
      "name": "Normalize Restaurant Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.restaurant_id}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "RestaurantFound",
      "name": "Restaurant Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1380,
        320
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-4.1-mini",
        "messages": [
          {
            "role": "system",
            "content": "Tu es un assistant conversationnel de réservation pour un restaurant. Tu accueilles poliment, tu comprends les messages naturels, tu extrais les informations utiles, tu détectes les demandes spéciales, et tu poses les bonnes questions. Tu dois répondre uniquement en JSON strict avec les champs suivants: decision (greet|need_followup|confirm|reject), reply, extracted_data, needs_followup, missing_fields, special_requests. Règles: 1) Si le client dit seulement bonjour, présente-toi brièvement et demande les infos nécessaires. 2) Si la demande est incomplète, demande seulement ce qui manque. 3) Si la demande mentionne des besoins spéciaux (chaise bébé, terrasse, accès PMR, allergies, coin calme, non-fumeur, fumeur, anniversaire, etc.), les intégrer dans special_requests et en tenir compte. 4) Ne jamais inventer une date/heure. 5) Ne jamais parler hors JSON. 6) Si le restaurant est fermé ou indisponible, proposer poliment une alternative si possible. 7) Si le message ne semble pas une demande de réservation, rediriger avec tact vers la prise de réservation."
          },
          {
            "role": "user",
            "content": "Contexte restaurant: {{ JSON.stringify($json) }}\n\nMessage client brut: {{$json.raw_message}}\n\nRéponds en JSON strict."
          }
        ],
        "responseFormat": "jsonObject"
      },
      "id": "AIAgent",
      "name": "AI Agent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 4,
      "position": [
        1600,
        320
      ],
      "credentials": {
        "openAiApi": {
          "name": "openai-account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nconst extracted = input.extracted_data ?? {};\nconst specialRequests = Array.isArray(input.special_requests) ? input.special_requests : [];\nconst missingFields = Array.isArray(input.missing_fields) ? input.missing_fields : [];\n\nreturn [{\n  json: {\n    decision: input.decision ?? 'need_followup',\n    reply: input.reply ?? 'Bonjour, je suis l’assistant de réservation du restaurant. Je peux vous aider à réserver une table. Pouvez-vous me donner la date, l’heure et le nombre de personnes ?',\n    needs_followup: input.needs_followup ?? true,\n    missing_fields: missingFields,\n    special_requests: specialRequests,\n    requested_datetime: extracted.requested_datetime ?? null,\n    party_size: extracted.party_size ?? null,\n    full_name: extracted.full_name ?? null,\n    phone: extracted.phone ?? null,\n    email: extracted.email ?? null,\n    special_request: extracted.special_request ?? null,\n    restaurant_id: $('Normalize Restaurant Context').item.json.restaurant_id,\n    restaurant_name: $('Normalize Restaurant Context').item.json.restaurant_name,\n    restaurant_slug: $('Normalize Restaurant Context').item.json.restaurant_slug,\n    timezone: $('Normalize Restaurant Context').item.json.timezone,\n    default_meal_duration_minutes: $('Normalize Restaurant Context').item.json.default_meal_duration_minutes,\n    cleaning_buffer_minutes: $('Normalize Restaurant Context').item.json.cleaning_buffer_minutes,\n    max_party_size: $('Normalize Restaurant Context').item.json.max_party_size,\n    source: $('Normalize Restaurant Context').item.json.source,\n    channel: $('Normalize Restaurant Context').item.json.channel,\n    to: $('Normalize Restaurant Context').item.json.to,\n    from: $('Normalize Restaurant Context').item.json.from,\n    message: $('Normalize Restaurant Context').item.json.message,\n    raw_message: $('Normalize Restaurant Context').item.json.raw_message,\n    booking_policy: $('Normalize Restaurant Context').item.json.booking_policy,\n    event_notification_policy: $('Normalize Restaurant Context').item.json.event_notification_policy\n  }\n}];"
      },
      "id": "NormalizeAgentOutput",
      "name": "Normalize Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.requested_datetime}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "HasRequestedDatetime",
      "name": "Has requested_datetime?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2040,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM restaurant_closures\nWHERE restaurant_id = {{$json.restaurant_id}}\n  AND is_active = true\n  AND starts_at <= '{{$json.requested_datetime}}'::timestamptz\n  AND ends_at > '{{$json.requested_datetime}}'::timestamptz\nLIMIT 1;"
      },
      "id": "CheckClosure",
      "name": "Check Closure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2260,
        180
      ],
      "credentials": {
        "postgres": {
          "name": "little_africa_nice_postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agent = $('Normalize Agent Output').item.json;\n\nreturn [{\n  json: {\n    decision: 'need_followup',\n    reply: agent.reply,\n    needs_followup: true,\n    missing_fields: agent.missing_fields ?? ['requested_datetime', 'party_size'],\n    special_requests: agent.special_requests ?? [],\n    restaurant_id: agent.restaurant_id,\n    restaurant_name: agent.restaurant_name,\n    restaurant_slug: agent.restaurant_slug,\n    timezone: agent.timezone,\n    requested_datetime: null,\n    party_size: agent.party_size ?? null,\n    source: agent.source,\n    channel: agent.channel,\n    to: agent.to,\n    from: agent.from,\n    message: agent.message,\n    raw_message: agent.raw_message\n  }\n}];"
      },
      "id": "FollowUpNoDatetime",
      "name": "Follow-up Without Datetime",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM clients\nWHERE restaurant_id = {{$json.restaurant_id}}\nAND (\n  ('{{$json.phone || \"\"}}' <> '' AND phone = '{{$json.phone}}')\n  OR\n  ('{{$json.email || \"\"}}' <> '' AND email = '{{$json.email}}')\n)\nLIMIT 1;"
      },
      "id": "FindClient",
      "name": "Find Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2480,
        180
      ],
      "credentials": {
        "postgres": {
          "name": "little_africa_nice_postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.id}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "ClientFound",
      "name": "Client Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2700,
        180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO clients (\n  restaurant_id,\n  full_name,\n  phone,\n  email,\n  is_new_customer,\n  consent_notifications,\n  consent_marketing,\n  created_at,\n  updated_at\n)\nVALUES (\n  {{$json.restaurant_id}},\n  COALESCE(NULLIF('{{$json.full_name || \"\"}}', ''), 'Client'),\n  NULLIF('{{$json.phone || \"\"}}', ''),\n  NULLIF('{{$json.email || \"\"}}', ''),\n  TRUE,\n  TRUE,\n  FALSE,\n  NOW(),\n  NOW()\n)\nRETURNING *;"
      },
      "id": "CreateClient",
      "name": "Create Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2920,
        320
      ],
      "credentials": {
        "postgres": {
          "name": "little_africa_nice_postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"decision\": {{$json.decision ?? 'unknown'}},\n  \"reply\": {{$json.reply ?? 'ok'}},\n  \"missing_fields\": {{$json.missing_fields ?? []}},\n  \"special_requests\": {{$json.special_requests ?? []}}\n}"
      },
      "id": "RespondToWebhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3140,
        320
      ]
    }
  ],
  "connections": {
    "Webhook Inbound": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Has restaurant_slug?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has restaurant_slug?": {
      "main": [
        [
          {
            "node": "Lookup Restaurant by Slug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lookup Restaurant by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Restaurant by Slug": {
      "main": [
        [
          {
            "node": "Normalize Restaurant Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Restaurant by Channel": {
      "main": [
        [
          {
            "node": "Normalize Restaurant Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Restaurant Context": {
      "main": [
        [
          {
            "node": "Restaurant Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant Found?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Normalize Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Agent Output": {
      "main": [
        [
          {
            "node": "Has requested_datetime?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has requested_datetime?": {
      "main": [
        [
          {
            "node": "Check Closure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Follow-up Without Datetime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Closure": {
      "main": [
        [
          {
            "node": "Find Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up Without Datetime": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Client": {
      "main": [
        [
          {
            "node": "Client Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Found?": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "4048874a-81c2-40a1-af86-b347b1504ca9",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-18T17:30:05.822Z",
      "createdAt": "2026-07-18T17:30:05.822Z",
      "role": "workflow:owner",
      "workflowId": "7xWvQc8GeOTrFvEf",
      "projectId": "qCyrAhwkn3YBEnnC",
      "project": {
        "updatedAt": "2026-07-18T16:53:40.765Z",
        "createdAt": "2026-06-26T07:15:48.107Z",
        "id": "qCyrAhwkn3YBEnnC",
        "name": "Jérémy Lemaire <lemaire.jerem@orange.fr>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "1c348afe-df46-47f4-b6d4-933ef081ab0d"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}