template/n8n/workflows/workflows.all.json
[{"updatedAt":"2026-06-26T20:30:54.554Z","createdAt":"2026-06-12T04:37:34.998Z","id":"UgthKUfZdXW385HG","name":"reservation_inbound","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"reservation-inbound","responseMode":"responseNode","options":{}},"id":"bc1546b2-8b7f-4bc7-a9bb-8209913d2850","name":"Webhook Inbound","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[192,592],"webhookId":"c7b91e85-e218-44e9-9e5a-a4159fbca630"},{"parameters":{"jsCode":"const root = $json.body ?? $json;\nconst mail = root.mail ?? root.email ?? null;\nconst call = root.call ?? root;\nconst telegram = root.message?.from ? root.message : null;\n\nfunction clean(v) {\n  return v === undefined || v === null || v === '' || v === 'null' ? null : v;\n}\n\nfunction asString(v) {\n  return v === undefined || v === null ? null : String(v);\n}\n\nconst source =\n  clean(root.source) ??\n  (telegram ? 'telegram' : null) ??\n  (mail ? 'email' : null) ??\n  (root.sms ? 'sms' : null) ??\n  (call?.call_id ? 'call' : null) ??\n  'webhook';\n\nconst channel =\n  clean(root.channel) ??\n  (source === 'telegram' ? 'telegram' :\n   source === 'email' ? 'mail' :\n   source === 'sms' ? 'sms' :\n   source === 'call' ? 'phone' :\n   'webhook');\n\nconst isTelegram = source === 'telegram' || !!telegram;\nconst tg = telegram ?? {};\nconst tgFrom = tg.from ?? {};\nconst tgChat = tg.chat ?? {};\n\nconst emailValue =\n  clean(root.email) ??\n  clean(mail?.from) ??\n  clean(mail?.sender) ??\n  clean(mail?.reply_to) ??\n  null;\n\nconst phoneValue =\n  clean(root.phone) ??\n  clean(root.from) ??\n  clean(root.sms?.from) ??\n  clean(root.phone_number) ??\n  clean(call?.from) ??\n  clean(call?.caller) ??\n  (isTelegram ? null : null);\n\nconst fullNameValue =\n  clean(root.full_name) ??\n  clean(mail?.from_name) ??\n  clean(mail?.name) ??\n  (isTelegram ? [tgFrom.first_name, tgFrom.last_name].filter(Boolean).join(' ') || null : null);\n\nconst restaurantSlug =\n  clean(root.restaurant_slug) ??\n  clean(root.slug) ??\n  null;\n\nconst toValue =\n  clean(root.to) ??\n  clean(mail?.to) ??\n  clean(root.sms?.to) ??\n  (isTelegram ? asString(tgChat.id) : null) ??\n  null;\n\nconst fromValue =\n  clean(root.from) ??\n  clean(mail?.from) ??\n  clean(root.sms?.from) ??\n  (isTelegram ? asString(tgFrom.id) : null) ??\n  null;\n\nconst messageValue =\n  clean(root.text) ??\n  clean(mail?.text) ??\n  clean(mail?.subject) ??\n  clean(root.sms?.text) ??\n  (isTelegram ? clean(tg.text) : null) ??\n  '';\n\nconst rawMessageValue = messageValue;\n\nconst conversation_id =\n  clean(root.conversation_id) ??\n  (isTelegram ? `telegram-${tgChat.id ?? tgFrom.id ?? Date.now()}` : null) ??\n  (source === 'email' ? `email-${clean(mail?.message_id) ?? Date.now()}` : null) ??\n  (source === 'sms' ? `sms-${phoneValue ?? Date.now()}` : null) ??\n  (source === 'call' ? `call-${clean(call?.call_id) ?? Date.now()}` : null) ??\n  (phoneValue ? `phone-${phoneValue}` : null) ??\n  `anon-${Date.now()}`;\n\nreturn [{\n  json: {\n    source,\n    channel,\n    telegram_chat_id: isTelegram ? asString(tgChat.id) : null,\n    user_message: messageValue,\n    restaurant_slug: restaurantSlug,\n    to: toValue,\n    from: fromValue,\n    phone: clean(root.phone) ?? phoneValue,\n    email: emailValue,\n    full_name: fullNameValue,\n    message: messageValue,\n    raw_message: rawMessageValue,\n    intent: clean(root.intent),\n    requested_datetime: clean(root.requested_datetime),\n    party_size: clean(root.party_size),\n    special_request: clean(root.special_request),\n    call_id: clean(root.call_id) ?? clean(call?.call_id),\n    call_status: clean(root.call_status) ?? clean(call?.status),\n    conversation_id\n  }\n}];\n"},"id":"4dbe6432-8ae5-4fe7-8ce5-420a84b044e6","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,592]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.restaurant_slug}}","operation":"notEmpty"}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1}},"options":{}},"id":"6f3bd19e-d318-4593-93a7-cdd92030b893","name":"Has restaurant_slug?","type":"n8n-nodes-base.if","typeVersion":2,"position":[656,592]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  r.id AS restaurant_id,\n  r.slug,\n  r.name,\n  r.timezone,\n  s.default_meal_duration_minutes,\n  s.cleaning_buffer_minutes,\n  s.grace_delay_minutes,\n  s.max_party_size,\n  s.allow_combined_tables,\n  s.reminder_days_before,\n  s.reminder_hour,\n  s.reminder_channel,\n  s.booking_policy,\n  s.event_notification_policy\nFROM restaurants r\nJOIN restaurant_settings s ON s.restaurant_id = r.id\nWHERE r.slug = '{{$json.restaurant_slug}}'\n  AND r.is_active = true\nLIMIT 1;","options":{}},"id":"8eca8339-cc5e-40b2-9b50-d1dc0e7d19c9","name":"Lookup Restaurant by Slug","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[896,464],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  r.id AS restaurant_id,\n  r.slug,\n  r.name,\n  r.timezone,\n  s.default_meal_duration_minutes,\n  s.cleaning_buffer_minutes,\n  s.grace_delay_minutes,\n  s.max_party_size,\n  s.allow_combined_tables,\n  s.reminder_days_before,\n  s.reminder_hour,\n  s.reminder_channel,\n  s.booking_policy,\n  s.event_notification_policy\nFROM restaurant_channels c\nJOIN restaurants r ON r.id = c.restaurant_id\nJOIN restaurant_settings s ON s.restaurant_id = r.id\nWHERE c.is_active = true\n  AND r.is_active = true\n  AND c.channel_type = '{{$json.source}}'\n  AND c.channel_value = '{{$json.to}}'\nLIMIT 1;","options":{}},"id":"4922e8f7-1bb7-4cd8-989f-31b6f3e5d78f","name":"Lookup Restaurant by Channel","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[896,784],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"jsCode":"const input = $json;\nconst original = $('Normalize Input').item.json;\n\nconst FALLBACK_RESTAURANT_ID = 1;\nconst FALLBACK_RESTAURANT_SLUG = 'thysiane-house';\nconst FALLBACK_RESTAURANT_NAME = 'Thysiane House';\n\nreturn [{\n  json: {\n    restaurant_id: input.restaurant_id ?? FALLBACK_RESTAURANT_ID,\n    restaurant_slug: input.slug ?? FALLBACK_RESTAURANT_SLUG,\n    restaurant_name: input.name ?? FALLBACK_RESTAURANT_NAME,\n    timezone: input.timezone ?? 'Europe/Paris',\n\n    restaurant_lookup_ok: !!input.restaurant_id,\n    restaurant_used_fallback: !input.restaurant_id,\n\n    default_meal_duration_minutes: input.default_meal_duration_minutes ?? 120,\n    cleaning_buffer_minutes: input.cleaning_buffer_minutes ?? 15,\n    grace_delay_minutes: input.grace_delay_minutes ?? 10,\n    max_party_size: input.max_party_size ?? 12,\n    allow_combined_tables: input.allow_combined_tables ?? false,\n    reminder_days_before: input.reminder_days_before ?? 1,\n    reminder_hour: input.reminder_hour ?? 9,\n    reminder_channel: input.reminder_channel ?? 'telegram',\n    booking_policy: input.booking_policy ?? null,\n    event_notification_policy: input.event_notification_policy ?? null,\n\n    source: original.source ?? input.source ?? null,\n    channel: original.channel ?? input.channel ?? null,\n    to: original.to ?? input.to ?? null,\n    from: original.from ?? input.from ?? null,\n    telegram_chat_id: original.telegram_chat_id ?? original.to ?? null,\n\n    phone: original.phone ?? input.phone ?? null,\n    email: original.email ?? input.email ?? null,\n    full_name: original.full_name ?? input.full_name ?? null,\n    message: original.message ?? input.message ?? '',\n    raw_message: original.raw_message ?? input.raw_message ?? '',\n    intent: original.intent ?? input.intent ?? null,\n    requested_datetime: original.requested_datetime ?? input.requested_datetime ?? null,\n    party_size: original.party_size ?? input.party_size ?? null,\n    special_request: original.special_request ?? input.special_request ?? null,\n    call_id: original.call_id ?? input.call_id ?? null,\n    call_status: original.call_status ?? input.call_status ?? null,\n    conversation_id: original.conversation_id ?? input.conversation_id ?? null\n  }\n}];"},"id":"b9caa35c-f1fd-4b4e-a0dd-fab7f320e8e4","name":"Normalize Restaurant Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,592]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.restaurant_id}}","operation":"notEmpty"}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1}},"options":{}},"id":"80a43a54-3822-4d68-bdfe-0310075da9f9","name":"Restaurant Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1424,592]},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS conversation_sessions (\n  id BIGSERIAL PRIMARY KEY,\n  restaurant_id BIGINT NOT NULL,\n  conversation_id TEXT NOT NULL,\n  state JSONB NOT NULL DEFAULT '{}'::jsonb,\n  last_message TEXT,\n  last_agent_reply TEXT,\n  status TEXT NOT NULL DEFAULT 'active',\n  updated_at TIMESTAMPTZ NOT NULL DEFAULT now(),\n  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),\n  UNIQUE (restaurant_id, conversation_id)\n);","options":{}},"id":"41896736-ef7b-4f29-b106-e3ba5bbd2cff","name":"Ensure Conversation Sessions Table","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1616,352],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM conversation_sessions\nWHERE restaurant_id = {{ $('Normalize Restaurant Context').item.json.restaurant_id }}\n  AND conversation_id = '{{ $('Normalize Input').item.json.conversation_id }}'\nLIMIT 1;","options":{}},"id":"531121e9-1fc3-4ae7-a144-dc6a28560d75","name":"Load Conversation Session","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2176,224],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"jsCode":"const restaurant = $('Normalize Restaurant Context').item.json;\nconst input = $('Normalize Input').item.json;\nconst loadedSession = $('Load Conversation Session').item.json;\n\nreturn [{\n  json: {\n    ...restaurant,\n\n    telegram_chat_id: input.telegram_chat_id ?? null,\n    user_message: input.user_message ?? '',\n    raw_message: input.raw_message ?? '',\n    message: input.message ?? input.user_message ?? '',\n    conversation_id: input.conversation_id ?? null,\n\n    source: input.source ?? restaurant.source ?? null,\n    channel: input.channel ?? restaurant.channel ?? null,\n    to: input.to ?? restaurant.to ?? null,\n    from: input.from ?? restaurant.from ?? null,\n    phone: input.phone ?? restaurant.phone ?? null,\n    email: input.email ?? restaurant.email ?? null,\n    full_name: input.full_name ?? restaurant.full_name ?? null,\n\n    intent: input.intent ?? null,\n    requested_datetime: input.requested_datetime ?? null,\n    party_size: input.party_size ?? null,\n    special_request: input.special_request ?? null,\n    call_id: input.call_id ?? null,\n    call_status: input.call_status ?? null,\n\n    session_state: loadedSession.state ?? {},\n    session_id: loadedSession.id ?? null,\n    session_status: loadedSession.status ?? 'new'\n  }\n}];\n"},"id":"663e0932-1045-4f53-94ba-4f6f0f10a221","name":"Merge Session Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,224]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2512,528],"id":"af3222ed-fcb0-4a5c-b7fb-9de014d548e6","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bwymyf0M179cgw6O","name":"OpenAI account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ String($json.restaurant_id || 'restaurant') + ':' + String($json.conversation_id || $json.from || $json.phone || 'default-session') }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[2720,512],"id":"e7c273d7-0cb9-424f-b702-f8c82188791b","name":"Simple Memory"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\"output\"],\n  \"properties\": {\n    \"output\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"decision\",\n        \"reply\",\n        \"needs_followup\",\n        \"missing_fields\",\n        \"special_requests\",\n        \"extracted_data\"\n      ],\n      \"properties\": {\n        \"decision\": {\n          \"type\": \"string\",\n          \"enum\": [\"need_followup\", \"confirm\", \"unavailable\", \"cancel\", \"unknown\", \"technical_error\"]\n        },\n        \"reply\": {\n          \"type\": \"string\"\n        },\n        \"needs_followup\": {\n          \"type\": \"boolean\"\n        },\n        \"missing_fields\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"special_requests\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"extracted_data\": {\n          \"type\": \"object\",\n          \"additionalProperties\": false,\n          \"required\": [\n            \"requested_datetime\",\n            \"party_size\",\n            \"full_name\",\n            \"phone\",\n            \"email\",\n            \"special_request\"\n          ],\n          \"properties\": {\n            \"requested_datetime\": {\n              \"type\": [\"string\", \"null\"]\n            },\n            \"party_size\": {\n              \"type\": [\"number\", \"null\"]\n            },\n            \"full_name\": {\n              \"type\": [\"string\", \"null\"]\n            },\n            \"phone\": {\n              \"type\": [\"string\", \"null\"]\n            },\n            \"email\": {\n              \"type\": [\"string\", \"null\"]\n            },\n            \"special_request\": {\n              \"type\": [\"string\", \"null\"]\n            }\n          }\n        }\n      }\n    }\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2976,544],"id":"d82502e7-a45d-45e9-8dfc-707bcb2357f3","name":"Structured Output Parser1","disabled":true},{"parameters":{"jsCode":"const sessionContext = $('Merge Session Context').item.json;\n\nfunction extractFirstJsonObject(text) {\n  if (typeof text !== 'string') return text;\n\n  let s = text.trim();\n\n  s = s.replace(/^```json\\s*/i, '');\n  s = s.replace(/^```\\s*/i, '');\n  s = s.replace(/```$/i, '');\n  s = s.trim();\n\n  const start = s.indexOf('{');\n  if (start === -1) return s;\n\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n\n  for (let i = start; i < s.length; i++) {\n    const ch = s[i];\n\n    if (escaped) {\n      escaped = false;\n      continue;\n    }\n\n    if (ch === '\\\\') {\n      escaped = true;\n      continue;\n    }\n\n    if (ch === '\"') {\n      inString = !inString;\n      continue;\n    }\n\n    if (!inString) {\n      if (ch === '{') depth++;\n      if (ch === '}') depth--;\n\n      if (depth === 0) {\n        return s.slice(start, i + 1);\n      }\n    }\n  }\n\n  return s.slice(start);\n}\n\nfunction keepNewOrPrevious(newValue, oldValue) {\n  if (\n    newValue === undefined ||\n    newValue === null ||\n    newValue === '' ||\n    newValue === 'null'\n  ) {\n    return oldValue ?? null;\n  }\n\n  return newValue;\n}\n\nfunction parsePartySize(text) {\n  if (!text) return null;\n\n  const cleanText = text.toLowerCase();\n\n  const words = {\n    'un': 1,\n    'une': 1,\n    'deux': 2,\n    'trois': 3,\n    'quatre': 4,\n    'cinq': 5,\n    'six': 6,\n    'sept': 7,\n    'huit': 8,\n    'neuf': 9,\n    'dix': 10,\n    'onze': 11,\n    'douze': 12\n  };\n\n  let match;\n\n  // \"7 personnes\", \"7 pers\", \"7 couverts\"\n  match = cleanText.match(/\\b(\\d{1,2})\\s*(?:personnes?|pers|couverts?)\\b/i);\n  if (match) return Number(match[1]);\n\n  // \"table de 7\", \"table pour 7\"\n  match = cleanText.match(/\\btable\\s+(?:de|pour)\\s+(\\d{1,2})\\b/i);\n  if (match) return Number(match[1]);\n\n  // \"réservation de 7\", \"réservation pour 7\"\n  match = cleanText.match(/\\bréservation\\s+(?:de|pour)\\s+(\\d{1,2})\\b/i);\n  if (match) return Number(match[1]);\n\n  // \"nous serons 7\", \"on sera 7\", \"nous sommes 7\", \"on est 7\"\n  match = cleanText.match(/\\b(?:nous serons|on sera|nous sommes|on est)\\s+(\\d{1,2})\\b/i);\n  if (match) return Number(match[1]);\n\n  // \"anniversaire de 6 personnes\"\n  match = cleanText.match(/\\bde\\s+(\\d{1,2})\\s*(?:personnes?|pers|couverts?)\\b/i);\n  if (match) return Number(match[1]);\n\n  // \"pour deux personnes\", \"deux personnes\", \"table de sept\"\n  for (const [word, value] of Object.entries(words)) {\n    const explicitWord = new RegExp(`\\\\b${word}\\\\s*(?:personnes?|pers|couverts?)\\\\b`, 'i');\n    if (explicitWord.test(cleanText)) return value;\n\n    const tableWord = new RegExp(`\\\\btable\\\\s+(?:de|pour)\\\\s+${word}\\\\b`, 'i');\n    if (tableWord.test(cleanText)) return value;\n\n    const peopleWord = new RegExp(`\\\\b(?:nous serons|on sera|nous sommes|on est)\\\\s+${word}\\\\b`, 'i');\n    if (peopleWord.test(cleanText)) return value;\n  }\n\n  return null;\n}\n\nfunction parseTime(text) {\n  if (!text) return null;\n\n  const cleanText = text.toLowerCase();\n\n  let match = cleanText.match(/\\b(\\d{1,2})h(\\d{2})?\\b/i);\n  if (match) {\n    const hour = String(match[1]).padStart(2, '0');\n    const minute = String(match[2] || '00').padStart(2, '0');\n    return `${hour}:${minute}:00`;\n  }\n\n  match = cleanText.match(/\\b(\\d{1,2})[:.](\\d{2})\\b/i);\n  if (match) {\n    const hour = String(match[1]).padStart(2, '0');\n    const minute = String(match[2]).padStart(2, '0');\n    return `${hour}:${minute}:00`;\n  }\n\n  if (cleanText.includes('midi trente')) return '12:30:00';\n  if (cleanText.includes('midi')) return '12:00:00';\n\n  // \"mercredi soir\", \"dimanche soir\", \"ce soir\", etc.\n  if (cleanText.includes('soir')) return '20:00:00';\n\n  if (cleanText.includes('déjeuner') || cleanText.includes('dejeuner')) return '12:00:00';\n  if (cleanText.includes('dîner') || cleanText.includes('diner')) return '20:00:00';\n\n  return null;\n}\n\nfunction getParisNow(timezone = 'Europe/Paris') {\n  return new Date(\n    new Date().toLocaleString('en-US', { timeZone: timezone })\n  );\n}\n\nfunction getTimezoneOffsetString(date, timezone = 'Europe/Paris') {\n  try {\n    const parts = new Intl.DateTimeFormat('en-US', {\n      timeZone: timezone,\n      timeZoneName: 'shortOffset'\n    }).formatToParts(date);\n\n    const tz = parts.find(p => p.type === 'timeZoneName')?.value || 'GMT+1';\n    const match = tz.match(/GMT([+-])(\\d{1,2})(?::(\\d{2}))?/);\n\n    if (!match) return '+01:00';\n\n    const sign = match[1];\n    const hour = String(match[2]).padStart(2, '0');\n    const minute = String(match[3] || '00').padStart(2, '0');\n\n    return `${sign}${hour}:${minute}`;\n  } catch (e) {\n    return '+01:00';\n  }\n}\n\nfunction getNextWeekdayDate(baseDate, weekdayName) {\n  const days = {\n    'dimanche': 0,\n    'lundi': 1,\n    'mardi': 2,\n    'mercredi': 3,\n    'jeudi': 4,\n    'vendredi': 5,\n    'samedi': 6\n  };\n\n  const targetDay = days[weekdayName];\n  if (targetDay === undefined) return null;\n\n  const result = new Date(baseDate);\n  const currentDay = result.getDay();\n\n  let diff = targetDay - currentDay;\n\n  // Si le jour est aujourd’hui ou déjà passé, on prend le prochain.\n  if (diff <= 0) {\n    diff += 7;\n  }\n\n  result.setDate(result.getDate() + diff);\n\n  return result;\n}\n\nfunction buildDatetime(text, timezone = 'Europe/Paris') {\n  if (!text) return null;\n\n  const cleanText = text.toLowerCase();\n  const time = parseTime(cleanText);\n\n  // Si pas d’heure exploitable, on ne fabrique pas de fausse date complète.\n  if (!time) return null;\n\n  const now = getParisNow(timezone);\n  let target = new Date(now);\n\n  const months = {\n    'janvier': 0,\n    'février': 1,\n    'fevrier': 1,\n    'mars': 2,\n    'avril': 3,\n    'mai': 4,\n    'juin': 5,\n    'juillet': 6,\n    'août': 7,\n    'aout': 7,\n    'septembre': 8,\n    'octobre': 9,\n    'novembre': 10,\n    'décembre': 11,\n    'decembre': 11\n  };\n\n  // \"mercredi 17 juin\", \"17 juin\"\n  const explicitDate = cleanText.match(/\\b(?:dimanche|lundi|mardi|mercredi|jeudi|vendredi|samedi)?\\s*(\\d{1,2})\\s+(janvier|février|fevrier|mars|avril|mai|juin|juillet|août|aout|septembre|octobre|novembre|décembre|decembre)\\b/i);\n\n  if (explicitDate) {\n    const day = Number(explicitDate[1]);\n    const month = months[explicitDate[2].toLowerCase()];\n    let year = now.getFullYear();\n\n    target = new Date(now);\n    target.setFullYear(year, month, day);\n\n    // Si la date est déjà passée, on prend l’année suivante.\n    if (target < now) {\n      target.setFullYear(year + 1, month, day);\n    }\n  } else {\n    const weekdayMatch = cleanText.match(/\\b(dimanche|lundi|mardi|mercredi|jeudi|vendredi|samedi)\\b/i);\n\n    if (weekdayMatch) {\n      const weekday = weekdayMatch[1].toLowerCase();\n      target = getNextWeekdayDate(now, weekday) || target;\n    } else if (cleanText.includes('demain')) {\n      target.setDate(target.getDate() + 1);\n    } else if (cleanText.includes('ce soir')) {\n      // aujourd’hui\n    }\n  }\n\n  const yyyy = target.getFullYear();\n  const mm = String(target.getMonth() + 1).padStart(2, '0');\n  const dd = String(target.getDate()).padStart(2, '0');\n\n  const offset = getTimezoneOffsetString(target, timezone);\n\n  return `${yyyy}-${mm}-${dd}T${time}${offset}`;\n}\n\nfunction hasDateWithoutTime(text) {\n  if (!text) return false;\n\n  const cleanText = text.toLowerCase();\n\n  const hasDate =\n    /\\b(demain|dimanche|lundi|mardi|mercredi|jeudi|vendredi|samedi|\\d{1,2}\\s+(janvier|février|fevrier|mars|avril|mai|juin|juillet|août|aout|septembre|octobre|novembre|décembre|decembre))\\b/i.test(cleanText);\n\n  const hasTime = !!parseTime(cleanText);\n\n  return hasDate && !hasTime;\n}\n\nfunction parseFullName(text, previousState) {\n  if (!text) return null;\n\n  const cleanText = text.trim();\n\n  // Cas explicites :\n  // \"au nom de Jeremy\"\n  // \"nom de Jeremy\"\n  // \"réservation au nom de Jeremy\"\n  const match = cleanText.match(/\\b(?:au nom de|nom de|pour le nom|réservation au nom de)\\s+([a-zA-ZÀ-ÿ' -]{2,60})$/i);\n  if (match) {\n    return match[1].trim();\n  }\n\n  const waitingForName =\n    Array.isArray(previousState.missing_fields) &&\n    previousState.missing_fields.includes('full_name');\n\n  const stageWaitingName =\n    previousState.stage === 'collecting_information' ||\n    previousState.stage === 'waiting_user';\n\n  const looksLikeOnlyName =\n    /^[a-zA-ZÀ-ÿ' -]{2,40}$/.test(cleanText) &&\n    cleanText.split(/\\s+/).length <= 3;\n\n  const forbiddenWords = [\n    'bonjour',\n    'salut',\n    'hello',\n    'oui',\n    'non',\n    'ok',\n    'okay',\n    'je confirme',\n    'confirmé',\n    'confirme',\n    'c’est bon',\n    \"c'est bon\",\n    'c’est ça',\n    \"c'est ça\",\n    'exactement',\n    'parfait',\n    'merci',\n    'validé',\n    'valide',\n    'c’est correct',\n    \"c'est correct\",\n    'annuler',\n    'annule'\n  ];\n\n  const lower = cleanText.toLowerCase();\n\n  if (\n    (waitingForName || stageWaitingName) &&\n    looksLikeOnlyName &&\n    !forbiddenWords.includes(lower)\n  ) {\n    return cleanText;\n  }\n\n  return null;\n}\n\nfunction parseSpecialRequest(text) {\n  if (!text) return null;\n\n  const cleanText = text.toLowerCase();\n  const requests = [];\n\n  if (cleanText.includes('terrasse')) {\n    requests.push('Table en terrasse');\n  }\n\n  if (cleanText.includes('anniversaire')) {\n    requests.push('Anniversaire');\n  }\n\n  if (cleanText.includes('chaise bébé') || cleanText.includes('chaise bebe')) {\n    requests.push('Chaise bébé');\n  }\n\n  if (cleanText.includes('allergie')) {\n    requests.push('Allergie signalée');\n  }\n\n  if (cleanText.includes('calme')) {\n    requests.push('Table au calme');\n  }\n\n  if (cleanText.includes('enfant') || cleanText.includes('enfants')) {\n    requests.push('Présence d’enfant(s)');\n  }\n\n  return requests.length > 0 ? requests.join(', ') : null;\n}\n\nfunction isNewReservationRequest(text) {\n  if (!text) return false;\n\n  const cleanText = text.toLowerCase();\n\n  const hasReservationIntent =\n    /\\b(réserver|reserver|réservation|reservation|table|manger|déjeuner|dejeuner|dîner|diner)\\b/i.test(cleanText);\n\n  const hasModificationIntent =\n    /\\b(modifier|changer|décaler|decaler|annuler|déplacer|deplacer|remplacer|finalement|plutôt|plutot|au lieu de)\\b/i.test(cleanText);\n\n  const hasDateOrTimeOrParty =\n    /\\b(ce soir|demain|dimanche|lundi|mardi|mercredi|jeudi|vendredi|samedi|\\d{1,2}h|\\d{1,2}:\\d{2}|\\d{1,2}\\s*(personnes?|pers|couverts?)|un|une|deux|trois|quatre|cinq|six|sept|huit|neuf|dix)\\b/i.test(cleanText);\n\n  return hasReservationIntent && hasDateOrTimeOrParty && !hasModificationIntent;\n}\n\nfunction formatDateHumanFr(iso, timezone = 'Europe/Paris') {\n  if (!iso) return null;\n\n  const d = new Date(iso);\n\n  const date = d.toLocaleDateString('fr-FR', {\n    weekday: 'long',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n    timeZone: timezone\n  });\n\n  const time = d.toLocaleTimeString('fr-FR', {\n    hour: '2-digit',\n    minute: '2-digit',\n    timeZone: timezone\n  });\n\n  return `${date} à ${time}`;\n}\n\nlet payload = null;\nlet parse_error = null;\nlet raw = $json;\n\ntry {\n  let value = $json.output ?? $json.text ?? $json.response ?? $json;\n\n  if (typeof value === 'string') {\n    value = extractFirstJsonObject(value);\n    payload = JSON.parse(value);\n  } else if (typeof value === 'object' && value !== null) {\n    if (typeof value.output === 'string') {\n      const cleaned = extractFirstJsonObject(value.output);\n      payload = JSON.parse(cleaned);\n    } else if (typeof value.output === 'object' && value.output !== null) {\n      payload = value.output;\n    } else {\n      payload = value;\n    }\n  }\n} catch (e) {\n  parse_error = e.message;\n}\n\nconst previousState = sessionContext.session_state || {};\nconst extracted = payload?.extracted_data ?? {};\n\nconst message =\n  sessionContext.user_message ||\n  sessionContext.raw_message ||\n  sessionContext.message ||\n  '';\n\nconst newReservationRequest = isNewReservationRequest(message);\n\nconst parsedDatetime = buildDatetime(\n  message,\n  sessionContext.timezone ?? 'Europe/Paris'\n);\n\nconst parsedPartySize = parsePartySize(message);\n\nconst parsedFullName = parseFullName(message, previousState);\n\nconst parsedSpecialRequest = parseSpecialRequest(message);\n\nconst dateWithoutTime = hasDateWithoutTime(message);\n\n// Nouvelle réservation : on réinitialise date/personnes/demande spéciale.\n// Mais on conserve le nom connu du client.\nconst requested_datetime = newReservationRequest\n  ? keepNewOrPrevious(extracted.requested_datetime ?? parsedDatetime, null)\n  : keepNewOrPrevious(extracted.requested_datetime ?? parsedDatetime, previousState.requested_datetime);\n\nconst party_size = newReservationRequest\n  ? keepNewOrPrevious(extracted.party_size ?? parsedPartySize, null)\n  : keepNewOrPrevious(extracted.party_size ?? parsedPartySize, previousState.party_size);\n\nconst full_name = keepNewOrPrevious(\n  extracted.full_name ?? parsedFullName,\n  previousState.full_name\n);\n\nconst phone = keepNewOrPrevious(\n  extracted.phone,\n  previousState.phone\n);\n\nconst email = keepNewOrPrevious(\n  extracted.email,\n  previousState.email\n);\n\nconst special_request = newReservationRequest\n  ? keepNewOrPrevious(extracted.special_request ?? parsedSpecialRequest, null)\n  : keepNewOrPrevious(extracted.special_request ?? parsedSpecialRequest, previousState.special_request);\n\nconst missing_fields = [];\n\nif (!requested_datetime) missing_fields.push('requested_datetime');\nif (!party_size) missing_fields.push('party_size');\nif (!full_name) missing_fields.push('full_name');\n\nlet reply =\n  payload?.reply ??\n  \"Bonjour, pouvez-vous me préciser la date, l’heure et le nombre de personnes pour votre réservation ?\";\n\nconst greetingName = full_name ? ` ${full_name}` : '';\n\n// Cas : date repérée mais heure manquante\nif (!requested_datetime && party_size && dateWithoutTime) {\n  reply =\n`Bonjour${greetingName}, j’ai bien noté votre demande pour ${party_size} personne${Number(party_size) > 1 ? 's' : ''}${special_request ? `\\n📝 Demande : ${special_request}` : ''}.\n\nIl me manque juste l’heure souhaitée pour finaliser la demande.`;\n}\n\n// Cas : date/heure OK + nombre OK, mais nom manquant\nif (requested_datetime && party_size && !full_name) {\n  reply =\n`Très bien, j’ai noté votre demande.\n\n📅 Date : ${formatDateHumanFr(requested_datetime, sessionContext.timezone ?? 'Europe/Paris')}\n👥 Nombre de personnes : ${party_size}${special_request ? `\\n📝 Demande : ${special_request}` : ''}\n\nÀ quel nom dois-je mettre la réservation ?`;\n}\n\n// Cas : tout est OK\nif (requested_datetime && party_size && full_name) {\n  const humanDate = formatDateHumanFr(\n    requested_datetime,\n    sessionContext.timezone ?? 'Europe/Paris'\n  );\n\n  reply =\n`Bonjour${greetingName}, je récapitule votre réservation :\n\n📅 Date : ${humanDate}\n👤 Nom : ${full_name}\n👥 Nombre de personnes : ${party_size}${special_request ? `\\n📝 Demande : ${special_request}` : ''}\n\nPouvez-vous confirmer ?`;\n}\n\nreturn [\n  {\n    json: {\n      telegram_chat_id:\n        sessionContext.telegram_chat_id ??\n        sessionContext.to ??\n        sessionContext.from ??\n        null,\n\n      reply,\n      decision: missing_fields.length > 0 ? 'need_followup' : 'ready_to_check_availability',\n      needs_followup: missing_fields.length > 0,\n\n      missing_fields,\n\n      special_requests: Array.isArray(payload?.special_requests)\n        ? payload.special_requests\n        : [],\n\n      requested_datetime,\n      party_size,\n      full_name,\n      phone,\n      email,\n      special_request,\n\n      restaurant_id: sessionContext.restaurant_id ?? null,\n      restaurant_name: sessionContext.restaurant_name ?? null,\n      restaurant_slug: sessionContext.restaurant_slug ?? null,\n      timezone: sessionContext.timezone ?? 'Europe/Paris',\n      default_meal_duration_minutes: sessionContext.default_meal_duration_minutes ?? 120,\n      cleaning_buffer_minutes: sessionContext.cleaning_buffer_minutes ?? 15,\n      max_party_size: sessionContext.max_party_size ?? 12,\n\n      source: sessionContext.source ?? null,\n      channel: sessionContext.channel ?? null,\n      to: sessionContext.to ?? null,\n      from: sessionContext.from ?? null,\n      phone_input: sessionContext.phone ?? null,\n\n      message,\n      raw_message: message,\n\n      booking_policy: sessionContext.booking_policy ?? null,\n      event_notification_policy: sessionContext.event_notification_policy ?? null,\n      conversation_id: sessionContext.conversation_id ?? null,\n      session_state: previousState,\n\n      parser_ok: !!payload?.reply,\n      parse_error,\n\n      new_reservation_request: newReservationRequest,\n      date_without_time: dateWithoutTime,\n\n      manual_datetime_parser_used: !!parsedDatetime,\n      manual_party_size_parser_used: !!parsedPartySize,\n      manual_full_name_parser_used: !!parsedFullName,\n      manual_special_request_parser_used: !!parsedSpecialRequest,\n\n      parsed_full_name: parsedFullName,\n      parsed_special_request: parsedSpecialRequest,\n\n      raw_agent_output: raw,\n      parsed_agent_payload: payload\n    }\n  }\n];"},"id":"9ccf4eb7-e83f-46c6-b9ef-59ac07939c36","name":"Normalize Agent Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[3184,80]},{"parameters":{"jsCode":"const dt = $json.requested_datetime;\nreturn [{ json: { ...$json, requested_datetime: (dt === null || dt === undefined || dt === '' || dt === 'null') ? null : dt } }];"},"id":"81ef5ac1-504f-4ab6-b679-770b3ff47735","name":"Normalize Datetime","type":"n8n-nodes-base.code","typeVersion":2,"position":[3392,80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"39a8202f-2e38-4b04-9f51-d2483372a398","leftValue":"={{ $json.has_requested_datetime }}","rightValue":"=true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"id":"004d64dc-197f-4b35-bcdb-26d05e5098a9","name":"Has requested_datetime?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3824,384]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  EXISTS (\n    SELECT 1\n    FROM restaurant_closures\n    WHERE restaurant_id = {{ $json.restaurant_id }}\n      AND is_active = true\n      AND starts_at <= '{{ $json.requested_datetime }}'::timestamptz\n      AND ends_at > '{{ $json.requested_datetime }}'::timestamptz\n  ) AS is_closed,\n  (\n    SELECT reason\n    FROM restaurant_closures\n    WHERE restaurant_id = {{ $json.restaurant_id }}\n      AND is_active = true\n      AND starts_at <= '{{ $json.requested_datetime }}'::timestamptz\n      AND ends_at > '{{ $json.requested_datetime }}'::timestamptz\n    ORDER BY starts_at DESC\n    LIMIT 1\n  ) AS closure_reason;","options":{}},"id":"17012c33-16ca-4433-ba11-89190e45dcd6","name":"Check Closure","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[4208,128],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"jsCode":"const agent = $json;\n\nreturn [{\n  json: {\n    decision: 'need_followup',\n    reply: agent.reply,\n    needs_followup: true,\n    missing_fields: agent.missing_fields ?? ['requested_datetime', 'party_size'],\n    special_requests: agent.special_requests ?? [],\n\n    restaurant_id: agent.restaurant_id,\n    restaurant_name: agent.restaurant_name,\n    restaurant_slug: agent.restaurant_slug,\n    timezone: agent.timezone,\n\n    requested_datetime: null,\n    party_size: agent.party_size ?? null,\n    full_name: agent.full_name ?? null,\n    phone: agent.phone ?? null,\n    email: agent.email ?? null,\n    special_request: agent.special_request ?? null,\n\n    source: agent.source,\n    channel: agent.channel,\n    to: agent.to,\n    from: agent.from,\n    telegram_chat_id: agent.telegram_chat_id ?? null,\n\n    phone_input: agent.phone_input,\n    message: agent.message,\n    raw_message: agent.raw_message,\n    conversation_id: agent.conversation_id,\n    session_state: agent.session_state\n  }\n}];"},"id":"91eb27fc-e88b-4b6d-bc68-3d56e50dbd16","name":"Follow-up Without Datetime","type":"n8n-nodes-base.code","typeVersion":2,"position":[4880,688]},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM clients\nWHERE restaurant_id = {{ $json.restaurant_id ?? 1 }}\nAND (\n  ('{{ $json.from ?? \"\" }}' <> '' AND phone = '{{ $json.from ?? \"\" }}')\n  OR\n  ('{{ $json.email ?? \"\" }}' <> '' AND email = '{{ $json.email ?? \"\" }}')\n)\nLIMIT 1;","options":{}},"id":"8ea3af0f-d1b0-41ec-ad5b-1bdbe46b7a7d","name":"Find Client","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[4736,128],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO clients (\n  restaurant_id,\n  full_name,\n  phone,\n  email,\n  is_new_customer,\n  consent_notifications,\n  consent_marketing,\n  created_at,\n  updated_at\n)\nVALUES (\n  {{$json.restaurant_id}},\n  COALESCE(NULLIF('{{$json.full_name || \"\"}}', ''), 'Client'),\n  NULLIF('{{$json.phone_input || \"\"}}', ''),\n  NULLIF('{{$json.email || \"\"}}', ''),\n  TRUE,\n  TRUE,\n  FALSE,\n  NOW(),\n  NOW()\n)\nRETURNING *;","options":{}},"id":"4a090102-1bc0-4a44-bc80-4f8133418d9d","name":"Create Client","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[5280,368],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO conversation_sessions (\n  restaurant_id,\n  conversation_id,\n  telegram_chat_id,\n  state,\n  last_message,\n  last_agent_reply,\n  status,\n  updated_at,\n  created_at\n)\nVALUES (\n  {{ $json.restaurant_id_sql }},\n  {{ $json.conversation_id_sql }},\n  {{ $json.telegram_chat_id_sql }},\n  {{ $json.state_sql }},\n  {{ $json.last_message_sql }},\n  {{ $json.last_agent_reply_sql }},\n  {{ $json.status_sql }},\n  NOW(),\n  NOW()\n)\nON CONFLICT (restaurant_id, conversation_id)\nDO UPDATE SET\n  telegram_chat_id = COALESCE(EXCLUDED.telegram_chat_id, conversation_sessions.telegram_chat_id),\n  state = EXCLUDED.state,\n  last_message = EXCLUDED.last_message,\n  last_agent_reply = EXCLUDED.last_agent_reply,\n  status = EXCLUDED.status,\n  updated_at = NOW()\nRETURNING *;","options":{}},"id":"5f0c25bd-44e9-4f26-83db-d8583ed33e16","name":"Upsert Conversation Session","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[6064,624],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"jsCode":"const input = $json;\n\nreturn [{\n  json: {\n    ...input,\n    restaurant_id: input.restaurant_id ?? null,\n    conversation_id: input.conversation_id ?? null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,224],"id":"086d0332-fc10-4c98-9ace-ef8c49eff3ff","name":"Prepare Session Lookup"},{"parameters":{"jsCode":"const dt = $json.requested_datetime;\nconst state = $json.session_state || {};\n\nconst finalDatetime =\n  dt && dt !== 'null' && dt !== ''\n    ? dt\n    : state.requested_datetime ?? null;\n\nreturn [{\n  json: {\n    ...$json,\n    requested_datetime: finalDatetime,\n    has_requested_datetime:\n      finalDatetime !== null &&\n      finalDatetime !== undefined &&\n      finalDatetime !== '' &&\n      finalDatetime !== 'null'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3616,80],"id":"abc24de2-1680-43a9-9fb3-ab9e62423442","name":"Prepare Has Datetime"},{"parameters":{"jsCode":"const dt = $json.requested_datetime;\n\nconst has_requested_datetime =\n  dt !== null &&\n  dt !== undefined &&\n  dt !== '' &&\n  dt !== 'null';\n\nreturn [{\n  json: {\n    ...$json,\n    has_requested_datetime,\n    telegram_chat_id: $json.telegram_chat_id ?? null,\n    reply: $json.reply ?? 'Bonjour'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4016,128],"id":"f9fa13fe-51ed-45eb-a699-3452eb8d2766","name":"Before Check Closure"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.3,"position":[192,816],"id":"645c0229-a80c-4f59-8c77-9aa9b33e4e60","name":"Telegram Inbound","webhookId":"93de50db-fd71-48f2-97e6-aeda23674e94","credentials":{"telegramApi":{"id":"9YijlRwdUvPETdUi","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.telegram_chat_id || $json.to || $json.from }}","text":"={{ $json.last_agent_reply || $json.reply }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5184,1056],"id":"44d8133b-a84a-4a02-8181-e73d7a3b4495","name":"Send a text message","webhookId":"f65933a3-2ea3-44eb-bb6e-0c3cb7b64c4f","credentials":{"telegramApi":{"id":"9YijlRwdUvPETdUi","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"=Contexte restaurant:\n{{ JSON.stringify({\n  restaurant_id: $json.restaurant_id,\n  restaurant_name: $json.restaurant_name,\n  restaurant_slug: $json.restaurant_slug,\n  timezone: $json.timezone,\n  default_meal_duration_minutes: $json.default_meal_duration_minutes,\n  cleaning_buffer_minutes: $json.cleaning_buffer_minutes,\n  max_party_size: $json.max_party_size,\n  booking_policy: $json.booking_policy,\n  event_notification_policy: $json.event_notification_policy\n}) }}\n\nÉtat précédent:\n{{ JSON.stringify($json.session_state || {}) }}\n\nNouveau message client:\n{{ $json.user_message || $json.raw_message || $json.message || '' }}\n\nAujourd’hui:\n{{ $now.toISO() }}\n\nFuseau horaire du restaurant:\n{{ $json.timezone }}\n\nRéponds uniquement en JSON strict selon le schéma attendu.\n\nSi le message client contient déjà la date et le nombre de personnes, ne les redemande pas.\nPour \"demain midi\", interprète \"midi\" comme 12:00.\nPour \"demain soir\", interprète \"soir\" comme 20:00 sauf indication contraire.\nPour \"ce soir\", utilise la date du jour à 20:00 sauf indication contraire.","hasOutputParser":true,"options":{"systemMessage":"Tu es l’agent conversationnel de réservation du restaurant {{ $json.restaurant_name }}.\n\nTon rôle est de discuter naturellement avec le client pour l’aider à réserver une table.\n\nTu dois tenir compte :\n\n* du nouveau message client ;\n* de l’état précédent de la conversation ;\n* des informations déjà connues ;\n* du fuseau horaire du restaurant ;\n* de la politique de réservation du restaurant ;\n* du canal de réception du message.\n\nRègles de conversation :\n\n* Au premier échange, présente-toi brièvement comme l’agent de réservation du restaurant.\n* Ne répète pas toujours la même phrase.\n* Ne redemande jamais une information déjà connue dans l’état précédent.\n* Pose une seule question utile à la fois, sauf si le client vient de commencer la conversation.\n* Si le client donne plusieurs informations dans le même message, extrais-les toutes.\n* Si le client dit “demain midi”, “demain soir”, “ce soir”, “vendredi”, “vers 20h”, convertis en date ISO 8601 quand c’est suffisamment clair.\n* Si la date est ambiguë, demande une précision.\n* Si le nombre de personnes manque, demande-le.\n* Si la date ou l’heure manque, demande-la.\n* Si le nom manque au moment de finaliser la demande, demande-le.\n* Ne confirme jamais définitivement une réservation tant que la disponibilité n’a pas été vérifiée par le workflow.\n* Si toutes les informations nécessaires sont présentes, mets decision = \"ready_to_check_availability\".\n* Mets decision = \"confirm\" uniquement si le workflow a déjà vérifié la disponibilité et que le client confirme explicitement.\n* Reste poli, naturel, court et professionnel.\n* Réponds dans la langue du message reçu, sinon en français.\n\nDans le contexte restaurant, les mots comme \"pizza\", \"table\", \"manger\", \"dîner\", \"déjeuner\" doivent être compris comme une intention de réservation si le client donne une date, une heure ou un nombre de personnes.\n\nExemples :\n- \"Je voudrais une pizza pour deux ce soir à 18h45\" signifie une réservation pour 2 personnes aujourd’hui à 18h45.\n- \"19h ce soir\" signifie aujourd’hui à 19h00.\n- \"pour deux\" signifie party_size = 2.\n- \"pour trois personnes\" signifie party_size = 3.\n\nGestion des corrections :\n\n* Si le client corrige une information précédente, mets à jour l’état existant.\n* “midi” signifie 12:00.\n* “midi trente” signifie 12:30.\n* “demain midi” signifie demain à 12:00 dans le fuseau horaire du restaurant.\n* “demain soir” signifie demain à 20:00 sauf indication contraire.\n* “ce soir” signifie aujourd’hui à 20:00 sauf indication contraire.\n* “au nom de Jérôme” signifie full_name = \"Jérôme\".\n* Si une date existait déjà et que le client corrige seulement l’heure, conserve la date précédente.\n* Si une heure existait déjà et que le client corrige seulement la date, conserve l’heure précédente.\n* Si un nombre de personnes existait déjà et que le client ne le corrige pas, conserve-le.\n* Si le client dit “pour trois personnes”, remplace party_size par 3.\n* Si le client dit “finalement”, “pardon”, “plutôt”, “je voulais dire”, ou “au lieu de”, considère que c’est une correction.\n* Ne réponds jamais que tu n’as pas compris si le message contient une correction exploitable.\n\nInformations minimales nécessaires pour vérifier une disponibilité :\n\n* requested_datetime\n* party_size\n* full_name si possible\n\nInformations de contact :\n\n* Sur Telegram, le téléphone ou l’email ne sont pas obligatoires si telegram_chat_id est disponible.\n* Demande un téléphone ou un email uniquement si la politique du restaurant l’exige ou si le canal ne permet pas de recontacter le client.\n* Si le client donne un téléphone ou un email, extrais-le.\n\nMémoire de conversation :\n- Si une information existe déjà dans l’état précédent, conserve-la sauf si le client la corrige explicitement.\n- Si full_name existe déjà dans l’état précédent et que le client ne donne pas un autre nom, conserve full_name.\n- Si le client dit seulement “c’est bon”, “oui”, “ok”, “je confirme”, utilise les informations déjà connues dans l’état précédent.\n- Ne redemande jamais le nom si full_name existe déjà.\n- Ne redemande jamais la date ou le nombre de personnes si requested_datetime et party_size existent déjà.\n\nFormat de sortie obligatoire :\nTu dois répondre uniquement avec un objet JSON valide.\nNe retourne jamais de markdown.\nNe retourne jamais de bloc ```json.\nNe retourne jamais de texte avant ou après le JSON.\nNe retourne jamais une clé racine \"output\".\nNe retourne jamais de champs supplémentaires.\n\nLes seuls champs autorisés au niveau racine sont :\n\n* decision\n* reply\n* needs_followup\n* missing_fields\n* special_requests\n* extracted_data\n\nLe champ decision doit être une des valeurs suivantes :\n\n* need_followup\n* ready_to_check_availability\n* confirm\n* unavailable\n* cancel\n* unknown\n* technical_error\n\nLe champ needs_followup doit être un booléen true ou false.\n\nLe champ missing_fields doit toujours être un tableau, même vide.\n\nLe champ special_requests doit toujours être un tableau, même vide.\n\nLe champ extracted_data doit toujours contenir exactement :\n\n* requested_datetime\n* party_size\n* full_name\n* phone\n* email\n* special_request\n\nRègles de typage :\n\n* requested_datetime doit être une date ISO 8601 ou null.\n* party_size doit être un nombre ou null.\n* full_name doit être une chaîne ou null.\n* phone doit être une chaîne ou null.\n* email doit être une chaîne ou null.\n* special_request doit être une chaîne ou null.\n* Si une valeur est inconnue, utilise null.\n* N’utilise jamais undefined.\n* N’utilise jamais NaN.\n* N’utilise jamais une date approximative en texte dans requested_datetime.\n\nExemple de sortie valide :\n\n{\n\"decision\": \"need_followup\",\n\"reply\": \"Bonjour, je suis l’agent de réservation du restaurant. Très bien pour demain midi pour 2 personnes. Puis-je avoir votre nom pour la réservation ?\",\n\"needs_followup\": true,\n\"missing_fields\": [\"full_name\"],\n\"special_requests\": [],\n\"extracted_data\": {\n\"requested_datetime\": \"2026-06-15T12:00:00+02:00\",\n\"party_size\": 2,\n\"full_name\": null,\n\"phone\": null,\n\"email\": null,\n\"special_request\": null\n}\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[2864,272],"id":"635e07f6-516b-4bf8-ab0f-1d087bce485a","name":"Agent Conversationnel Restau","notesInFlow":false},{"parameters":{"jsCode":"const s = $('Upsert Conversation Session').item.json;\n\nreturn [{\n  json: {\n    telegram_chat_id: s.telegram_chat_id,\n    conversation_id: s.conversation_id,\n    restaurant_id: s.restaurant_id,\n    reply_to_send: s.last_agent_reply,\n    state: s.state,\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6256,624],"id":"2eb318e9-4b53-45d7-827c-57e7a686b213","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"UPDATE conversation_sessions\nSET state = jsonb_set(state, '{stage}', '\"waiting_user\"'),\n    updated_at = NOW()\nWHERE restaurant_id = {{ $json.restaurant_id }}\n  AND conversation_id = '{{ $json.conversation_id }}'\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6448,624],"id":"3b5f3379-71e0-4209-b045-eea1adae12bd","name":"Execute a SQL query","credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      telegram_chat_id: $('Normalize Input').item.json.telegram_chat_id,\n      last_agent_reply: \"Bonjour, je n’arrive pas à identifier le restaurant associé à ce canal. Pouvez-vous vérifier la configuration ou préciser le restaurant concerné ?\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2672,816],"id":"0d81aa4d-df24-48c9-b87e-1c01c0ac08ad","name":"Build Restaurant Not Found Reply"},{"parameters":{"jsCode":"const input = $json;\nconst previousState = input.session_state || {};\n\nfunction keepNewOrPrevious(newValue, oldValue) {\n  if (newValue === undefined || newValue === null || newValue === '' || newValue === 'null') {\n    return oldValue ?? null;\n  }\n  return newValue;\n}\n\nconst extracted = {\n  requested_datetime: keepNewOrPrevious(input.requested_datetime, previousState.requested_datetime),\n  party_size: keepNewOrPrevious(input.party_size, previousState.party_size),\n  full_name: keepNewOrPrevious(input.full_name, previousState.full_name),\n  phone: keepNewOrPrevious(input.phone ?? input.phone_input, previousState.phone),\n  email: keepNewOrPrevious(input.email, previousState.email),\n  special_request: keepNewOrPrevious(input.special_request, previousState.special_request),\n};\n\nconst missingFields = [];\n\nif (!extracted.requested_datetime) {\n  missingFields.push('requested_datetime');\n}\n\nif (!extracted.party_size) {\n  missingFields.push('party_size');\n}\n\nif (!extracted.full_name) {\n  missingFields.push('full_name');\n}\n\nconst stage = missingFields.length > 0 ? 'collecting_information' : 'ready_to_check_availability';\n\nconst state = {\n  ...previousState,\n  ...extracted,\n  missing_fields: missingFields,\n  stage,\n  last_intent: input.decision ?? 'need_followup',\n  updated_at: new Date().toISOString()\n};\n\nfunction sqlString(value) {\n  if (value === null || value === undefined) return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction sqlJson(value) {\n  return `'${JSON.stringify(value).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      state,\n      state_sql: sqlJson(state),\n      restaurant_id_sql: Number(input.restaurant_id),\n      conversation_id_sql: sqlString(input.conversation_id),\n      telegram_chat_id_sql: sqlString(input.telegram_chat_id),\n      last_message_sql: sqlString(input.message || input.raw_message || ''),\n      last_agent_reply_sql: sqlString(input.reply || 'Bonjour, comment puis-je vous aider pour votre réservation ?'),\n      status_sql: sqlString('active')\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5856,496],"id":"8951228c-ff21-4bcd-b8ec-5d28127ea80b","name":"Build Conversation State"},{"parameters":{"jsCode":"const input = $json;\nconst state = input.state || input.session_state || {};\n\nconst restaurantName =\n  input.restaurant_name ||\n  state.restaurant_name ||\n  'Thysiane House';\n\nconst fullName =\n  input.full_name ||\n  state.full_name ||\n  null;\n\nconst requestedDatetime =\n  input.requested_datetime ||\n  state.requested_datetime ||\n  null;\n\nconst partySize =\n  input.party_size ||\n  state.party_size ||\n  null;\n\nfunction formatDateFr(iso) {\n  if (!iso) return null;\n\n  const d = new Date(iso);\n  const date = d.toLocaleDateString('fr-FR', {\n    weekday: 'long',\n    day: '2-digit',\n    month: 'long',\n    timeZone: 'Europe/Paris'\n  });\n\n  const time = d.toLocaleTimeString('fr-FR', {\n    hour: '2-digit',\n    minute: '2-digit',\n    timeZone: 'Europe/Paris'\n  });\n\n  return `${date} à ${time}`;\n}\n\nconst dateFr = formatDateFr(requestedDatetime);\n\nlet finalReply = input.reply;\n\nconst hasAllRequired =\n  fullName &&\n  requestedDatetime &&\n  partySize;\n\nconst isAvailable =\n  input.is_available === true ||\n  input.availability_status === 'available' ||\n  input.is_closed === false;\n\nif (hasAllRequired && isAvailable) {\n  finalReply = `Réservation OK pour ${fullName} pour ${dateFr} pour ${partySize} personne${Number(partySize) > 1 ? 's' : ''} au restaurant ${restaurantName}.`;\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      reply: finalReply,\n      last_agent_reply: finalReply,\n      full_name: fullName,\n      requested_datetime: requestedDatetime,\n      party_size: partySize,\n      restaurant_name: restaurantName\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4560,128],"id":"7a29e887-491f-4454-9edc-bd4d4dbec3de","name":"Build Final Reservation Reply","disabled":true},{"parameters":{"jsCode":"const base = $('Before Check Closure').item.json;\nconst closure = $('Check Closure').item.json || {};\n\nconst state = base.session_state || {};\n\nfunction keepNewOrPrevious(newValue, oldValue) {\n  if (\n    newValue === undefined ||\n    newValue === null ||\n    newValue === '' ||\n    newValue === 'null'\n  ) {\n    return oldValue ?? null;\n  }\n\n  return newValue;\n}\n\nfunction formatDateHumanFr(iso, timezone = 'Europe/Paris') {\n  if (!iso) return null;\n\n  const d = new Date(iso);\n\n  const date = d.toLocaleDateString('fr-FR', {\n    weekday: 'long',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n    timeZone: timezone\n  });\n\n  const time = d.toLocaleTimeString('fr-FR', {\n    hour: '2-digit',\n    minute: '2-digit',\n    timeZone: timezone\n  });\n\n  return `${date} à ${time}`;\n}\n\nconst requested_datetime = keepNewOrPrevious(\n  base.requested_datetime,\n  state.requested_datetime\n);\n\nconst party_size = keepNewOrPrevious(\n  base.party_size,\n  state.party_size\n);\n\nconst full_name = keepNewOrPrevious(\n  base.full_name,\n  state.full_name\n);\n\nconst phone = keepNewOrPrevious(\n  base.phone,\n  state.phone\n);\n\nconst email = keepNewOrPrevious(\n  base.email,\n  state.email\n);\n\nconst special_request = keepNewOrPrevious(\n  base.special_request,\n  state.special_request\n);\n\nconst message = String(base.raw_message || base.message || '').toLowerCase();\n\nconst customer_confirmed =\n  /\\b(oui|ok|okay|c'est bon|c’est bon|c'est ça|c’est ça|exactement|je confirme|confirmé|confirme|validé|valide|parfait|go)\\b/i.test(message);\n\nconst customer_cancelled =\n  /\\b(non|annule|annuler|j'annule|j’annule|pas bon|ce n'est pas bon|ce n’est pas bon)\\b/i.test(message);\n\nconst hasRequired =\n  !!requested_datetime &&\n  !!party_size &&\n  !!full_name;\n\nconst is_closed =\n  closure.is_closed === true ||\n  closure.is_closed === 'true' ||\n  closure.is_closed === 1 ||\n  closure.is_closed === '1';\n\nconst is_available = !is_closed;\n\nconst timezone = base.timezone || 'Europe/Paris';\nconst humanDate = formatDateHumanFr(requested_datetime, timezone);\n\nlet reply = base.reply || 'Très bien, je vérifie votre demande.';\nlet should_create_reservation = false;\nlet availability_status = 'unknown';\nlet decision = base.decision || 'need_followup';\n\nif (customer_cancelled) {\n  decision = 'cancel';\n  availability_status = 'cancelled';\n  should_create_reservation = false;\n\n  reply =\n`Très bien, j’annule cette demande de réservation.\n\nJe reste disponible si vous souhaitez choisir un autre créneau.`;\n\n} else if (is_closed) {\n  decision = 'unavailable';\n  availability_status = 'closed';\n  should_create_reservation = false;\n\n  reply =\n`Désolé, le restaurant est fermé sur ce créneau${closure.closure_reason ? ` : ${closure.closure_reason}` : ''}.\n\nSouhaitez-vous choisir une autre date ou un autre horaire ?`;\n\n} else if (!hasRequired) {\n  decision = 'need_followup';\n  availability_status = 'missing_information';\n  should_create_reservation = false;\n\n  const missing = [];\n\n  if (!requested_datetime) missing.push('la date et l’heure');\n  if (!party_size) missing.push('le nombre de personnes');\n  if (!full_name) missing.push('le nom de la réservation');\n\n  if (requested_datetime && party_size && !full_name) {\n    reply =\n`Très bien, j’ai noté votre demande.\n\n📅 Date : ${humanDate}\n👥 Nombre de personnes : ${party_size}\n\nÀ quel nom dois-je mettre la réservation ?`;\n  } else if (requested_datetime && !party_size) {\n    reply =\n`Très bien, j’ai noté la date.\n\n📅 Date : ${humanDate}\n\nPour combien de personnes souhaitez-vous réserver ?`;\n  } else if (!requested_datetime && party_size) {\n    reply =\n`Très bien, j’ai noté pour ${party_size} personne${Number(party_size) > 1 ? 's' : ''}.\n\nPour quelle date et quelle heure souhaitez-vous réserver ?`;\n  } else {\n    reply =\n`Pouvez-vous me préciser ${missing.join(', ')} pour votre réservation ?`;\n  }\n\n} else if (hasRequired && !customer_confirmed) {\n  decision = 'ready_to_check_availability';\n  availability_status = 'waiting_confirmation';\n  should_create_reservation = false;\n\n  reply =\n`Je récapitule votre réservation :\n\n📅 Date : ${humanDate}\n👤 Nom : ${full_name}\n👥 Nombre de personnes : ${party_size}\n\nPouvez-vous confirmer ?`;\n\n} else if (hasRequired && customer_confirmed && is_available) {\n  decision = 'confirm';\n  availability_status = 'available';\n  should_create_reservation = true;\n\n  reply =\n`Parfait, je crée votre réservation.\n\n📅 Date : ${humanDate}\n👤 Nom : ${full_name}\n👥 Nombre de personnes : ${party_size}`;\n}\n\nreturn [\n  {\n    json: {\n      ...base,\n\n      requested_datetime,\n      party_size,\n      full_name,\n      phone,\n      email,\n      special_request,\n\n      is_closed,\n      is_available,\n      closure_reason: closure.closure_reason ?? null,\n\n      customer_confirmed,\n      customer_cancelled,\n      should_create_reservation,\n      availability_status,\n\n      decision,\n      reply,\n      last_agent_reply: reply,\n\n      human_requested_datetime: humanDate,\n      timezone\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4384,128],"id":"9c7b98d9-9878-4542-ad19-4115b9747c37","name":"Build Availability Decision"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.id}}","operation":"notEmpty"}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1}},"options":{}},"id":"98c9c023-e063-43ad-bd46-bce4dfb72c86","name":"Client Found?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[5856,1040]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1778c3ac-7660-4ed1-827f-a6c3ed13661f","leftValue":"={{ $json.should_create_reservation }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"cc056a7c-686f-462a-ba4a-efff306b20a7","name":"Should Create Reservation?","type":"n8n-nodes-base.if","typeVersion":2,"position":[4880,128]},{"parameters":{"jsCode":"const base = $('Before Check Closure').item.json;\n\n// Si tu veux récupérer le résultat du IF ou des nœuds intermédiaires, adapte selon ton workflow\nlet client = {};\ntry {\n  client = $('Find Client').item.json || {};\n} catch (e) {}\n\nlet closure = {};\ntry {\n  closure = $('Check Closure').item.json || {};\n} catch (e) {}\n\nreturn [{\n  json: {\n    ...base,\n    telegram_chat_id: base.telegram_chat_id ?? null,\n    client_id: client.id ?? null,\n    is_closed: !!closure.id,\n    closure_id: closure.id ?? null,\n    closure_reason: closure.reason ?? null\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5856,880],"id":"8ff4d2f5-d42a-4ba6-b3c3-2c138f1c1ada","name":"Before Check Closure2"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO clients (\n  restaurant_id,\n  full_name,\n  phone,\n  email,\n  is_new_customer,\n  consent_notifications,\n  consent_marketing,\n  created_at,\n  updated_at\n)\nVALUES (\n  {{ $('Build Availability Decision').item.json.restaurant_id }},\n  NULLIF('{{ $('Build Availability Decision').item.json.full_name || \"Client\" }}', ''),\n  NULLIF('{{ $('Build Availability Decision').item.json.phone || $('Build Availability Decision').item.json.phone_input || \"\" }}', ''),\n  NULLIF('{{ $('Build Availability Decision').item.json.email || \"\" }}', ''),\n  TRUE,\n  TRUE,\n  FALSE,\n  NOW(),\n  NOW()\n)\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[5136,112],"id":"841af358-f055-4da2-9354-b9d12de0e9b5","name":"Upsert Client","credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reservations (\n  restaurant_id,\n  client_id,\n  source_channel,\n  status,\n  party_size,\n  start_time,\n  end_time,\n  meal_duration_minutes,\n  special_request,\n  created_at,\n  updated_at\n)\nVALUES (\n  {{ $('Build Availability Decision').item.json.restaurant_id }},\n  {{ $json.id }},\n  '{{ $('Build Availability Decision').item.json.source || \"telegram\" }}',\n  'confirmed',\n  {{ $('Build Availability Decision').item.json.party_size }},\n  '{{ $('Build Availability Decision').item.json.requested_datetime }}'::timestamptz,\n  (\n    '{{ $('Build Availability Decision').item.json.requested_datetime }}'::timestamptz\n    + (\n      COALESCE({{ $('Build Availability Decision').item.json.default_meal_duration_minutes || 120 }}, 120)\n      || ' minutes'\n    )::interval\n  ),\n  COALESCE({{ $('Build Availability Decision').item.json.default_meal_duration_minutes || 120 }}, 120),\n  NULLIF('{{ $('Build Availability Decision').item.json.special_request || \"\" }}', ''),\n  NOW(),\n  NOW()\n)\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[5312,112],"id":"bf54cef4-d503-407d-bad9-682b54adfc9f","name":"Create Reservation","credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO client_notifications (\n  restaurant_id,\n  client_id,\n  reservation_id,\n  notification_type,\n  channel,\n  content,\n  status,\n  scheduled_at,\n  created_at\n)\nVALUES (\n  {{ $('Build Availability Decision').item.json.restaurant_id }},\n  {{ $('Create Reservation').item.json.client_id }},\n  {{ $('Create Reservation').item.json.id }},\n  'reminder',\n  'telegram',\n  'Rappel de réservation',\n  'pending',\n  (\n    '{{ $('Create Reservation').item.json.start_time }}'::timestamptz\n    - INTERVAL '1 day'\n  ),\n  NOW()\n)\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[5488,112],"id":"ce2a3953-bffc-4f8b-8d0d-a4368bce8379","name":"Create Reminder Notification","credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"jsCode":"const reservation = $('Create Reservation').item.json;\nconst decision = $('Build Availability Decision').item.json;\n\nconst restaurantName = decision.restaurant_name || 'le restaurant';\nconst fullName = decision.full_name;\nconst partySize = decision.party_size;\n\nfunction formatDateHumanFr(iso, timezone = 'Europe/Paris') {\n  if (!iso) return null;\n\n  const d = new Date(iso);\n\n  const date = d.toLocaleDateString('fr-FR', {\n    weekday: 'long',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n    timeZone: timezone\n  });\n\n  const time = d.toLocaleTimeString('fr-FR', {\n    hour: '2-digit',\n    minute: '2-digit',\n    timeZone: timezone\n  });\n\n  return `${date} à ${time}`;\n}\n\nconst dateFr = formatDateHumanFr(\n  reservation.start_time,\n  decision.timezone || 'Europe/Paris'\n);\n\nconst reply =\n`✅ Réservation confirmée !\n\n📅 Date : ${dateFr}\n👤 Nom : ${fullName}\n👥 Nombre de personnes : ${partySize}\n🍽️ Restaurant : ${restaurantName}\n\nMerci, à bientôt.`;\n\nreturn [\n  {\n    json: {\n      ...decision,\n      reservation_id: reservation.id,\n      client_id: reservation.client_id,\n      reservation_status: reservation.status,\n      reply,\n      last_agent_reply: reply\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5664,112],"id":"0e3e330f-e2fc-498e-b9ec-a99f70aff3d5","name":"Build Confirmation Reply"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO client_receivers (\n  restaurant_id,\n  channel_type,\n  channel_value,\n  display_name,\n  is_active,\n  first_seen_at,\n  last_seen_at,\n  created_at,\n  updated_at\n)\nVALUES (\n  {{ $json.restaurant_id }},\n  'telegram',\n  '{{ $json.telegram_chat_id || $json.from || $json.to }}',\n  NULLIF('{{ $json.full_name || \"\" }}', ''),\n  true,\n  NOW(),\n  NOW(),\n  NOW(),\n  NOW()\n)\nON CONFLICT (restaurant_id, channel_type, channel_value)\nDO UPDATE SET\n  display_name = COALESCE(NULLIF(EXCLUDED.display_name, ''), client_receivers.display_name),\n  is_active = true,\n  last_seen_at = NOW(),\n  updated_at = NOW()\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1280,592],"id":"bc2f8706-5864-4fa4-9b39-c15fe51c1964","name":"Upsert Client Receiver","credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS client_receivers (\n  id BIGSERIAL PRIMARY KEY,\n  restaurant_id BIGINT NOT NULL REFERENCES restaurants(id) ON DELETE CASCADE,\n  client_id BIGINT REFERENCES clients(id) ON DELETE SET NULL,\n  channel_type TEXT NOT NULL,\n  channel_value TEXT NOT NULL,\n  display_name TEXT,\n  username TEXT,\n  is_active BOOLEAN NOT NULL DEFAULT true,\n  first_seen_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n  last_seen_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n  UNIQUE (restaurant_id, channel_type, channel_value)\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1840,224],"id":"f92e0ae4-5f7b-4b67-a8fe-426ee7e75d87","name":"Ensure Client Receivers Table","credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO client_receivers (\n  restaurant_id,\n  channel_type,\n  channel_value,\n  display_name,\n  is_active,\n  first_seen_at,\n  last_seen_at,\n  created_at,\n  updated_at\n)\nVALUES (\n  {{ $json.restaurant_id }},\n  'telegram',\n  '{{ $json.telegram_chat_id || $json.from || $json.to }}',\n  NULLIF('{{ $json.full_name || \"\" }}', ''),\n  true,\n  NOW(),\n  NOW(),\n  NOW(),\n  NOW()\n)\nON CONFLICT (restaurant_id, channel_type, channel_value)\nDO UPDATE SET\n  display_name = COALESCE(NULLIF(EXCLUDED.display_name, ''), client_receivers.display_name),\n  is_active = true,\n  last_seen_at = NOW(),\n  updated_at = NOW()\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2560,224],"id":"1cfab09c-c83c-4f18-9b2f-524cd0c6d409","name":"Upsert Client Receiver1","credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{},"type":"n8n-nodes-base.stickyNote","position":[3504,-1200],"typeVersion":1,"id":"64470025-86be-49e1-91d1-c594daef74ab","name":"Sticky Note"}],"connections":{"Webhook Inbound":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Has restaurant_slug?","type":"main","index":0}]]},"Has restaurant_slug?":{"main":[[{"node":"Lookup Restaurant by Slug","type":"main","index":0}],[{"node":"Lookup Restaurant by Channel","type":"main","index":0}]]},"Lookup Restaurant by Slug":{"main":[[{"node":"Normalize Restaurant Context","type":"main","index":0}]]},"Lookup Restaurant by Channel":{"main":[[{"node":"Normalize Restaurant Context","type":"main","index":0}]]},"Normalize Restaurant Context":{"main":[[{"node":"Upsert Client Receiver","type":"main","index":0}]]},"Restaurant Found?":{"main":[[{"node":"Ensure Conversation Sessions Table","type":"main","index":0}],[{"node":"Build Restaurant Not Found Reply","type":"main","index":0}]]},"Ensure Conversation Sessions Table":{"main":[[{"node":"Ensure Client Receivers Table","type":"main","index":0}]]},"Load Conversation Session":{"main":[[{"node":"Merge Session Context","type":"main","index":0}]]},"Merge Session Context":{"main":[[{"node":"Upsert Client Receiver1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agent Conversationnel Restau","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agent Conversationnel Restau","type":"ai_memory","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Agent Conversationnel Restau","type":"ai_outputParser","index":0}]]},"Normalize Agent Output":{"main":[[{"node":"Normalize Datetime","type":"main","index":0}]]},"Normalize Datetime":{"main":[[{"node":"Prepare Has Datetime","type":"main","index":0}]]},"Has requested_datetime?":{"main":[[{"node":"Before Check Closure","type":"main","index":0}],[{"node":"Follow-up Without Datetime","type":"main","index":0}]]},"Check Closure":{"main":[[{"node":"Build Availability Decision","type":"main","index":0}]]},"Follow-up Without Datetime":{"main":[[{"node":"Build Conversation State","type":"main","index":0}]]},"Find Client":{"main":[[{"node":"Should Create Reservation?","type":"main","index":0}]]},"Create Client":{"main":[[{"node":"Build Conversation State","type":"main","index":0}]]},"Upsert Conversation Session":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Prepare Session Lookup":{"main":[[{"node":"Load Conversation Session","type":"main","index":0}]]},"Prepare Has Datetime":{"main":[[{"node":"Has requested_datetime?","type":"main","index":0}]]},"Before Check Closure":{"main":[[{"node":"Check Closure","type":"main","index":0}]]},"Telegram Inbound":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Agent Conversationnel Restau":{"main":[[{"node":"Normalize Agent Output","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Build Restaurant Not Found Reply":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Build Conversation State":{"main":[[{"node":"Upsert Conversation Session","type":"main","index":0}]]},"Build Final Reservation Reply":{"main":[[{"node":"Find Client","type":"main","index":0}]]},"Build Availability Decision":{"main":[[{"node":"Build Final Reservation Reply","type":"main","index":0}]]},"Should Create Reservation?":{"main":[[{"node":"Upsert Client","type":"main","index":0}],[{"node":"Create Client","type":"main","index":0}]]},"Upsert Client":{"main":[[{"node":"Create Reservation","type":"main","index":0}]]},"Create Reservation":{"main":[[{"node":"Create Reminder Notification","type":"main","index":0}]]},"Create Reminder Notification":{"main":[[{"node":"Build Confirmation Reply","type":"main","index":0}]]},"Build Confirmation Reply":{"main":[[{"node":"Build Conversation State","type":"main","index":0}]]},"Upsert Client Receiver":{"main":[[{"node":"Restaurant Found?","type":"main","index":0}]]},"Ensure Client Receivers Table":{"main":[[{"node":"Prepare Session Lookup","type":"main","index":0}]]},"Upsert Client Receiver1":{"main":[[{"node":"Agent Conversationnel Restau","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"437b27e0-df95-4c94-8095-544aa1f3c725","activeVersionId":"437b27e0-df95-4c94-8095-544aa1f3c725","versionCounter":489,"triggerCount":2,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-18T17:50:56.849Z","createdAt":"2026-07-18T17:50:56.849Z","role":"workflow:owner","workflowId":"UgthKUfZdXW385HG","projectId":"qCyrAhwkn3YBEnnC","project":{"updatedAt":"2026-07-18T16:53:40.765Z","createdAt":"2026-06-26T07:15:48.107Z","id":"qCyrAhwkn3YBEnnC","name":"Jérémy Lemaire <lemaire.jerem@orange.fr>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"1c348afe-df46-47f4-b6d4-933ef081ab0d"}}],"versionMetadata":{"name":"Version 437b27e0","description":""}},{"updatedAt":"2026-06-12T12:21:52.977Z","createdAt":"2026-06-12T05:23:16.629Z","id":"j0TdjfnbJwSIf0TF","name":"reservation_reminder","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":[{"mode":"everyDay","hour":9,"minute":0}]},"id":"wf_rem_001","name":"Cron Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM client_notifications WHERE notification_type = 'reminder' AND status = 'pending' AND scheduled_at::date = CURRENT_DATE + INTERVAL '1 day';"},"id":"wf_rem_002","name":"Find Reminders Due","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[480,300],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"batchSize":10},"id":"wf_rem_003","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,300]},{"parameters":{"operation":"executeQuery","query":"SELECT r.*, c.full_name, c.phone, c.email FROM reservations r JOIN clients c ON c.id = r.client_id WHERE r.id = {{$json.reservation_id}};"},"id":"wf_rem_004","name":"Get Reservation + Client","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,300],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"jsCode":"return [{ json: { ...$json, reminder_message: `Bonjour ${$json.full_name}, rappel pour votre réservation demain à ${$json.start_time}.` } }];"},"id":"wf_rem_005","name":"Build Reminder Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,300]},{"parameters":{"fromEmail":"noreply@restaurant.local","toEmail":"={{$json.email}}","subject":"Rappel de réservation","text":"={{$json.reminder_message}}"},"id":"wf_rem_006","name":"Send Reminder","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1440,300],"credentials":{"smtp":{"id":"t0Idyg7WOftDABOo","name":"SMTP account"}},"webhookId":"238e8c4e-0256-45e5-a250-b55fd3f9faf2"},{"parameters":{"operation":"executeQuery","query":"UPDATE client_notifications SET status = 'sent', sent_at = now() WHERE id = {{$json.id}};"},"id":"wf_rem_007","name":"Mark Reminder Sent","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1680,300],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reservation_events (restaurant_id, reservation_id, event_type, event_data) VALUES ({{$json.restaurant_id}}, {{$json.reservation_id}}, 'reminder_sent', jsonb_build_object('channel', 'email'));"},"id":"wf_rem_008","name":"Log Event","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1920,300],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}}],"connections":{"Cron Trigger":{"main":[[{"node":"Find Reminders Due","type":"main","index":0}]]},"Find Reminders Due":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Get Reservation + Client","type":"main","index":0}]]},"Get Reservation + Client":{"main":[[{"node":"Build Reminder Message","type":"main","index":0}]]},"Build Reminder Message":{"main":[[{"node":"Send Reminder","type":"main","index":0}]]},"Send Reminder":{"main":[[{"node":"Mark Reminder Sent","type":"main","index":0}]]},"Mark Reminder Sent":{"main":[[{"node":"Log Event","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"949dbace-1012-4078-af71-72f5784162fd","activeVersionId":null,"versionCounter":12,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-18T17:50:56.849Z","createdAt":"2026-07-18T17:50:56.849Z","role":"workflow:owner","workflowId":"j0TdjfnbJwSIf0TF","projectId":"qCyrAhwkn3YBEnnC","project":{"updatedAt":"2026-07-18T16:53:40.765Z","createdAt":"2026-06-26T07:15:48.107Z","id":"qCyrAhwkn3YBEnnC","name":"Jérémy Lemaire <lemaire.jerem@orange.fr>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"1c348afe-df46-47f4-b6d4-933ef081ab0d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-06-12T09:07:54.425Z","createdAt":"2026-06-12T08:54:01.530Z","id":"em0MFIptvPR24bEx","name":"Reservation AI Router v1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"reservation-inbound","responseMode":"responseNode","options":{}},"id":"Webhook","name":"Webhook Inbound","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[224,320],"webhookId":"9309696a-38c9-4805-9267-6a16fa01a675"},{"parameters":{"jsCode":"const body = $json.body ?? $json;\n\nfunction toNull(v) {\n  return v === undefined || v === null || v === '' ? null : v;\n}\n\nreturn [{\n  json: {\n    source: toNull(body.source),\n    channel: toNull(body.channel) ?? toNull(body.source),\n    restaurant_slug: toNull(body.restaurant_slug),\n    to: toNull(body.to),\n    from: toNull(body.from),\n    phone: toNull(body.phone) ?? toNull(body.from),\n    email: toNull(body.email),\n    full_name: toNull(body.full_name),\n    message: toNull(body.message) ?? '',\n    raw_message: toNull(body.message) ?? '',\n    intent: toNull(body.intent) ?? 'reservation_request',\n    requested_datetime: toNull(body.requested_datetime),\n    party_size: body.party_size ?? null,\n    special_request: toNull(body.special_request),\n    call_id: toNull(body.call_id),\n    call_status: toNull(body.call_status)\n  }\n}];"},"id":"NormalizeInput","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,320]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.restaurant_slug}}","operation":"notEmpty"}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1}},"options":{}},"id":"HasSlug","name":"Has restaurant_slug?","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,320]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  r.id AS restaurant_id,\n  r.slug,\n  r.name,\n  r.timezone,\n  s.default_meal_duration_minutes,\n  s.cleaning_buffer_minutes,\n  s.grace_delay_minutes,\n  s.max_party_size,\n  s.allow_combined_tables,\n  s.reminder_days_before,\n  s.reminder_hour,\n  s.reminder_channel,\n  s.booking_policy,\n  s.event_notification_policy\nFROM restaurants r\nJOIN restaurant_settings s ON s.restaurant_id = r.id\nWHERE r.slug = '{{$json.restaurant_slug}}'\n  AND r.is_active = true\nLIMIT 1;","options":{}},"id":"LookupBySlug","name":"Lookup Restaurant by Slug","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[928,192],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  r.id AS restaurant_id,\n  r.slug,\n  r.name,\n  r.timezone,\n  s.default_meal_duration_minutes,\n  s.cleaning_buffer_minutes,\n  s.grace_delay_minutes,\n  s.max_party_size,\n  s.allow_combined_tables,\n  s.reminder_days_before,\n  s.reminder_hour,\n  s.reminder_channel,\n  s.booking_policy,\n  s.event_notification_policy\nFROM restaurant_channels c\nJOIN restaurants r ON r.id = c.restaurant_id\nJOIN restaurant_settings s ON s.restaurant_id = r.id\nWHERE c.is_active = true\n  AND c.channel_type = '{{$json.source}}'\n  AND c.channel_value = '{{$json.to}}'\nLIMIT 1;","options":{}},"id":"LookupByChannel","name":"Lookup Restaurant by Channel","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[928,512],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"jsCode":"const input = $json;\nreturn [{\n  json: {\n    restaurant_id: input.restaurant_id ?? null,\n    restaurant_slug: input.slug ?? null,\n    restaurant_name: input.name ?? null,\n    timezone: input.timezone ?? 'Europe/Paris',\n    default_meal_duration_minutes: input.default_meal_duration_minutes ?? 120,\n    cleaning_buffer_minutes: input.cleaning_buffer_minutes ?? 15,\n    grace_delay_minutes: input.grace_delay_minutes ?? 10,\n    max_party_size: input.max_party_size ?? 12,\n    allow_combined_tables: input.allow_combined_tables ?? false,\n    reminder_days_before: input.reminder_days_before ?? 1,\n    reminder_hour: input.reminder_hour ?? 9,\n    reminder_channel: input.reminder_channel ?? 'whatsapp',\n    booking_policy: input.booking_policy ?? null,\n    event_notification_policy: input.event_notification_policy ?? null,\n    source: input.source ?? null,\n    channel: input.channel ?? null,\n    to: input.to ?? null,\n    from: input.from ?? null,\n    phone: input.phone ?? null,\n    email: input.email ?? null,\n    full_name: input.full_name ?? null,\n    message: input.message ?? '',\n    raw_message: input.raw_message ?? '',\n    intent: input.intent ?? 'reservation_request',\n    requested_datetime: input.requested_datetime ?? null,\n    party_size: input.party_size ?? null,\n    special_request: input.special_request ?? null,\n    call_id: input.call_id ?? null,\n    call_status: input.call_status ?? null\n  }\n}];"},"id":"NormalizeRestaurantContext","name":"Normalize Restaurant Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,320]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.restaurant_id}}","operation":"notEmpty"}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1}},"options":{}},"id":"RestaurantFound","name":"Restaurant Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1392,320]},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM restaurant_closures\nWHERE restaurant_id = {{$json.restaurant_id}}\n  AND is_active = true\n  AND starts_at <= '{{$json.requested_datetime}}'::timestamptz\n  AND ends_at > '{{$json.requested_datetime}}'::timestamptz\nLIMIT 1;","options":{}},"id":"CheckClosure","name":"Check Closure","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1648,-80],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"conditions":{"string":[{"value1":"={{$json.decision}}","operation":"equals","value2":"confirm"}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1}},"options":{}},"id":"DecisionConfirm","name":"Decision = confirm?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2096,256]},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM clients\nWHERE restaurant_id = {{$('Normalize Restaurant Context').item.json.restaurant_id}}\nAND (\n  ('{{$('Normalize Restaurant Context').item.json.phone || \"\"}}' <> '' AND phone = '{{$('Normalize Restaurant Context').item.json.phone}}')\n  OR\n  ('{{$('Normalize Restaurant Context').item.json.email || \"\"}}' <> '' AND email = '{{$('Normalize Restaurant Context').item.json.email}}')\n)\nLIMIT 1;","options":{}},"id":"FindClient","name":"Find Client","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2400,-32],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"conditions":{"string":[{"value1":"={{$json.id}}","operation":"notEmpty"}],"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1}},"options":{}},"id":"ClientFound","name":"Client Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2640,-32]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO clients (\n  restaurant_id,\n  full_name,\n  phone,\n  email,\n  is_new_customer,\n  consent_notifications,\n  consent_marketing,\n  created_at,\n  updated_at\n)\nVALUES (\n  {{$('Normalize Restaurant Context').item.json.restaurant_id}},\n  COALESCE(NULLIF('{{$('Normalize Restaurant Context').item.json.full_name || \"\"}}', ''), 'Client'),\n  NULLIF('{{$('Normalize Restaurant Context').item.json.phone || \"\"}}', ''),\n  NULLIF('{{$('Normalize Restaurant Context').item.json.email || \"\"}}', ''),\n  TRUE,\n  TRUE,\n  FALSE,\n  NOW(),\n  NOW()\n)\nRETURNING *;","options":{}},"id":"CreateClient","name":"Create Client","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2896,80],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"restaurant_id\": {{$('Normalize Restaurant Context').item.json.restaurant_id}},\n  \"decision\": {{$json.decision ?? 'unknown'}},\n  \"reply\": {{$json.reply ?? 'ok'}}\n}","options":{}},"id":"Respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3072,560]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1904,-80],"id":"32dbad10-5cb8-42ff-aaa7-b1701ffcc686","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1776,128],"id":"11182897-607d-4569-ba6f-4280ed0e0d51","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bwymyf0M179cgw6O","name":"OpenAI account"}}}],"connections":{"Webhook Inbound":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Has restaurant_slug?","type":"main","index":0}]]},"Has restaurant_slug?":{"main":[[{"node":"Lookup Restaurant by Slug","type":"main","index":0}],[{"node":"Lookup Restaurant by Channel","type":"main","index":0}]]},"Lookup Restaurant by Slug":{"main":[[{"node":"Normalize Restaurant Context","type":"main","index":0}]]},"Lookup Restaurant by Channel":{"main":[[{"node":"Normalize Restaurant Context","type":"main","index":0}]]},"Normalize Restaurant Context":{"main":[[{"node":"Restaurant Found?","type":"main","index":0}]]},"Restaurant Found?":{"main":[[{"node":"Check Closure","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Check Closure":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Decision = confirm?":{"main":[[{"node":"Find Client","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Find Client":{"main":[[{"node":"Client Found?","type":"main","index":0}]]},"Client Found?":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Create Client","type":"main","index":0}]]},"Create Client":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Decision = confirm?","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"9aa26f4a-93ca-426c-86b0-262c28d51a63","activeVersionId":null,"versionCounter":17,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-18T17:50:56.849Z","createdAt":"2026-07-18T17:50:56.849Z","role":"workflow:owner","workflowId":"em0MFIptvPR24bEx","projectId":"qCyrAhwkn3YBEnnC","project":{"updatedAt":"2026-07-18T16:53:40.765Z","createdAt":"2026-06-26T07:15:48.107Z","id":"qCyrAhwkn3YBEnnC","name":"Jérémy Lemaire <lemaire.jerem@orange.fr>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"1c348afe-df46-47f4-b6d4-933ef081ab0d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-07-18T17:53:03.668Z","createdAt":"2026-07-18T17:30:05.822Z","id":"7xWvQc8GeOTrFvEf","name":"reservation_inbound","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"path":"reservation-inbound","httpMethod":"POST","responseMode":"responseNode"},"id":"Webhook","name":"Webhook Inbound","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,320]},{"parameters":{"jsCode":"const body = $json.body ?? $json;\n\nfunction clean(v) {\n  return v === undefined || v === null || v === '' ? null : v;\n}\n\nreturn [{\n  json: {\n    source: clean(body.source),\n    channel: clean(body.channel) ?? clean(body.source),\n    restaurant_slug: clean(body.restaurant_slug),\n    to: clean(body.to),\n    from: clean(body.from),\n    phone: clean(body.phone) ?? clean(body.from),\n    email: clean(body.email),\n    full_name: clean(body.full_name),\n    message: clean(body.message) ?? '',\n    raw_message: clean(body.message) ?? '',\n    intent: clean(body.intent) ?? null,\n    requested_datetime: clean(body.requested_datetime),\n    party_size: clean(body.party_size),\n    special_request: clean(body.special_request),\n    call_id: clean(body.call_id),\n    call_status: clean(body.call_status)\n  }\n}];"},"id":"NormalizeInput","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,320]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.restaurant_slug}}","operation":"notEmpty"}]}},"id":"HasSlug","name":"Has restaurant_slug?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,320]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  r.id AS restaurant_id,\n  r.slug,\n  r.name,\n  r.timezone,\n  s.default_meal_duration_minutes,\n  s.cleaning_buffer_minutes,\n  s.grace_delay_minutes,\n  s.max_party_size,\n  s.allow_combined_tables,\n  s.reminder_days_before,\n  s.reminder_hour,\n  s.reminder_channel,\n  s.booking_policy,\n  s.event_notification_policy\nFROM restaurants r\nJOIN restaurant_settings s ON s.restaurant_id = r.id\nWHERE r.slug = '{{$json.restaurant_slug}}'\n  AND r.is_active = true\nLIMIT 1;"},"id":"LookupBySlug","name":"Lookup Restaurant by Slug","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[920,180],"credentials":{"postgres":{"name":"little_africa_nice_postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  r.id AS restaurant_id,\n  r.slug,\n  r.name,\n  r.timezone,\n  s.default_meal_duration_minutes,\n  s.cleaning_buffer_minutes,\n  s.grace_delay_minutes,\n  s.max_party_size,\n  s.allow_combined_tables,\n  s.reminder_days_before,\n  s.reminder_hour,\n  s.reminder_channel,\n  s.booking_policy,\n  s.event_notification_policy\nFROM restaurant_channels c\nJOIN restaurants r ON r.id = c.restaurant_id\nJOIN restaurant_settings s ON s.restaurant_id = r.id\nWHERE c.is_active = true\n  AND c.channel_type = '{{$json.source}}'\n  AND c.channel_value = '{{$json.to}}'\nLIMIT 1;"},"id":"LookupByChannel","name":"Lookup Restaurant by Channel","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[920,500],"credentials":{"postgres":{"name":"little_africa_nice_postgres"}}},{"parameters":{"jsCode":"const input = $json;\n\nreturn [{\n  json: {\n    restaurant_id: input.restaurant_id ?? null,\n    restaurant_slug: input.slug ?? null,\n    restaurant_name: input.name ?? null,\n    timezone: input.timezone ?? 'Europe/Paris',\n    default_meal_duration_minutes: input.default_meal_duration_minutes ?? 120,\n    cleaning_buffer_minutes: input.cleaning_buffer_minutes ?? 15,\n    grace_delay_minutes: input.grace_delay_minutes ?? 10,\n    max_party_size: input.max_party_size ?? 12,\n    allow_combined_tables: input.allow_combined_tables ?? false,\n    reminder_days_before: input.reminder_days_before ?? 1,\n    reminder_hour: input.reminder_hour ?? 9,\n    reminder_channel: input.reminder_channel ?? 'whatsapp',\n    booking_policy: input.booking_policy ?? null,\n    event_notification_policy: input.event_notification_policy ?? null,\n    source: input.source ?? null,\n    channel: input.channel ?? null,\n    to: input.to ?? null,\n    from: input.from ?? null,\n    phone: input.phone ?? null,\n    email: input.email ?? null,\n    full_name: input.full_name ?? null,\n    message: input.message ?? '',\n    raw_message: input.raw_message ?? '',\n    intent: input.intent ?? null,\n    requested_datetime: input.requested_datetime ?? null,\n    party_size: input.party_size ?? null,\n    special_request: input.special_request ?? null,\n    call_id: input.call_id ?? null,\n    call_status: input.call_status ?? null\n  }\n}];"},"id":"NormalizeRestaurantContext","name":"Normalize Restaurant Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,320]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.restaurant_id}}","operation":"notEmpty"}]}},"id":"RestaurantFound","name":"Restaurant Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1380,320]},{"parameters":{"resource":"chat","operation":"message","model":"gpt-4.1-mini","messages":[{"role":"system","content":"Tu es un assistant conversationnel de réservation pour un restaurant. Tu accueilles poliment, tu comprends les messages naturels, tu extrais les informations utiles, tu détectes les demandes spéciales, et tu poses les bonnes questions. Tu dois répondre uniquement en JSON strict avec les champs suivants: decision (greet|need_followup|confirm|reject), reply, extracted_data, needs_followup, missing_fields, special_requests. Règles: 1) Si le client dit seulement bonjour, présente-toi brièvement et demande les infos nécessaires. 2) Si la demande est incomplète, demande seulement ce qui manque. 3) Si la demande mentionne des besoins spéciaux (chaise bébé, terrasse, accès PMR, allergies, coin calme, non-fumeur, fumeur, anniversaire, etc.), les intégrer dans special_requests et en tenir compte. 4) Ne jamais inventer une date/heure. 5) Ne jamais parler hors JSON. 6) Si le restaurant est fermé ou indisponible, proposer poliment une alternative si possible. 7) Si le message ne semble pas une demande de réservation, rediriger avec tact vers la prise de réservation."},{"role":"user","content":"Contexte restaurant: {{ JSON.stringify($json) }}\n\nMessage client brut: {{$json.raw_message}}\n\nRéponds en JSON strict."}],"responseFormat":"jsonObject"},"id":"AIAgent","name":"AI Agent","type":"n8n-nodes-base.openAi","typeVersion":4,"position":[1600,320],"credentials":{"openAiApi":{"name":"openai-account"}}},{"parameters":{"jsCode":"const input = $json;\n\nconst extracted = input.extracted_data ?? {};\nconst specialRequests = Array.isArray(input.special_requests) ? input.special_requests : [];\nconst missingFields = Array.isArray(input.missing_fields) ? input.missing_fields : [];\n\nreturn [{\n  json: {\n    decision: input.decision ?? 'need_followup',\n    reply: input.reply ?? 'Bonjour, je suis l’assistant de réservation du restaurant. Je peux vous aider à réserver une table. Pouvez-vous me donner la date, l’heure et le nombre de personnes ?',\n    needs_followup: input.needs_followup ?? true,\n    missing_fields: missingFields,\n    special_requests: specialRequests,\n    requested_datetime: extracted.requested_datetime ?? null,\n    party_size: extracted.party_size ?? null,\n    full_name: extracted.full_name ?? null,\n    phone: extracted.phone ?? null,\n    email: extracted.email ?? null,\n    special_request: extracted.special_request ?? null,\n    restaurant_id: $('Normalize Restaurant Context').item.json.restaurant_id,\n    restaurant_name: $('Normalize Restaurant Context').item.json.restaurant_name,\n    restaurant_slug: $('Normalize Restaurant Context').item.json.restaurant_slug,\n    timezone: $('Normalize Restaurant Context').item.json.timezone,\n    default_meal_duration_minutes: $('Normalize Restaurant Context').item.json.default_meal_duration_minutes,\n    cleaning_buffer_minutes: $('Normalize Restaurant Context').item.json.cleaning_buffer_minutes,\n    max_party_size: $('Normalize Restaurant Context').item.json.max_party_size,\n    source: $('Normalize Restaurant Context').item.json.source,\n    channel: $('Normalize Restaurant Context').item.json.channel,\n    to: $('Normalize Restaurant Context').item.json.to,\n    from: $('Normalize Restaurant Context').item.json.from,\n    message: $('Normalize Restaurant Context').item.json.message,\n    raw_message: $('Normalize Restaurant Context').item.json.raw_message,\n    booking_policy: $('Normalize Restaurant Context').item.json.booking_policy,\n    event_notification_policy: $('Normalize Restaurant Context').item.json.event_notification_policy\n  }\n}];"},"id":"NormalizeAgentOutput","name":"Normalize Agent Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1820,320]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.requested_datetime}}","operation":"notEmpty"}]}},"id":"HasRequestedDatetime","name":"Has requested_datetime?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2040,320]},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM restaurant_closures\nWHERE restaurant_id = {{$json.restaurant_id}}\n  AND is_active = true\n  AND starts_at <= '{{$json.requested_datetime}}'::timestamptz\n  AND ends_at > '{{$json.requested_datetime}}'::timestamptz\nLIMIT 1;"},"id":"CheckClosure","name":"Check Closure","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2260,180],"credentials":{"postgres":{"name":"little_africa_nice_postgres"}}},{"parameters":{"jsCode":"const agent = $('Normalize Agent Output').item.json;\n\nreturn [{\n  json: {\n    decision: 'need_followup',\n    reply: agent.reply,\n    needs_followup: true,\n    missing_fields: agent.missing_fields ?? ['requested_datetime', 'party_size'],\n    special_requests: agent.special_requests ?? [],\n    restaurant_id: agent.restaurant_id,\n    restaurant_name: agent.restaurant_name,\n    restaurant_slug: agent.restaurant_slug,\n    timezone: agent.timezone,\n    requested_datetime: null,\n    party_size: agent.party_size ?? null,\n    source: agent.source,\n    channel: agent.channel,\n    to: agent.to,\n    from: agent.from,\n    message: agent.message,\n    raw_message: agent.raw_message\n  }\n}];"},"id":"FollowUpNoDatetime","name":"Follow-up Without Datetime","type":"n8n-nodes-base.code","typeVersion":2,"position":[2260,500]},{"parameters":{"operation":"executeQuery","query":"SELECT *\nFROM clients\nWHERE restaurant_id = {{$json.restaurant_id}}\nAND (\n  ('{{$json.phone || \"\"}}' <> '' AND phone = '{{$json.phone}}')\n  OR\n  ('{{$json.email || \"\"}}' <> '' AND email = '{{$json.email}}')\n)\nLIMIT 1;"},"id":"FindClient","name":"Find Client","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2480,180],"credentials":{"postgres":{"name":"little_africa_nice_postgres"}}},{"parameters":{"conditions":{"string":[{"value1":"={{$json.id}}","operation":"notEmpty"}]}},"id":"ClientFound","name":"Client Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2700,180]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO clients (\n  restaurant_id,\n  full_name,\n  phone,\n  email,\n  is_new_customer,\n  consent_notifications,\n  consent_marketing,\n  created_at,\n  updated_at\n)\nVALUES (\n  {{$json.restaurant_id}},\n  COALESCE(NULLIF('{{$json.full_name || \"\"}}', ''), 'Client'),\n  NULLIF('{{$json.phone || \"\"}}', ''),\n  NULLIF('{{$json.email || \"\"}}', ''),\n  TRUE,\n  TRUE,\n  FALSE,\n  NOW(),\n  NOW()\n)\nRETURNING *;"},"id":"CreateClient","name":"Create Client","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2920,320],"credentials":{"postgres":{"name":"little_africa_nice_postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"decision\": {{$json.decision ?? 'unknown'}},\n  \"reply\": {{$json.reply ?? 'ok'}},\n  \"missing_fields\": {{$json.missing_fields ?? []}},\n  \"special_requests\": {{$json.special_requests ?? []}}\n}"},"id":"RespondToWebhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3140,320]}],"connections":{"Webhook Inbound":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Has restaurant_slug?","type":"main","index":0}]]},"Has restaurant_slug?":{"main":[[{"node":"Lookup Restaurant by Slug","type":"main","index":0}],[{"node":"Lookup Restaurant by Channel","type":"main","index":0}]]},"Lookup Restaurant by Slug":{"main":[[{"node":"Normalize Restaurant Context","type":"main","index":0}]]},"Lookup Restaurant by Channel":{"main":[[{"node":"Normalize Restaurant Context","type":"main","index":0}]]},"Normalize Restaurant Context":{"main":[[{"node":"Restaurant Found?","type":"main","index":0}]]},"Restaurant Found?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Normalize Agent Output","type":"main","index":0}]]},"Normalize Agent Output":{"main":[[{"node":"Has requested_datetime?","type":"main","index":0}]]},"Has requested_datetime?":{"main":[[{"node":"Check Closure","type":"main","index":0}],[{"node":"Follow-up Without Datetime","type":"main","index":0}]]},"Check Closure":{"main":[[{"node":"Find Client","type":"main","index":0}]]},"Follow-up Without Datetime":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Find Client":{"main":[[{"node":"Client Found?","type":"main","index":0}]]},"Client Found?":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Create Client","type":"main","index":0}]]},"Create Client":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"4048874a-81c2-40a1-af86-b347b1504ca9","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-18T17:30:05.822Z","createdAt":"2026-07-18T17:30:05.822Z","role":"workflow:owner","workflowId":"7xWvQc8GeOTrFvEf","projectId":"qCyrAhwkn3YBEnnC","project":{"updatedAt":"2026-07-18T16:53:40.765Z","createdAt":"2026-06-26T07:15:48.107Z","id":"qCyrAhwkn3YBEnnC","name":"Jérémy Lemaire <lemaire.jerem@orange.fr>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"1c348afe-df46-47f4-b6d4-933ef081ab0d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-06-26T20:28:06.287Z","createdAt":"2026-06-12T05:23:40.609Z","id":"I2FIJPQabYh7s07a","name":"event_broadcast","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"wf_evt_001","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM restaurant_closures WHERE restaurant_id = {{$json.restaurant_id}} AND is_active = true ORDER BY starts_at DESC LIMIT 1;"},"id":"wf_evt_002","name":"Get Event Context","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[480,300],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT c.* FROM clients c JOIN reservations r ON r.client_id = c.id WHERE r.restaurant_id = {{$json.restaurant_id}} AND r.start_time::date >= CURRENT_DATE AND c.consent_notifications = true;"},"id":"wf_evt_003","name":"Find Affected Clients","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[720,300],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.consent_notifications}}","operation":"isTrue"}]}},"id":"wf_evt_004","name":"Consent to notifications?","type":"n8n-nodes-base.if","typeVersion":2,"position":[960,300]},{"parameters":{"batchSize":20},"id":"wf_evt_005","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,300]},{"parameters":{"jsCode":"return [{ json: { ...$json, event_message: `Bonjour, une information importante concerne votre réservation. Merci de votre compréhension.` } }];"},"id":"wf_evt_006","name":"Build Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,300]},{"parameters":{"fromEmail":"noreply@restaurant.local","toEmail":"={{$json.email}}","subject":"Information restaurant","text":"={{$json.event_message}}"},"id":"wf_evt_007","name":"Send Notification","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1680,300],"credentials":{"smtp":{"id":"t0Idyg7WOftDABOo","name":"SMTP account"}},"webhookId":"324551a0-8b3c-45e0-80a8-b46371948e6a"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO client_notifications (restaurant_id, client_id, notification_type, channel, content, status, sent_at) VALUES ({{$json.restaurant_id}}, {{$json.id}}, 'event_update', 'email', {{$json.event_message}}, 'sent', now());"},"id":"wf_evt_008","name":"Log Notification","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1920,300],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reservation_events (restaurant_id, event_type, event_data) VALUES ({{$json.restaurant_id}}, 'event_broadcast', jsonb_build_object('message', {{$json.event_message}}));"},"id":"wf_evt_009","name":"Log Event","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2160,300],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Event Context","type":"main","index":0}]]},"Get Event Context":{"main":[[{"node":"Find Affected Clients","type":"main","index":0}]]},"Find Affected Clients":{"main":[[{"node":"Consent to notifications?","type":"main","index":0}]]},"Consent to notifications?":{"main":[[{"node":"Split In Batches","type":"main","index":0}],[]]},"Split In Batches":{"main":[[{"node":"Build Message","type":"main","index":0}]]},"Build Message":{"main":[[{"node":"Send Notification","type":"main","index":0}]]},"Send Notification":{"main":[[{"node":"Log Notification","type":"main","index":0}]]},"Log Notification":{"main":[[{"node":"Log Event","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"408e21a7-7e7f-49bf-8553-c2d7f03f5068","activeVersionId":null,"versionCounter":12,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-18T17:50:56.849Z","createdAt":"2026-07-18T17:50:56.849Z","role":"workflow:owner","workflowId":"I2FIJPQabYh7s07a","projectId":"qCyrAhwkn3YBEnnC","project":{"updatedAt":"2026-07-18T16:53:40.765Z","createdAt":"2026-06-26T07:15:48.107Z","id":"qCyrAhwkn3YBEnnC","name":"Jérémy Lemaire <lemaire.jerem@orange.fr>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"1c348afe-df46-47f4-b6d4-933ef081ab0d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-07-18T17:53:00.026Z","createdAt":"2026-07-18T17:30:05.822Z","id":"YGHj5Kny4lGNOuHu","name":"event_broadcast","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"wf_evt_001","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM restaurant_closures WHERE restaurant_id = {{$json.restaurant_id}} AND is_active = true ORDER BY starts_at DESC LIMIT 1;"},"id":"wf_evt_002","name":"Get Event Context","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[480,300],"credentials":{"postgres":{"name":"POSTGRES_CREDENTIAL_NAME"}}},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT c.* FROM clients c JOIN reservations r ON r.client_id = c.id WHERE r.restaurant_id = {{$json.restaurant_id}} AND r.start_time::date >= CURRENT_DATE AND c.consent_notifications = true;"},"id":"wf_evt_003","name":"Find Affected Clients","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[720,300],"credentials":{"postgres":{"name":"POSTGRES_CREDENTIAL_NAME"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.consent_notifications}}","operation":"isTrue"}]}},"id":"wf_evt_004","name":"Consent to notifications?","type":"n8n-nodes-base.if","typeVersion":2,"position":[960,300]},{"parameters":{"batchSize":20},"id":"wf_evt_005","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,300]},{"parameters":{"jsCode":"return [{ json: { ...$json, event_message: `Bonjour, une information importante concerne votre réservation. Merci de votre compréhension.` } }];"},"id":"wf_evt_006","name":"Build Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,300]},{"parameters":{"fromEmail":"noreply@restaurant.local","toEmail":"={{$json.email}}","subject":"Information restaurant","text":"={{$json.event_message}}"},"id":"wf_evt_007","name":"Send Notification","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1680,300],"credentials":{"smtp":{"name":"SMTP_CREDENTIAL_NAME"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO client_notifications (restaurant_id, client_id, notification_type, channel, content, status, sent_at) VALUES ({{$json.restaurant_id}}, {{$json.id}}, 'event_update', 'email', {{$json.event_message}}, 'sent', now());"},"id":"wf_evt_008","name":"Log Notification","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1920,300],"credentials":{"postgres":{"name":"POSTGRES_CREDENTIAL_NAME"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reservation_events (restaurant_id, event_type, event_data) VALUES ({{$json.restaurant_id}}, 'event_broadcast', jsonb_build_object('message', {{$json.event_message}}));"},"id":"wf_evt_009","name":"Log Event","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2160,300],"credentials":{"postgres":{"name":"POSTGRES_CREDENTIAL_NAME"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Event Context","type":"main","index":0}]]},"Get Event Context":{"main":[[{"node":"Find Affected Clients","type":"main","index":0}]]},"Find Affected Clients":{"main":[[{"node":"Consent to notifications?","type":"main","index":0}]]},"Consent to notifications?":{"main":[[{"node":"Split In Batches","type":"main","index":0}],[]]},"Split In Batches":{"main":[[{"node":"Build Message","type":"main","index":0}]]},"Build Message":{"main":[[{"node":"Send Notification","type":"main","index":0}]]},"Send Notification":{"main":[[{"node":"Log Notification","type":"main","index":0}]]},"Log Notification":{"main":[[{"node":"Log Event","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"d734a71e-3e0d-41f8-9f59-a0fde2dd289a","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-18T17:30:05.822Z","createdAt":"2026-07-18T17:30:05.822Z","role":"workflow:owner","workflowId":"YGHj5Kny4lGNOuHu","projectId":"qCyrAhwkn3YBEnnC","project":{"updatedAt":"2026-07-18T16:53:40.765Z","createdAt":"2026-06-26T07:15:48.107Z","id":"qCyrAhwkn3YBEnnC","name":"Jérémy Lemaire <lemaire.jerem@orange.fr>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"1c348afe-df46-47f4-b6d4-933ef081ab0d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-07-18T17:53:06.534Z","createdAt":"2026-07-18T17:30:05.822Z","id":"JBZj3dZat2nV2vRN","name":"reservation_reminder","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"triggerTimes":[{"mode":"everyDay","hour":9,"minute":0}]},"id":"wf_rem_001","name":"Cron Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM client_notifications WHERE notification_type = 'reminder' AND status = 'pending' AND scheduled_at::date = CURRENT_DATE + INTERVAL '1 day';"},"id":"wf_rem_002","name":"Find Reminders Due","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[480,300],"credentials":{"postgres":{"name":"POSTGRES_CREDENTIAL_NAME"}}},{"parameters":{"batchSize":10},"id":"wf_rem_003","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,300]},{"parameters":{"operation":"executeQuery","query":"SELECT r.*, c.full_name, c.phone, c.email FROM reservations r JOIN clients c ON c.id = r.client_id WHERE r.id = {{$json.reservation_id}};"},"id":"wf_rem_004","name":"Get Reservation + Client","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[960,300],"credentials":{"postgres":{"name":"POSTGRES_CREDENTIAL_NAME"}}},{"parameters":{"jsCode":"return [{ json: { ...$json, reminder_message: `Bonjour ${$json.full_name}, rappel pour votre réservation demain à ${$json.start_time}.` } }];"},"id":"wf_rem_005","name":"Build Reminder Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,300]},{"parameters":{"fromEmail":"noreply@restaurant.local","toEmail":"={{$json.email}}","subject":"Rappel de réservation","text":"={{$json.reminder_message}}"},"id":"wf_rem_006","name":"Send Reminder","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1440,300],"credentials":{"smtp":{"name":"SMTP_CREDENTIAL_NAME"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE client_notifications SET status = 'sent', sent_at = now() WHERE id = {{$json.id}};"},"id":"wf_rem_007","name":"Mark Reminder Sent","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1680,300],"credentials":{"postgres":{"name":"POSTGRES_CREDENTIAL_NAME"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reservation_events (restaurant_id, reservation_id, event_type, event_data) VALUES ({{$json.restaurant_id}}, {{$json.reservation_id}}, 'reminder_sent', jsonb_build_object('channel', 'email'));"},"id":"wf_rem_008","name":"Log Event","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1920,300],"credentials":{"postgres":{"name":"POSTGRES_CREDENTIAL_NAME"}}}],"connections":{"Cron Trigger":{"main":[[{"node":"Find Reminders Due","type":"main","index":0}]]},"Find Reminders Due":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Get Reservation + Client","type":"main","index":0}]]},"Get Reservation + Client":{"main":[[{"node":"Build Reminder Message","type":"main","index":0}]]},"Build Reminder Message":{"main":[[{"node":"Send Reminder","type":"main","index":0}]]},"Send Reminder":{"main":[[{"node":"Mark Reminder Sent","type":"main","index":0}]]},"Mark Reminder Sent":{"main":[[{"node":"Log Event","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"19773ee6-916c-42f8-a88d-9f2695be8ab3","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-18T17:30:05.822Z","createdAt":"2026-07-18T17:30:05.822Z","role":"workflow:owner","workflowId":"JBZj3dZat2nV2vRN","projectId":"qCyrAhwkn3YBEnnC","project":{"updatedAt":"2026-07-18T16:53:40.765Z","createdAt":"2026-06-26T07:15:48.107Z","id":"qCyrAhwkn3YBEnnC","name":"Jérémy Lemaire <lemaire.jerem@orange.fr>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"1c348afe-df46-47f4-b6d4-933ef081ab0d"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-07-18T22:04:25.972Z","createdAt":"2026-06-26T22:05:25.014Z","id":"dYtFF0apybudqTiT","name":"reservation_multichannel_router_little_africa_v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"retell-voice-function","responseMode":"responseNode","options":{}},"id":"f8647c9a-f89a-4943-b5b7-d0b0555ca671","name":"Webhook Retell Voice Function","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,432],"webhookId":"dfee2ad0-a060-4ed5-8c4f-9fd9fe9b99bb"},{"parameters":{"httpMethod":"POST","path":"retell-sms-function","responseMode":"responseNode","options":{}},"id":"0eb8d5a9-c119-413e-ac0a-50aa51f2d250","name":"Webhook Retell SMS Function","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,640],"webhookId":"6ba88bb0-937f-40a5-9ec6-c88cb49e0928"},{"parameters":{"httpMethod":"POST","path":"reservation-email-inbound","responseMode":"responseNode","options":{}},"id":"e7d59c8c-ff20-4279-8db8-859f80ef3a39","name":"Webhook Email Inbound","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,864],"webhookId":"ece7d420-73f4-4593-8e52-7c6080601c9f"},{"parameters":{"httpMethod":"POST","path":"reservation-instagram-inbound","responseMode":"responseNode","options":{}},"id":"b4f4068f-2c5a-4d67-a21e-6fd0d2addaf6","name":"Webhook Instagram Inbound","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,1088],"webhookId":"91a9b175-1a1e-491e-b91f-abad592c3f81"},{"parameters":{"httpMethod":"POST","path":"reservation-generic-inbound","responseMode":"responseNode","options":{}},"id":"38a3edfe-7260-47a9-b0f4-dff2cbc640e6","name":"Webhook Generic Inbound","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,1312],"webhookId":"9a3afaf3-f848-43ed-a4e8-2abbff46eeba"},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    __inbound_source: 'retell_voice',\n    __inbound_channel: 'phone',\n    __provider: 'retell',\n    __expected_return: 'webhook',\n    __received_at: new Date().toISOString()\n  }\n}];"},"id":"4da67409-3d96-41ac-816d-dab06ebeab21","name":"Mark Retell Voice Source","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,432]},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    __inbound_source: 'retell_sms',\n    __inbound_channel: 'sms',\n    __provider: 'retell',\n    __expected_return: 'webhook',\n    __received_at: new Date().toISOString()\n  }\n}];"},"id":"a069cf1c-0ef3-4df0-a06a-7ffe9c35b050","name":"Mark Retell SMS Source","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,640]},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    __inbound_source: 'email',\n    __inbound_channel: 'email',\n    __provider: 'mail_provider',\n    __expected_return: 'webhook',\n    __received_at: new Date().toISOString()\n  }\n}];"},"id":"ad8e5574-da67-43db-8acf-b564f276cbbc","name":"Mark Email Source","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,864]},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    __inbound_source: 'instagram',\n    __inbound_channel: 'instagram',\n    __provider: 'meta',\n    __expected_return: 'webhook',\n    __received_at: new Date().toISOString()\n  }\n}];"},"id":"352efbf0-b792-483a-bfdc-fa4a0b6699a4","name":"Mark Instagram Source","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,1088]},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    __inbound_source: 'webhook',\n    __inbound_channel: 'webhook',\n    __provider: 'generic',\n    __expected_return: 'webhook',\n    __received_at: new Date().toISOString()\n  }\n}];"},"id":"af7bd84d-3f33-4f68-a7af-5534691a2813","name":"Mark Generic Source","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,1312]},{"parameters":{"jsCode":"const rootEnvelope = $json.body ?? $json;\nconst headers = $json.headers ?? rootEnvelope.headers ?? {};\nconst lowerHeaders = Object.fromEntries(Object.entries(headers).map(([k, v]) => [String(k).toLowerCase(), v]));\n\nconst inboundSource = $json.__inbound_source ?? rootEnvelope.__inbound_source ?? null;\nconst inboundChannel = $json.__inbound_channel ?? rootEnvelope.__inbound_channel ?? null;\nconst provider = $json.__provider ?? rootEnvelope.__provider ?? null;\nconst expectedReturn = $json.__expected_return ?? rootEnvelope.__expected_return ?? 'webhook';\n\nconst args =\n  rootEnvelope.args ??\n  rootEnvelope.arguments ??\n  rootEnvelope.input ??\n  rootEnvelope.parameters ??\n  rootEnvelope.data ??\n  rootEnvelope.message ??\n  rootEnvelope;\n\nfunction clean(v) {\n  return v === undefined || v === null || v === '' || v === 'null' ? null : v;\n}\n\nfunction asString(v) {\n  return v === undefined || v === null ? null : String(v);\n}\n\nfunction normalizeAction(value) {\n  const raw = String(value ?? '').trim().toLowerCase();\n  const aliases = {\n    'restaurant_context': 'get_restaurant_context',\n    'get_context': 'get_restaurant_context',\n    'context': 'get_restaurant_context',\n    'availability': 'check_availability',\n    'check_slot': 'check_availability',\n    'check': 'check_availability',\n    'reserve': 'create_reservation',\n    'book': 'create_reservation',\n    'confirm_reservation': 'create_reservation',\n    'create_booking': 'create_reservation',\n    'log': 'log_conversation',\n    'call_log': 'log_conversation',\n    'message': 'message_inbound',\n    'inbound': 'message_inbound',\n    'incoming_message': 'message_inbound'\n  };\n  return aliases[raw] ?? raw;\n}\n\nfunction sqlString(value) {\n  if (value === null || value === undefined || value === '') return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction sqlNumber(value) {\n  if (value === null || value === undefined || value === '' || Number.isNaN(Number(value))) return 'NULL';\n  return String(Number(value));\n}\n\nfunction sqlBoolean(value) {\n  return value === true || value === 'true' || value === 1 || value === '1' ? 'TRUE' : 'FALSE';\n}\n\nfunction sqlJson(value) {\n  if (value === null || value === undefined) return 'NULL';\n  return `'${JSON.stringify(value).replace(/'/g, \"''\")}'::jsonb`;\n}\n\nconst functionAction = normalizeAction(\n  clean(rootEnvelope.function_name) ??\n  clean(rootEnvelope.name) ??\n  clean(rootEnvelope.action) ??\n  clean(args.function_name) ??\n  clean(args.name) ??\n  clean(args.action)\n);\n\nconst source =\n  clean(args.source) ??\n  clean(rootEnvelope.source) ??\n  clean(inboundSource) ??\n  'webhook';\n\nconst channel =\n  clean(args.channel) ??\n  clean(rootEnvelope.channel) ??\n  clean(inboundChannel) ??\n  (source === 'retell_voice' ? 'phone' : source === 'retell_sms' ? 'sms' : source === 'email' ? 'email' : source === 'instagram' ? 'instagram' : 'webhook');\n\nconst action = functionAction || (\n  source === 'retell_voice' || source === 'retell_sms'\n    ? 'get_restaurant_context'\n    : 'message_inbound'\n);\n\nconst callId =\n  clean(rootEnvelope.call_id) ??\n  clean(rootEnvelope.call?.call_id) ??\n  clean(args.call_id) ??\n  clean(args.call?.call_id);\n\nconst smsId =\n  clean(rootEnvelope.sms_id) ??\n  clean(rootEnvelope.message_id) ??\n  clean(rootEnvelope.sms?.id) ??\n  clean(args.sms_id) ??\n  clean(args.message_id) ??\n  clean(args.sms?.id);\n\nconst emailMessageId =\n  clean(rootEnvelope.email_message_id) ??\n  clean(rootEnvelope.mail?.message_id) ??\n  clean(args.email_message_id) ??\n  clean(args.message_id);\n\nconst instagramMessageId =\n  clean(rootEnvelope.instagram_message_id) ??\n  clean(rootEnvelope.entry?.[0]?.messaging?.[0]?.message?.mid) ??\n  clean(args.instagram_message_id) ??\n  clean(args.message_id);\n\nconst from =\n  clean(args.from) ??\n  clean(args.caller) ??\n  clean(args.phone) ??\n  clean(rootEnvelope.from) ??\n  clean(rootEnvelope.call?.from_number) ??\n  clean(rootEnvelope.call?.from) ??\n  clean(rootEnvelope.sms?.from) ??\n  clean(rootEnvelope.mail?.from) ??\n  clean(rootEnvelope.entry?.[0]?.messaging?.[0]?.sender?.id);\n\nconst to =\n  clean(args.to) ??\n  clean(rootEnvelope.to) ??\n  clean(rootEnvelope.call?.to_number) ??\n  clean(rootEnvelope.call?.to) ??\n  clean(rootEnvelope.sms?.to) ??\n  clean(rootEnvelope.mail?.to) ??\n  clean(rootEnvelope.entry?.[0]?.messaging?.[0]?.recipient?.id);\n\nconst phone =\n  clean(args.phone) ??\n  clean(args.caller_phone) ??\n  (channel === 'phone' || channel === 'sms' ? clean(from) : null);\n\nconst email =\n  clean(args.email) ??\n  clean(args.customer_email) ??\n  clean(rootEnvelope.email) ??\n  clean(rootEnvelope.mail?.from);\n\nconst restaurantSlug =\n  clean(args.restaurant_slug) ??\n  clean(args.slug) ??\n  clean(rootEnvelope.restaurant_slug) ??\n  clean(rootEnvelope.slug) ??\n  clean(rootEnvelope.metadata?.restaurant_slug) ??\n  clean(args.metadata?.restaurant_slug);\n\nconst conversationId =\n  clean(args.conversation_id) ??\n  clean(rootEnvelope.conversation_id) ??\n  (callId ? `retell-call-${callId}` : null) ??\n  (smsId ? `retell-sms-${smsId}` : null) ??\n  (emailMessageId ? `email-${emailMessageId}` : null) ??\n  (instagramMessageId ? `instagram-${instagramMessageId}` : null) ??\n  (from ? `${source}-${from}` : null) ??\n  `${source}-${Date.now()}`;\n\nconst userMessage =\n  clean(args.user_message) ??\n  clean(args.message) ??\n  clean(args.text) ??\n  clean(args.transcript) ??\n  clean(rootEnvelope.user_message) ??\n  clean(rootEnvelope.message?.text) ??\n  clean(rootEnvelope.message) ??\n  clean(rootEnvelope.text) ??\n  clean(rootEnvelope.sms?.text) ??\n  clean(rootEnvelope.mail?.text) ??\n  clean(rootEnvelope.mail?.subject) ??\n  clean(rootEnvelope.entry?.[0]?.messaging?.[0]?.message?.text) ??\n  '';\n\nconst requestedDatetime =\n  clean(args.requested_datetime) ??\n  clean(args.start_time) ??\n  clean(args.datetime) ??\n  clean(rootEnvelope.requested_datetime);\n\nconst partySize =\n  clean(args.party_size) ??\n  clean(args.people) ??\n  clean(args.guests) ??\n  clean(rootEnvelope.party_size);\n\nconst fullName =\n  clean(args.full_name) ??\n  clean(args.name_for_reservation) ??\n  clean(args.customer_name) ??\n  clean(rootEnvelope.full_name) ??\n  clean(rootEnvelope.mail?.from_name);\n\nconst specialRequest =\n  clean(args.special_request) ??\n  clean(args.special_requests) ??\n  clean(args.note) ??\n  clean(rootEnvelope.special_request);\n\nconst customerConfirmed =\n  args.customer_confirmed ??\n  args.confirmed ??\n  rootEnvelope.customer_confirmed ??\n  false;\n\nconst summary =\n  clean(args.summary) ??\n  clean(rootEnvelope.summary) ??\n  clean(rootEnvelope.call?.call_analysis?.call_summary);\n\nconst transcript =\n  clean(args.transcript) ??\n  clean(rootEnvelope.transcript) ??\n  clean(rootEnvelope.call?.transcript);\n\nconst externalEventId =\n  clean(args.external_event_id) ??\n  clean(rootEnvelope.external_event_id) ??\n  clean(rootEnvelope.event_id) ??\n  clean(callId) ??\n  clean(smsId) ??\n  clean(emailMessageId) ??\n  clean(instagramMessageId) ??\n  conversationId;\n\nconst retellSignature = clean(lowerHeaders['x-retell-signature']);\n\nconst allowedSources = ['retell_voice', 'retell_sms', 'email', 'instagram', 'webhook', 'telegram_debug'];\n\nreturn [{\n  json: {\n    action,\n    source,\n    channel,\n    provider,\n    expected_return: expectedReturn,\n    inbound_source: inboundSource,\n    inbound_channel: inboundChannel,\n    source_allowed: allowedSources.includes(source),\n    source_matches_entrypoint: source === inboundSource,\n    retell_signature_present: !!retellSignature,\n    retell_signature_status: retellSignature ? 'present_not_cryptographically_verified_in_blueprint' : 'missing',\n    source_verification_status:\n      source.startsWith('retell')\n        ? (source === inboundSource && provider === 'retell' && retellSignature ? 'soft_verified_signature_present' : 'retell_unverified_signature_missing_or_source_mismatch')\n        : (source === inboundSource ? 'soft_verified_by_entrypoint' : 'source_mismatch'),\n\n    conversation_id: conversationId,\n    external_event_id: externalEventId,\n    call_id: callId,\n    sms_id: smsId,\n    email_message_id: emailMessageId,\n    instagram_message_id: instagramMessageId,\n\n    restaurant_slug: restaurantSlug,\n    to,\n    from,\n    phone,\n    email,\n    full_name: fullName,\n    user_message: userMessage,\n    raw_message: userMessage,\n    requested_datetime: requestedDatetime,\n    party_size: partySize === null ? null : Number(partySize),\n    special_request: specialRequest,\n    customer_confirmed: customerConfirmed === true || customerConfirmed === 'true' || customerConfirmed === 1 || customerConfirmed === '1',\n    summary,\n    transcript,\n\n    action_sql: sqlString(action),\n    source_sql: sqlString(source),\n    channel_sql: sqlString(channel),\n    provider_sql: sqlString(provider),\n    conversation_id_sql: sqlString(conversationId),\n    external_event_id_sql: sqlString(externalEventId),\n    call_id_sql: sqlString(callId),\n    sms_id_sql: sqlString(smsId),\n    email_message_id_sql: sqlString(emailMessageId),\n    instagram_message_id_sql: sqlString(instagramMessageId),\n    restaurant_slug_sql: sqlString(restaurantSlug),\n    to_sql: sqlString(to),\n    from_sql: sqlString(from),\n    phone_sql: sqlString(phone),\n    email_sql: sqlString(email),\n    full_name_sql: sqlString(fullName),\n    user_message_sql: sqlString(userMessage),\n    requested_datetime_sql: sqlString(requestedDatetime),\n    party_size_sql: sqlNumber(partySize),\n    special_request_sql: sqlString(specialRequest),\n    customer_confirmed_sql: sqlBoolean(customerConfirmed),\n    summary_sql: sqlString(summary),\n    transcript_sql: sqlString(transcript),\n    raw_payload_sql: sqlJson(rootEnvelope),\n\n    raw_payload: rootEnvelope,\n    headers\n  }\n}];"},"id":"1b0e2f60-d88c-4f90-b8a6-1167cf44bba8","name":"Normalize Channel Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,864]},{"parameters":{"jsCode":"const input = $json;\n\nconst isRetell = ['retell_voice', 'retell_sms'].includes(input.source);\nconst hardReject = false;\n\nlet warnings = [];\nif (!input.source_allowed) warnings.push('SOURCE_NOT_ALLOWED');\nif (!input.source_matches_entrypoint) warnings.push('SOURCE_ENTRYPOINT_MISMATCH');\nif (isRetell && !input.retell_signature_present) warnings.push('RETELL_SIGNATURE_MISSING');\n\nreturn [{\n  json: {\n    ...input,\n    is_retell_source: isRetell,\n    source_warnings: warnings,\n    source_verified_for_test: input.source_allowed && input.source_matches_entrypoint,\n    source_verified_cryptographically: false,\n    reject_request: hardReject && warnings.length > 0\n  }\n}];"},"id":"4badd82d-356c-4464-a701-feb0beb1199e","name":"Verify Channel Source","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,864]},{"parameters":{"operation":"executeQuery","query":"WITH found AS (\n  SELECT\n    r.id AS restaurant_id,\n    r.slug,\n    r.name,\n    r.timezone,\n    s.default_meal_duration_minutes,\n    s.cleaning_buffer_minutes,\n    s.grace_delay_minutes,\n    s.max_party_size,\n    s.allow_combined_tables,\n    s.reminder_days_before,\n    s.reminder_hour,\n    s.reminder_channel,\n    s.booking_policy,\n    s.event_notification_policy\n  FROM restaurants r\n  JOIN restaurant_settings s ON s.restaurant_id = r.id\n  WHERE r.is_active = true\n    AND (\n      ({{ $('Verify Channel Source').item.json.restaurant_slug_sql }} IS NOT NULL AND r.slug = {{ $('Verify Channel Source').item.json.restaurant_slug_sql }})\n      OR\n      ({{ $('Verify Channel Source').item.json.to_sql }} IS NOT NULL AND EXISTS (\n        SELECT 1\n        FROM restaurant_channels c\n        WHERE c.restaurant_id = r.id\n          AND c.is_active = true\n          AND c.channel_value = {{ $('Verify Channel Source').item.json.to_sql }}\n          AND c.channel_type IN (\n            {{ $('Verify Channel Source').item.json.source_sql }},\n            {{ $('Verify Channel Source').item.json.channel_sql }},\n            'retell_voice', 'retell_sms', 'phone', 'sms', 'email', 'mail', 'instagram', 'webhook'\n          )\n      ))\n    )\n  ORDER BY\n    CASE WHEN r.slug = {{ $('Verify Channel Source').item.json.restaurant_slug_sql }} THEN 0 ELSE 1 END\n  LIMIT 1\n)\nSELECT\n  EXISTS (SELECT 1 FROM found) AS restaurant_found,\n  (SELECT restaurant_id FROM found) AS restaurant_id,\n  (SELECT slug FROM found) AS restaurant_slug,\n  (SELECT name FROM found) AS restaurant_name,\n  COALESCE((SELECT timezone FROM found), 'Europe/Paris') AS timezone,\n  COALESCE((SELECT default_meal_duration_minutes FROM found), 120) AS default_meal_duration_minutes,\n  COALESCE((SELECT cleaning_buffer_minutes FROM found), 15) AS cleaning_buffer_minutes,\n  COALESCE((SELECT grace_delay_minutes FROM found), 10) AS grace_delay_minutes,\n  COALESCE((SELECT max_party_size FROM found), 12) AS max_party_size,\n  COALESCE((SELECT allow_combined_tables FROM found), false) AS allow_combined_tables,\n  COALESCE((SELECT reminder_days_before FROM found), 1) AS reminder_days_before,\n  COALESCE((SELECT reminder_hour FROM found), 9) AS reminder_hour,\n  COALESCE((SELECT reminder_channel FROM found), 'sms') AS reminder_channel,\n  (SELECT booking_policy FROM found) AS booking_policy,\n  (SELECT event_notification_policy FROM found) AS event_notification_policy;","options":{}},"id":"c302941d-2535-437b-beca-dcd642f88ed3","name":"Lookup Restaurant Context","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1168,864],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  EXISTS (\n    SELECT 1\n    FROM restaurant_closures\n    WHERE restaurant_id = {{ $('Lookup Restaurant Context').item.json.restaurant_id || 'NULL' }}\n      AND is_active = true\n      AND {{ $('Verify Channel Source').item.json.requested_datetime_sql }} IS NOT NULL\n      AND starts_at <= {{ $('Verify Channel Source').item.json.requested_datetime_sql }}::timestamptz\n      AND ends_at > {{ $('Verify Channel Source').item.json.requested_datetime_sql }}::timestamptz\n  ) AS is_closed,\n  (\n    SELECT reason\n    FROM restaurant_closures\n    WHERE restaurant_id = {{ $('Lookup Restaurant Context').item.json.restaurant_id || 'NULL' }}\n      AND is_active = true\n      AND {{ $('Verify Channel Source').item.json.requested_datetime_sql }} IS NOT NULL\n      AND starts_at <= {{ $('Verify Channel Source').item.json.requested_datetime_sql }}::timestamptz\n      AND ends_at > {{ $('Verify Channel Source').item.json.requested_datetime_sql }}::timestamptz\n    ORDER BY starts_at DESC\n    LIMIT 1\n  ) AS closure_reason;","options":{}},"id":"e0a3e0b5-8048-40f7-adba-fafb6efa2c2d","name":"Check Closure For Request","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1440,864],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"WITH input AS (\n  SELECT\n    {{ $('Lookup Restaurant Context').item.json.restaurant_id || 'NULL' }}::bigint AS restaurant_id,\n    {{ $('Verify Channel Source').item.json.requested_datetime_sql }}::timestamptz AS start_time,\n    {{ $('Verify Channel Source').item.json.party_size_sql }}::int AS party_size,\n    {{ $('Verify Channel Source').item.json.full_name_sql }}::text AS full_name,\n    NULLIF('{{ String($('Verify Channel Source').item.json.conversation_id || '').replace(/'/g, \"''\") }}', '')::text AS conversation_id\n),\nexisting AS (\n  SELECT\n    r.id,\n    r.client_id,\n    r.status,\n    r.start_time,\n    r.party_size,\n    r.conversation_id,\n    CASE\n      WHEN i.conversation_id IS NOT NULL\n        AND r.conversation_id = i.conversation_id\n        THEN 1\n      WHEN i.full_name IS NOT NULL\n        AND lower(COALESCE(c.full_name, '')) = lower(i.full_name)\n        THEN 2\n      ELSE 9\n    END AS match_rank\n  FROM reservations r\n  LEFT JOIN clients c ON c.id = r.client_id\n  CROSS JOIN input i\n  WHERE r.restaurant_id = i.restaurant_id\n    AND i.start_time IS NOT NULL\n    AND r.start_time = i.start_time\n    AND r.status IN ('confirmed', 'pending')\n    AND (\n      (\n        i.conversation_id IS NOT NULL\n        AND r.conversation_id = i.conversation_id\n      )\n      OR\n      (\n        i.full_name IS NOT NULL\n        AND i.party_size IS NOT NULL\n        AND r.party_size = i.party_size\n        AND lower(COALESCE(c.full_name, '')) = lower(i.full_name)\n      )\n    )\n  ORDER BY match_rank ASC, r.created_at DESC\n  LIMIT 1\n)\nSELECT\n  EXISTS (SELECT 1 FROM existing) AS reservation_exists,\n  (SELECT id FROM existing) AS existing_reservation_id,\n  (SELECT client_id FROM existing) AS existing_client_id,\n  (SELECT status FROM existing) AS existing_reservation_status,\n  (SELECT conversation_id FROM existing) AS existing_conversation_id,\n  (SELECT match_rank FROM existing) AS existing_match_rank;","options":{}},"id":"ee0eaa6f-7d68-49c5-90a5-fac552f9e5ac","name":"Check Existing Reservation","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1728,864],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"WITH input AS (\n  SELECT\n    {{ $('Lookup Restaurant Context').item.json.restaurant_id || 'NULL' }}::bigint AS restaurant_id,\n    {{ $('Verify Channel Source').item.json.full_name_sql }}::text AS full_name,\n    {{ $('Verify Channel Source').item.json.phone_sql }}::text AS phone,\n    {{ $('Verify Channel Source').item.json.email_sql }}::text AS email,\n    {{ $('Verify Channel Source').item.json.customer_confirmed_sql }}::boolean AS customer_confirmed,\n    {{ $('Verify Channel Source').item.json.action_sql }}::text AS action\n),\nexisting AS (\n  SELECT c.*\n  FROM clients c, input i\n  WHERE i.action = 'create_reservation'\n    AND i.customer_confirmed = true\n    AND i.restaurant_id IS NOT NULL\n    AND (\n      (i.phone IS NOT NULL AND c.phone = i.phone)\n      OR\n      (i.email IS NOT NULL AND c.email = i.email)\n    )\n  ORDER BY c.updated_at DESC NULLS LAST, c.created_at DESC NULLS LAST\n  LIMIT 1\n),\ninserted AS (\n  INSERT INTO clients (\n    restaurant_id,\n    full_name,\n    phone,\n    email,\n    is_new_customer,\n    consent_notifications,\n    consent_marketing,\n    created_at,\n    updated_at\n  )\n  SELECT\n    i.restaurant_id,\n    COALESCE(NULLIF(i.full_name, ''), 'Client'),\n    NULLIF(i.phone, ''),\n    NULLIF(i.email, ''),\n    TRUE,\n    TRUE,\n    FALSE,\n    NOW(),\n    NOW()\n  FROM input i\n  WHERE i.action = 'create_reservation'\n    AND i.customer_confirmed = true\n    AND i.restaurant_id IS NOT NULL\n    AND i.full_name IS NOT NULL\n    AND NOT EXISTS (SELECT 1 FROM existing)\n  RETURNING *\n),\nchosen AS (\n  SELECT * FROM inserted\n  UNION ALL\n  SELECT * FROM existing\n  LIMIT 1\n)\nSELECT\n  EXISTS (SELECT 1 FROM chosen) AS client_ready,\n  (SELECT id FROM chosen) AS client_id,\n  (SELECT full_name FROM chosen) AS client_full_name,\n  (SELECT phone FROM chosen) AS client_phone,\n  (SELECT email FROM chosen) AS client_email;","options":{}},"id":"15f01ea8-5e6c-4b9a-87db-06a23e21eed2","name":"Upsert Client When Needed","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2000,864],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"WITH input AS (\n  SELECT\n    {{ $('Lookup Restaurant Context').item.json.restaurant_id || 'NULL' }}::bigint AS restaurant_id,\n    {{ $('Upsert Client When Needed').item.json.client_id || 'NULL' }}::bigint AS client_id,\n    {{ $('Verify Channel Source').item.json.requested_datetime_sql }}::timestamptz AS start_time,\n    {{ $('Verify Channel Source').item.json.party_size_sql }}::int AS party_size,\n    {{ $('Verify Channel Source').item.json.special_request_sql }}::text AS special_request,\n    {{ $('Lookup Restaurant Context').item.json.default_meal_duration_minutes || 120 }}::int AS meal_duration_minutes,\n    {{ $('Lookup Restaurant Context').item.json.cleaning_buffer_minutes || 15 }}::int AS cleaning_buffer_minutes,\n    {{ $('Verify Channel Source').item.json.customer_confirmed_sql }}::boolean AS customer_confirmed,\n    {{ $('Verify Channel Source').item.json.action_sql }}::text AS action,\n    {{ $('Verify Channel Source').item.json.source_sql }}::text AS source_channel,\n    NULLIF('{{ String($('Verify Channel Source').item.json.conversation_id || '').replace(/'/g, \"''\") }}', '')::text AS conversation_id,\n    {{ $('Check Existing Reservation').item.json.reservation_exists ? 'TRUE' : 'FALSE' }}::boolean AS reservation_exists,\n    {{ $('Check Closure For Request').item.json.is_closed ? 'TRUE' : 'FALSE' }}::boolean AS is_closed\n),\ninserted AS (\n  INSERT INTO reservations (\n    restaurant_id,\n    client_id,\n    conversation_id,\n    source_channel,\n    status,\n    party_size,\n    start_time,\n    end_time,\n    meal_duration_minutes,\n    cleaning_buffer_minutes,\n    special_request,\n    created_at,\n    updated_at\n  )\n  SELECT\n    i.restaurant_id,\n    i.client_id,\n    i.conversation_id,\n    COALESCE(i.source_channel, 'retell_voice'),\n    'confirmed',\n    i.party_size,\n    i.start_time,\n    i.start_time + (i.meal_duration_minutes || ' minutes')::interval,\n    i.meal_duration_minutes,\n    i.cleaning_buffer_minutes,\n    NULLIF(i.special_request, ''),\n    NOW(),\n    NOW()\n  FROM input i\n  WHERE i.action = 'create_reservation'\n    AND i.customer_confirmed = true\n    AND i.restaurant_id IS NOT NULL\n    AND i.client_id IS NOT NULL\n    AND i.start_time IS NOT NULL\n    AND i.party_size IS NOT NULL\n    AND i.reservation_exists = false\n    AND i.is_closed = false\n  ON CONFLICT (restaurant_id, conversation_id, start_time)\n  WHERE conversation_id IS NOT NULL\n  DO UPDATE SET\n    updated_at = reservations.updated_at\n  RETURNING *\n)\nSELECT\n  EXISTS (SELECT 1 FROM inserted) AS reservation_created,\n  (SELECT id FROM inserted) AS reservation_id,\n  (SELECT client_id FROM inserted) AS client_id,\n  (SELECT status FROM inserted) AS reservation_status,\n  (SELECT start_time FROM inserted) AS start_time,\n  (SELECT end_time FROM inserted) AS end_time,\n  (SELECT conversation_id FROM inserted) AS conversation_id;","options":{}},"id":"93ce9bbe-9df2-4267-9c6e-5b1ca0f0887c","name":"Create Reservation When Needed","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2288,864],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS channel_conversation_logs (\n  id BIGSERIAL PRIMARY KEY,\n  restaurant_id BIGINT,\n  conversation_id TEXT NOT NULL,\n  external_event_id TEXT NOT NULL,\n  call_id TEXT,\n  sms_id TEXT,\n  email_message_id TEXT,\n  instagram_message_id TEXT,\n  source TEXT NOT NULL,\n  channel TEXT NOT NULL,\n  provider TEXT,\n  phone TEXT,\n  email TEXT,\n  summary TEXT,\n  transcript TEXT,\n  user_message TEXT,\n  raw_payload JSONB,\n  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n  UNIQUE (conversation_id, external_event_id)\n);","options":{}},"id":"3fabcc3a-3bdb-44ec-9589-3cca32534417","name":"Ensure Channel Logs Table","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2560,864],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"WITH input AS (\n  SELECT\n    {{ $('Lookup Restaurant Context').item.json.restaurant_id || 'NULL' }}::bigint AS restaurant_id,\n    {{ $('Verify Channel Source').item.json.conversation_id_sql }}::text AS conversation_id,\n    {{ $('Verify Channel Source').item.json.external_event_id_sql }}::text AS external_event_id,\n    {{ $('Verify Channel Source').item.json.call_id_sql }}::text AS call_id,\n    {{ $('Verify Channel Source').item.json.sms_id_sql }}::text AS sms_id,\n    {{ $('Verify Channel Source').item.json.email_message_id_sql }}::text AS email_message_id,\n    {{ $('Verify Channel Source').item.json.instagram_message_id_sql }}::text AS instagram_message_id,\n    {{ $('Verify Channel Source').item.json.source_sql }}::text AS source,\n    {{ $('Verify Channel Source').item.json.channel_sql }}::text AS channel,\n    {{ $('Verify Channel Source').item.json.provider_sql }}::text AS provider,\n    {{ $('Verify Channel Source').item.json.phone_sql }}::text AS phone,\n    {{ $('Verify Channel Source').item.json.email_sql }}::text AS email,\n    {{ $('Verify Channel Source').item.json.summary_sql }}::text AS summary,\n    {{ $('Verify Channel Source').item.json.transcript_sql }}::text AS transcript,\n    {{ $('Verify Channel Source').item.json.user_message_sql }}::text AS user_message,\n    {{ $('Verify Channel Source').item.json.raw_payload_sql }} AS raw_payload,\n    {{ $('Verify Channel Source').item.json.action_sql }}::text AS action\n),\ninserted AS (\n  INSERT INTO channel_conversation_logs (\n    restaurant_id,\n    conversation_id,\n    external_event_id,\n    call_id,\n    sms_id,\n    email_message_id,\n    instagram_message_id,\n    source,\n    channel,\n    provider,\n    phone,\n    email,\n    summary,\n    transcript,\n    user_message,\n    raw_payload,\n    created_at\n  )\n  SELECT\n    restaurant_id,\n    conversation_id,\n    external_event_id,\n    call_id,\n    sms_id,\n    email_message_id,\n    instagram_message_id,\n    source,\n    channel,\n    provider,\n    phone,\n    email,\n    summary,\n    transcript,\n    user_message,\n    raw_payload,\n    NOW()\n  FROM input\n  WHERE conversation_id IS NOT NULL\n    AND external_event_id IS NOT NULL\n    AND action IN ('log_conversation', 'message_inbound', 'check_availability', 'create_reservation', 'get_restaurant_context')\n  ON CONFLICT (conversation_id, external_event_id)\n  DO UPDATE SET\n    summary = COALESCE(EXCLUDED.summary, channel_conversation_logs.summary),\n    transcript = COALESCE(EXCLUDED.transcript, channel_conversation_logs.transcript),\n    user_message = COALESCE(EXCLUDED.user_message, channel_conversation_logs.user_message),\n    raw_payload = EXCLUDED.raw_payload\n  RETURNING *\n)\nSELECT\n  EXISTS (SELECT 1 FROM inserted) AS log_saved,\n  (SELECT id FROM inserted) AS log_id;","options":{}},"id":"47f250b6-d3d7-42d2-b560-725b8e60d2dc","name":"Save Channel Log","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[2848,864],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"jsCode":"function nodeJson(name) {\n  try {\n    return $(name).item.json || {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction hasValue(v) {\n  return v !== undefined && v !== null && v !== '';\n}\n\nfunction readFieldFrom(obj, field) {\n  const candidates = [\n    obj?.[field],\n    obj?.body?.[field],\n    obj?.body?.args?.[field],\n    obj?.body?.arguments?.[field],\n    obj?.args?.[field],\n    obj?.arguments?.[field],\n    obj?.query?.[field]\n  ];\n\n  return candidates.find(hasValue);\n}\n\nconst verifyJson = nodeJson('Verify Channel Source');\nconst webhookJson = nodeJson('Webhook Retell Voice Function');\nconst markJson = nodeJson('Mark Retell Voice Source');\n\nfunction pickField(field, fallback = null) {\n  const sources = [\n    verifyJson,\n    markJson,\n    webhookJson\n  ];\n\n  for (const source of sources) {\n    const value = readFieldFrom(source, field);\n    if (hasValue(value)) return value;\n  }\n\n  return fallback;\n}\n\nconst req = {\n  ...verifyJson,\n\n  date_text: pickField('date_text', verifyJson.date_text),\n  time_text: pickField('time_text', verifyJson.time_text),\n  current_datetime: pickField('current_datetime', verifyJson.current_datetime),\n  restaurant_timezone: pickField('restaurant_timezone', verifyJson.restaurant_timezone),\n\n  requested_datetime: pickField('requested_datetime', verifyJson.requested_datetime),\n  party_size: pickField('party_size', verifyJson.party_size),\n  full_name: pickField('full_name', verifyJson.full_name),\n  phone: pickField('phone', verifyJson.phone),\n  email: pickField('email', verifyJson.email),\n  special_request: pickField('special_request', verifyJson.special_request),\n  customer_confirmed: pickField('customer_confirmed', verifyJson.customer_confirmed),\n  restaurant_slug: pickField('restaurant_slug', verifyJson.restaurant_slug),\n  conversation_id: pickField('conversation_id', verifyJson.conversation_id)\n};\n\nconst restaurant = $('Lookup Restaurant Context').item.json;\nconst closure = $('Check Closure For Request').item.json;\nconst existing = $('Check Existing Reservation').item.json;\nconst client = $('Upsert Client When Needed').item.json;\nconst reservation = $('Create Reservation When Needed').item.json;\nconst log = $('Save Channel Log').item.json;\n\nfunction bool(v) {\n  return v === true || v === 'true' || v === 1 || v === '1';\n}\n\nfunction pad(n) {\n  return String(n).padStart(2, '0');\n}\n\nfunction normalizeText(v) {\n  return String(v || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[’']/g, ' ')\n    .replace(/-/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction formatDateHumanFr(iso, timezone = 'Europe/Paris') {\n  if (!iso) return null;\n\n  const d = new Date(iso);\n  if (Number.isNaN(d.getTime())) return null;\n\n  const date = d.toLocaleDateString('fr-FR', {\n    weekday: 'long',\n    day: 'numeric',\n    month: 'long',\n    year: 'numeric',\n    timeZone: timezone\n  });\n\n  const parts = new Intl.DateTimeFormat('fr-FR', {\n    hour: 'numeric',\n    minute: '2-digit',\n    hour12: false,\n    timeZone: timezone\n  }).formatToParts(d);\n\n  const hour = Number(parts.find(p => p.type === 'hour')?.value ?? 0);\n  const minute = Number(parts.find(p => p.type === 'minute')?.value ?? 0);\n\n  let timeLabel;\n\n  if (hour === 12 && minute === 0) {\n    timeLabel = 'midi';\n  } else if (hour === 12 && minute === 30) {\n    timeLabel = 'midi trente';\n  } else if (minute === 0) {\n    timeLabel = `${hour} heure${hour > 1 ? 's' : ''}`;\n  } else {\n    timeLabel = `${hour}h${pad(minute)}`;\n  }\n\n  return `${date} à ${timeLabel}`;\n}\n\nfunction getTimezoneOffsetMinutes(date, timeZone) {\n  const dtf = new Intl.DateTimeFormat('en-US', {\n    timeZone,\n    hour12: false,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit'\n  });\n\n  const parts = dtf.formatToParts(date).reduce((acc, part) => {\n    if (part.type !== 'literal') acc[part.type] = part.value;\n    return acc;\n  }, {});\n\n  const asUTC = Date.UTC(\n    Number(parts.year),\n    Number(parts.month) - 1,\n    Number(parts.day),\n    Number(parts.hour),\n    Number(parts.minute),\n    Number(parts.second)\n  );\n\n  return (asUTC - date.getTime()) / 60000;\n}\n\nfunction offsetToString(offsetMinutes) {\n  const sign = offsetMinutes >= 0 ? '+' : '-';\n  const abs = Math.abs(offsetMinutes);\n  const h = Math.floor(abs / 60);\n  const m = abs % 60;\n  return `${sign}${pad(h)}:${pad(m)}`;\n}\n\nfunction makeZonedIso(year, monthIndex, day, hour, minute, timezone = 'Europe/Paris') {\n  const utcGuess = new Date(Date.UTC(year, monthIndex, day, hour, minute, 0));\n  let offset = getTimezoneOffsetMinutes(utcGuess, timezone);\n\n  let utcDate = new Date(Date.UTC(year, monthIndex, day, hour, minute, 0) - offset * 60000);\n  offset = getTimezoneOffsetMinutes(utcDate, timezone);\n\n  utcDate = new Date(Date.UTC(year, monthIndex, day, hour, minute, 0) - offset * 60000);\n\n  return {\n    iso: `${year}-${pad(monthIndex + 1)}-${pad(day)}T${pad(hour)}:${pad(minute)}:00${offsetToString(offset)}`,\n    utcDate,\n    offset\n  };\n}\n\nfunction getParisParts(date, timezone = 'Europe/Paris') {\n  const parts = new Intl.DateTimeFormat('fr-FR', {\n    timeZone: timezone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    weekday: 'long',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  }).formatToParts(date).reduce((acc, part) => {\n    if (part.type !== 'literal') acc[part.type] = part.value;\n    return acc;\n  }, {});\n\n  const weekdays = {\n    dimanche: 0,\n    lundi: 1,\n    mardi: 2,\n    mercredi: 3,\n    jeudi: 4,\n    vendredi: 5,\n    samedi: 6\n  };\n\n  return {\n    year: Number(parts.year),\n    monthIndex: Number(parts.month) - 1,\n    day: Number(parts.day),\n    weekday: weekdays[normalizeText(parts.weekday)],\n    hour: Number(parts.hour),\n    minute: Number(parts.minute)\n  };\n}\n\nfunction wordsToNumber(text) {\n  const t = normalizeText(text);\n\n  const numbers = {\n    'un': 1,\n    'une': 1,\n    'deux': 2,\n    'trois': 3,\n    'quatre': 4,\n    'cinq': 5,\n    'six': 6,\n    'sept': 7,\n    'huit': 8,\n    'neuf': 9,\n    'dix': 10,\n    'onze': 11,\n    'douze': 12,\n    'treize': 13,\n    'quatorze': 14,\n    'quinze': 15,\n    'seize': 16,\n    'dix sept': 17,\n    'dix huit': 18,\n    'dix neuf': 19,\n    'vingt': 20,\n    'vingt et un': 21,\n    'vingt et une': 21,\n    'vingt deux': 22,\n    'vingt trois': 23,\n    'vingt quatre': 24,\n    'vingt cinq': 25,\n    'vingt six': 26,\n    'vingt sept': 27,\n    'vingt huit': 28,\n    'vingt neuf': 29,\n    'trente': 30,\n    'trente et un': 31\n  };\n\n  if (/^\\d+$/.test(t)) return Number(t);\n\n  return numbers[t] ?? null;\n}\n\nfunction parseDateText(dateText, currentDate, timezone = 'Europe/Paris') {\n  const raw = normalizeText(dateText);\n  const base = getParisParts(currentDate, timezone);\n\n  const weekdays = {\n    dimanche: 0,\n    lundi: 1,\n    mardi: 2,\n    mercredi: 3,\n    jeudi: 4,\n    vendredi: 5,\n    samedi: 6\n  };\n\n  const months = {\n    janvier: 0,\n    fevrier: 1,\n    mars: 2,\n    avril: 3,\n    mai: 4,\n    juin: 5,\n    juillet: 6,\n    aout: 7,\n    septembre: 8,\n    octobre: 9,\n    novembre: 10,\n    decembre: 11\n  };\n\n  let year = base.year;\n  let monthIndex = base.monthIndex;\n  let day = base.day;\n\n  if (raw.includes('aujourd')) {\n    return { year, monthIndex, day };\n  }\n\n  if (raw.includes('demain')) {\n    const d = new Date(Date.UTC(base.year, base.monthIndex, base.day, 12, 0, 0));\n    d.setUTCDate(d.getUTCDate() + 1);\n    return {\n      year: d.getUTCFullYear(),\n      monthIndex: d.getUTCMonth(),\n      day: d.getUTCDate()\n    };\n  }\n\n  const absoluteMatch = raw.match(/(?:lundi|mardi|mercredi|jeudi|vendredi|samedi|dimanche)?\\s*(\\d{1,2}|un|une|deux|trois|quatre|cinq|six|sept|huit|neuf|dix|onze|douze|treize|quatorze|quinze|seize|dix sept|dix huit|dix neuf|vingt|vingt et un|vingt et une|vingt deux|vingt trois|vingt quatre|vingt cinq|vingt six|vingt sept|vingt huit|vingt neuf|trente|trente et un)\\s+(janvier|fevrier|mars|avril|mai|juin|juillet|aout|septembre|octobre|novembre|decembre)(?:\\s+(\\d{4}|deux mille vingt six|deux mille vingt sept))?/);\n\n  if (absoluteMatch) {\n    const parsedDay = wordsToNumber(absoluteMatch[1]);\n    const parsedMonth = months[absoluteMatch[2]];\n\n    let parsedYear = base.year;\n\n    if (absoluteMatch[3]) {\n      const y = normalizeText(absoluteMatch[3]);\n      if (/^\\d{4}$/.test(y)) parsedYear = Number(y);\n      if (y === 'deux mille vingt six') parsedYear = 2026;\n      if (y === 'deux mille vingt sept') parsedYear = 2027;\n    }\n\n    const candidate = makeZonedIso(parsedYear, parsedMonth, parsedDay, 12, 0, timezone).utcDate;\n\n    if (candidate < currentDate && !absoluteMatch[3]) {\n      parsedYear += 1;\n    }\n\n    return {\n      year: parsedYear,\n      monthIndex: parsedMonth,\n      day: parsedDay\n    };\n  }\n\n  for (const [weekdayName, targetWeekday] of Object.entries(weekdays)) {\n    if (raw.includes(weekdayName)) {\n      let delta = (targetWeekday - base.weekday + 7) % 7;\n\n      if (delta === 0) {\n        delta = 7;\n      }\n\n      const d = new Date(Date.UTC(base.year, base.monthIndex, base.day, 12, 0, 0));\n      d.setUTCDate(d.getUTCDate() + delta);\n\n      return {\n        year: d.getUTCFullYear(),\n        monthIndex: d.getUTCMonth(),\n        day: d.getUTCDate()\n      };\n    }\n  }\n\n  return null;\n}\n\nfunction parseTimeText(dateText, timeText) {\n  const raw = normalizeText(`${dateText || ''} ${timeText || ''}`);\n\n  if (raw.includes('midi trente') || raw.includes('midi et demi') || raw.includes('12h30') || raw.includes('12 h 30')) {\n    return { hour: 12, minute: 30 };\n  }\n\n  if (raw.includes('midi quart') || raw.includes('midi et quart') || raw.includes('12h15') || raw.includes('12 h 15')) {\n    return { hour: 12, minute: 15 };\n  }\n\n  if (raw.includes('midi moins le quart') || raw.includes('11h45') || raw.includes('11 h 45')) {\n    return { hour: 11, minute: 45 };\n  }\n\n  if (raw.includes('midi')) {\n    return { hour: 12, minute: 0 };\n  }\n\n  if (raw.includes('soir')) {\n    const explicitTime = parseExplicitTime(raw);\n    if (explicitTime) {\n      if (explicitTime.hour >= 1 && explicitTime.hour <= 11) {\n        explicitTime.hour += 12;\n      }\n      return explicitTime;\n    }\n\n    return { hour: 19, minute: 0 };\n  }\n\n  const explicitTime = parseExplicitTime(raw);\n  if (explicitTime) return explicitTime;\n\n  return null;\n}\n\nfunction parseExplicitTime(raw) {\n  let match = raw.match(/(\\d{1,2})\\s*h\\s*(\\d{1,2})?/);\n  if (match) {\n    return {\n      hour: Number(match[1]),\n      minute: match[2] ? Number(match[2]) : 0\n    };\n  }\n\n  match = raw.match(/(\\d{1,2})\\s*:\\s*(\\d{2})/);\n  if (match) {\n    return {\n      hour: Number(match[1]),\n      minute: Number(match[2])\n    };\n  }\n\n  match = raw.match(/(\\d{1,2})\\s*heures?\\s*(\\d{1,2})?/);\n  if (match) {\n    return {\n      hour: Number(match[1]),\n      minute: match[2] ? Number(match[2]) : 0\n    };\n  }\n\n  const wordHours = [\n    ['vingt trois', 23],\n    ['vingt deux', 22],\n    ['vingt et une', 21],\n    ['vingt et un', 21],\n    ['vingt', 20],\n    ['dix neuf', 19],\n    ['dix huit', 18],\n    ['dix sept', 17],\n    ['seize', 16],\n    ['quinze', 15],\n    ['quatorze', 14],\n    ['treize', 13],\n    ['douze', 12],\n    ['onze', 11],\n    ['dix', 10],\n    ['neuf', 9],\n    ['huit', 8],\n    ['sept', 7],\n    ['six', 6],\n    ['cinq', 5],\n    ['quatre', 4],\n    ['trois', 3],\n    ['deux', 2],\n    ['une', 1],\n    ['un', 1]\n  ];\n\n  for (const [label, hour] of wordHours) {\n    if (raw.includes(`${label} heure`) || raw.includes(`${label} heures`)) {\n      let minute = 0;\n\n      if (raw.includes('trente')) minute = 30;\n      if (raw.includes('quart')) minute = 15;\n      if (raw.includes('moins le quart')) {\n        return {\n          hour: hour - 1,\n          minute: 45\n        };\n      }\n\n      return { hour, minute };\n    }\n  }\n\n  return null;\n}\n\nconst restaurantFound = bool(restaurant.restaurant_found);\nconst isClosed = bool(closure.is_closed);\nconst reservationExists = bool(existing.reservation_exists);\nconst reservationCreated = bool(reservation.reservation_created);\nconst logSaved = bool(log.log_saved);\n\nconst timezone = restaurant.timezone || req.restaurant_timezone || 'Europe/Paris';\nconst humanDate = formatDateHumanFr(req.requested_datetime, timezone);\nconst missing = [];\n\nif (['check_availability', 'create_reservation'].includes(req.action)) {\n  if (!req.requested_datetime) missing.push('requested_datetime');\n  if (!req.party_size) missing.push('party_size');\n}\n\nif (req.action === 'create_reservation') {\n  if (!req.full_name) missing.push('full_name');\n  if (!req.customer_confirmed) missing.push('customer_confirmed');\n}\n\nlet response = {\n  ok: false,\n  action: req.action || 'unknown',\n  source: req.source,\n  channel: req.channel,\n  provider: req.provider,\n  conversation_id: req.conversation_id,\n  external_event_id: req.external_event_id,\n  source_verified_for_test: req.source_verified_for_test,\n  source_verified_cryptographically: req.source_verified_cryptographically,\n  source_verification_status: req.source_verification_status,\n  source_warnings: req.source_warnings || [],\n  restaurant_found: restaurantFound,\n  restaurant_id: restaurant.restaurant_id ?? null,\n  restaurant_slug: restaurant.restaurant_slug ?? req.restaurant_slug ?? null,\n  restaurant_name: restaurant.restaurant_name ?? null,\n  decision: 'technical_error',\n  reply: \"Désolé, je rencontre un problème technique. Le restaurant pourra reprendre la demande directement.\",\n  needs_followup: false,\n  missing_fields: [],\n  available: false,\n  confirmed: false,\n  duplicate: false,\n  reservation_id: null,\n  client_id: null,\n  log_saved: logSaved,\n  log_id: log.log_id ?? null,\n  error_code: null,\n  async_outbound_required: ['email', 'instagram'].includes(req.source)\n};\n\nif (req.requested_datetime) {\n  response.requested_datetime = req.requested_datetime;\n  response.resolved_requested_datetime = req.requested_datetime;\n  response.human_date = humanDate;\n  response.resolved_human_date = humanDate;\n  response.restaurant_timezone = timezone;\n}\n\nif (req.party_size) {\n  response.party_size = Number(req.party_size);\n}\n\nif (req.full_name) {\n  response.full_name = req.full_name;\n}\n\nconst supportedActions = [\n  'get_restaurant_context',\n  'resolve_reservation_datetime',\n  'check_availability',\n  'create_reservation',\n  'log_conversation',\n  'message_inbound'\n];\n\nif (!req.action || !supportedActions.includes(req.action)) {\n  response.error_code = 'UNSUPPORTED_ACTION';\n  response.decision = 'technical_error';\n  response.reply = \"Action non prise en charge par le service de réservation.\";\n  return [{ json: response }];\n}\n\nif (!restaurantFound && req.action !== 'log_conversation') {\n  response.error_code = 'RESTAURANT_NOT_FOUND';\n  response.decision = 'need_human';\n  response.reply = \"Je suis désolé, je n’arrive pas à identifier le restaurant concerné. Pouvez-vous vérifier le canal utilisé ou rappeler le restaurant directement ?\";\n  return [{ json: response }];\n}\n\nconst requestedDate = req.requested_datetime ? new Date(req.requested_datetime) : null;\nconst now = new Date();\n\nconst requestedDateIsInvalid =\n  req.requested_datetime &&\n  (Number.isNaN(requestedDate.getTime()) || requestedDate < now);\n\nif (['check_availability', 'create_reservation'].includes(req.action) && requestedDateIsInvalid) {\n  response.ok = false;\n  response.decision = 'date_clarification_needed';\n  response.available = false;\n  response.confirmed = false;\n  response.error_code = 'REQUESTED_DATETIME_IN_PAST';\n  response.reply = \"Je n’ai pas pu interpréter correctement la date. Pouvez-vous me donner la date complète, par exemple mercredi 22 juillet ?\";\n  response.missing_fields = ['requested_datetime'];\n  return [{ json: response }];\n}\n\nif (req.action === 'message_inbound') {\n  response.ok = true;\n  response.decision = 'message_received_needs_core_agent';\n  response.needs_followup = true;\n  response.reply = \"Bonjour, votre demande est bien reçue. Pouvez-vous préciser la date, l’heure, le nombre de personnes et le nom pour la réservation ?\";\n  response.missing_fields = ['requested_datetime', 'party_size', 'full_name'];\n  response.note = \"Blueprint router: à remplacer ensuite par l’appel au Reservation Core / Agent Conversationnel.\";\n  return [{ json: response }];\n}\n\nif (req.action === 'get_restaurant_context') {\n  const currentDatetime = new Date();\n\n  response.ok = true;\n  response.decision = 'context_ready';\n  response.reply = `Vous êtes l’agent de réservation du restaurant ${restaurant.restaurant_name}.`;\n  response.available = null;\n  response.context = {\n    restaurant_id: restaurant.restaurant_id,\n    restaurant_slug: restaurant.restaurant_slug,\n    restaurant_name: restaurant.restaurant_name,\n    timezone,\n    current_datetime: currentDatetime.toISOString(),\n    current_datetime_human: formatDateHumanFr(currentDatetime.toISOString(), timezone),\n    max_party_size: Number(restaurant.max_party_size || 12),\n    default_meal_duration_minutes: Number(restaurant.default_meal_duration_minutes || 120),\n    cleaning_buffer_minutes: Number(restaurant.cleaning_buffer_minutes || 15),\n    booking_policy: restaurant.booking_policy ?? null,\n    event_notification_policy: restaurant.event_notification_policy ?? null\n  };\n  return [{ json: response }];\n}\n\nif (req.action === 'resolve_reservation_datetime') {\n  const dateText = req.date_text || '';\n  const timeText = req.time_text || '';\n  const currentDatetimeRaw = req.current_datetime || new Date().toISOString();\n  const currentDate = new Date(currentDatetimeRaw);\n\n  if (!dateText) {\n    response.ok = false;\n    response.decision = 'datetime_clarification_needed';\n    response.error_code = 'DATE_TEXT_MISSING';\n    response.reply = \"Pour quel jour souhaitez-vous réserver ?\";\n    response.missing_fields = ['date_text'];\n    return [{ json: response }];\n  }\n\n  if (!timeText) {\n    response.ok = false;\n    response.decision = 'datetime_clarification_needed';\n    response.error_code = 'TIME_TEXT_MISSING';\n    response.reply = \"Pour quel horaire souhaitez-vous réserver ?\";\n    response.missing_fields = ['time_text'];\n    return [{ json: response }];\n  }\n\n  if (Number.isNaN(currentDate.getTime())) {\n    response.ok = false;\n    response.decision = 'datetime_clarification_needed';\n    response.error_code = 'INVALID_CURRENT_DATETIME';\n    response.reply = \"Je n’arrive pas à interpréter la date actuelle. Pouvez-vous me donner la date complète ?\";\n    response.missing_fields = ['current_datetime'];\n    return [{ json: response }];\n  }\n  const resolvedDate = parseDateText(dateText, currentDate, timezone);\n  const resolvedTime = parseTimeText(dateText, timeText);\n  \n  const normalizedTimeText = normalizeText(timeText);\n  const normalizedDateText = normalizeText(dateText);\n  const normalizedFullText = `${normalizedDateText} ${normalizedTimeText}`;\n  \n  /**\n   * Protection restaurant :\n   * Une heure entre 1 et 6 est ambiguë.\n   * Exemple : \"une heure et quart\" peut vouloir dire 1h15 ou 13h15.\n   * On ne doit pas confirmer automatiquement.\n   */\n  if (\n    resolvedTime &&\n    resolvedTime.hour >= 1 &&\n    resolvedTime.hour <= 6 &&\n    !normalizedFullText.includes('matin') &&\n    !normalizedFullText.includes('apres midi') &&\n    !normalizedFullText.includes('apres-midi') &&\n    !normalizedFullText.includes('soir') &&\n    !normalizedFullText.includes('dejeuner') &&\n    !normalizedFullText.includes('diner') &&\n    !normalizedFullText.includes('déjeuner') &&\n    !normalizedFullText.includes('dîner')\n  ) {\n    response.ok = false;\n    response.decision = 'time_clarification_needed';\n    response.error_code = 'AMBIGUOUS_RESTAURANT_TIME';\n    response.available = false;\n    response.confirmed = false;\n    response.reply = `Pour confirmer, vous voulez dire ${resolvedTime.hour + 12}h${resolvedTime.minute ? pad(resolvedTime.minute) : ''} ?`;\n    response.missing_fields = ['time_text'];\n    response.human_date = null;\n    response.requested_datetime = null;\n    response.resolved_requested_datetime = null;\n  \n    const responseBody = { ...response };\n    response.response_body = responseBody;\n  \n    return [{ json: response }];\n  }\n\n  if (!resolvedDate) {\n    response.ok = false;\n    response.decision = 'datetime_clarification_needed';\n    response.error_code = 'DATE_NOT_RESOLVED';\n    response.reply = \"Je n’ai pas pu interpréter correctement la date. Pouvez-vous me donner la date complète, par exemple mercredi 22 juillet ?\";\n    response.missing_fields = ['date_text'];\n    return [{ json: response }];\n  }\n\n  if (!resolvedTime) {\n    response.ok = false;\n    response.decision = 'datetime_clarification_needed';\n    response.error_code = 'TIME_NOT_RESOLVED';\n    response.reply = \"Pour quel horaire souhaitez-vous réserver ?\";\n    response.missing_fields = ['time_text'];\n    return [{ json: response }];\n  }\n\n  const zoned = makeZonedIso(\n    resolvedDate.year,\n    resolvedDate.monthIndex,\n    resolvedDate.day,\n    resolvedTime.hour,\n    resolvedTime.minute,\n    timezone\n  );\n\n  if (zoned.utcDate < currentDate) {\n    response.ok = false;\n    response.decision = 'datetime_clarification_needed';\n    response.error_code = 'REQUESTED_DATETIME_IN_PAST';\n    response.reply = \"Je n’ai pas pu interpréter correctement la date. Pouvez-vous me donner la date complète ?\";\n    response.missing_fields = ['date_text'];\n    return [{ json: response }];\n  }\n\n  const resolvedHumanDate = formatDateHumanFr(zoned.iso, timezone);\n\n  response.ok = true;\n  response.decision = 'datetime_resolved';\n  response.available = null;\n  response.confirmed = false;\n  response.requested_datetime = zoned.iso;\n  response.resolved_requested_datetime = zoned.iso;\n  response.human_date = resolvedHumanDate;\n  response.resolved_human_date = resolvedHumanDate;\n  response.restaurant_timezone = timezone;\n  response.reply = `Très bien, j’ai compris : ${resolvedHumanDate}.`;\n  response.missing_fields = [];\n\n  return [{ json: response }];\n}\n\nif (req.action === 'check_availability') {\n  if (missing.length > 0) {\n    response.ok = true;\n    response.decision = 'need_followup';\n    response.needs_followup = true;\n    response.missing_fields = missing;\n    response.error_code = 'MISSING_REQUIRED_FIELDS';\n    response.reply = \"Il me manque la date, l’heure ou le nombre de personnes pour vérifier le créneau.\";\n    return [{ json: response }];\n  }\n\n  if (Number(req.party_size) > Number(restaurant.max_party_size || 12)) {\n    response.ok = true;\n    response.decision = 'unavailable';\n    response.available = false;\n    response.error_code = 'PARTY_SIZE_TOO_LARGE';\n    response.reply = `Pour ${req.party_size} personnes, je dois transmettre la demande au restaurant. Le maximum standard est de ${restaurant.max_party_size || 12} personnes.`;\n    return [{ json: response }];\n  }\n\n  if (isClosed) {\n    response.ok = true;\n    response.decision = 'unavailable';\n    response.available = false;\n    response.error_code = 'RESTAURANT_CLOSED';\n    response.reply = `Désolé, le restaurant est fermé sur ce créneau${closure.closure_reason ? ` : ${closure.closure_reason}` : ''}. Souhaitez-vous choisir un autre horaire ?`;\n    return [{ json: response }];\n  }\n\n  response.ok = true;\n  response.available = true;\n\n  if (!req.full_name) {\n    response.decision = 'available_needs_name';\n    response.needs_followup = true;\n    response.missing_fields = ['full_name'];\n    response.reply = `Le créneau est disponible pour ${req.party_size} personne${Number(req.party_size) > 1 ? 's' : ''}${humanDate ? ` le ${humanDate}` : ''}. À quel nom dois-je noter la réservation ?`;\n    return [{ json: response }];\n  }\n\n  response.decision = 'available_waiting_confirmation';\n  response.reply = `Le créneau est disponible pour ${req.party_size} personne${Number(req.party_size) > 1 ? 's' : ''}${humanDate ? ` le ${humanDate}` : ''}, au nom de ${req.full_name}. Souhaitez-vous confirmer la réservation ?`;\n  return [{ json: response }];\n}\n\nif (req.action === 'create_reservation') {\n  if (missing.length > 0) {\n    response.ok = true;\n    response.decision = 'need_followup';\n    response.needs_followup = true;\n    response.missing_fields = missing;\n    response.error_code = 'MISSING_REQUIRED_FIELDS';\n    response.reply = \"Il me manque encore une information ou une confirmation explicite avant de créer la réservation.\";\n    return [{ json: response }];\n  }\n\n  if (Number(req.party_size) > Number(restaurant.max_party_size || 12)) {\n    response.ok = true;\n    response.decision = 'unavailable';\n    response.available = false;\n    response.error_code = 'PARTY_SIZE_TOO_LARGE';\n    response.reply = `Pour ${req.party_size} personnes, je dois transmettre la demande au restaurant au lieu de confirmer automatiquement.`;\n    return [{ json: response }];\n  }\n\n  if (isClosed) {\n    response.ok = true;\n    response.decision = 'unavailable';\n    response.available = false;\n    response.error_code = 'RESTAURANT_CLOSED';\n    response.reply = `Je ne peux pas confirmer cette réservation : le restaurant est fermé sur ce créneau${closure.closure_reason ? ` : ${closure.closure_reason}` : ''}.`;\n    return [{ json: response }];\n  }\n\n  if (reservationExists) {\n    response.ok = true;\n    response.decision = 'already_confirmed';\n    response.available = true;\n    response.confirmed = true;\n    response.duplicate = true;\n    response.reservation_id = existing.existing_reservation_id ?? null;\n    response.client_id = existing.existing_client_id ?? null;\n    response.reply = `Votre réservation est déjà confirmée${humanDate ? ` pour le ${humanDate}` : ''} au nom de ${req.full_name}, pour ${req.party_size} personne${Number(req.party_size) > 1 ? 's' : ''}.`;\n    return [{ json: response }];\n  }\n\n  if (reservationCreated) {\n    response.ok = true;\n    response.decision = 'confirmed';\n    response.available = true;\n    response.confirmed = true;\n    response.reservation_id = reservation.reservation_id ?? null;\n    response.client_id = reservation.client_id ?? client.client_id ?? null;\n    response.reply = `Votre réservation est confirmée${humanDate ? ` pour le ${humanDate}` : ''} au nom de ${req.full_name}, pour ${req.party_size} personne${Number(req.party_size) > 1 ? 's' : ''}. Merci et à bientôt.`;\n    return [{ json: response }];\n  }\n\n  response.error_code = 'RESERVATION_NOT_CREATED';\n  response.decision = 'technical_error';\n  response.reply = \"Je suis désolé, je n’ai pas pu créer la réservation automatiquement. Le restaurant pourra reprendre la demande.\";\n  return [{ json: response }];\n}\n\nif (req.action === 'log_conversation') {\n  response.ok = true;\n  response.decision = logSaved ? 'logged' : 'ignored';\n  response.reply = logSaved ? \"Conversation enregistrée.\" : \"Aucune conversation à enregistrer.\";\n  response.log_saved = logSaved;\n  response.log_id = log.log_id ?? null;\n  return [{ json: response }];\n}\n\nreturn [{ json: response }];"},"id":"250928d8-40bd-43a4-9cd3-ed3cbda6c058","name":"Build Unified Business Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,864]},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS outbound_messages (\n  id BIGSERIAL PRIMARY KEY,\n  restaurant_id BIGINT,\n  conversation_id TEXT NOT NULL,\n  source TEXT NOT NULL,\n  channel TEXT NOT NULL,\n  provider TEXT,\n  recipient TEXT,\n  sender TEXT,\n  subject TEXT,\n  content TEXT NOT NULL,\n  payload JSONB,\n  status TEXT NOT NULL DEFAULT 'pending',\n  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n);","options":{}},"id":"049de48b-e1d6-4d04-9a57-505816914b14","name":"Ensure Outbound Messages Table","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3408,864],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"operation":"executeQuery","query":"WITH input AS (\n  SELECT\n    {{ $('Build Unified Business Response').item.json.restaurant_id || 'NULL' }}::bigint AS restaurant_id,\n    {{ $('Verify Channel Source').item.json.conversation_id_sql }}::text AS conversation_id,\n    {{ $('Verify Channel Source').item.json.source_sql }}::text AS source,\n    {{ $('Verify Channel Source').item.json.channel_sql }}::text AS channel,\n    {{ $('Verify Channel Source').item.json.provider_sql }}::text AS provider,\n    {{ $('Verify Channel Source').item.json.from_sql }}::text AS recipient,\n    {{ $('Verify Channel Source').item.json.to_sql }}::text AS sender,\n    CASE\n      WHEN {{ $('Verify Channel Source').item.json.source_sql }}::text = 'email' THEN 'Réponse à votre demande de réservation'\n      ELSE NULL\n    END::text AS subject,\n    '{{ String($('Build Unified Business Response').item.json.reply || '').replace(/'/g, \"''\") }}'::text AS content,\n    '{{ JSON.stringify($('Build Unified Business Response').item.json).replace(/'/g, \"''\") }}'::jsonb AS payload\n),\ninserted AS (\n  INSERT INTO outbound_messages (\n    restaurant_id,\n    conversation_id,\n    source,\n    channel,\n    provider,\n    recipient,\n    sender,\n    subject,\n    content,\n    payload,\n    status,\n    created_at,\n    updated_at\n  )\n  SELECT\n    restaurant_id,\n    conversation_id,\n    source,\n    channel,\n    provider,\n    recipient,\n    sender,\n    subject,\n    content,\n    payload,\n    'pending',\n    NOW(),\n    NOW()\n  FROM input\n  WHERE source IN ('email', 'instagram')\n    AND recipient IS NOT NULL\n    AND content IS NOT NULL\n  RETURNING *\n)\nSELECT\n  EXISTS (SELECT 1 FROM inserted) AS outbound_queued,\n  (SELECT id FROM inserted) AS outbound_message_id,\n  (SELECT source FROM inserted) AS queued_source,\n  (SELECT channel FROM inserted) AS queued_channel,\n  (SELECT recipient FROM inserted) AS queued_recipient;","options":{}},"id":"99c7500d-e142-4fa7-8e9f-138e4cbe4c0e","name":"Queue Outbound Message When Needed","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[3680,864],"credentials":{"postgres":{"id":"oIKfFfyMDZkHhOm4","name":"Postgres Little Africa"}}},{"parameters":{"jsCode":"const req = $('Verify Channel Source').item.json;\nconst business = $('Build Unified Business Response').item.json;\nconst queue = $('Queue Outbound Message When Needed').item.json;\n\nconst route =\n  req.source === 'retell_voice' ? 'retell_voice_webhook' :\n  req.source === 'retell_sms' ? 'retell_sms_webhook' :\n  req.source === 'instagram' ? 'instagram_webhook_ack' :\n  req.source === 'email' ? 'email_webhook_ack' :\n  'generic_webhook_response';\n\nconst retellBody = {\n  ok: business.ok,\n  action: business.action,\n  decision: business.decision,\n  reply: business.reply,\n  available: business.available,\n  confirmed: business.confirmed,\n  duplicate: business.duplicate,\n  reservation_id: business.reservation_id,\n  client_id: business.client_id,\n  restaurant_id: business.restaurant_id,\n  restaurant_slug: business.restaurant_slug,\n  restaurant_name: business.restaurant_name,\n  conversation_id: business.conversation_id,\n  missing_fields: business.missing_fields,\n  error_code: business.error_code,\n  source_verification_status: business.source_verification_status,\n  source_warnings: business.source_warnings\n};\n\nconst asyncAckBody = {\n  ok: true,\n  accepted: true,\n  route,\n  source: req.source,\n  channel: req.channel,\n  provider: req.provider,\n  conversation_id: req.conversation_id,\n  outbound_queued: !!queue.outbound_queued,\n  outbound_message_id: queue.outbound_message_id ?? null,\n  reply_preview: business.reply,\n  note: 'Message reçu par n8n. La réponse canal est mise en file outbound_messages pour envoi par un workflow provider dédié.'\n};\n\nconst genericBody = {\n  ok: business.ok,\n  route,\n  source: req.source,\n  channel: req.channel,\n  business_response: business,\n  queue\n};\n\nconst response_body =\n  route === 'retell_voice_webhook' || route === 'retell_sms_webhook'\n    ? retellBody\n    : (route === 'email_webhook_ack' || route === 'instagram_webhook_ack'\n      ? asyncAckBody\n      : genericBody);\n\nreturn [{\n  json: {\n    ...business,\n    route,\n    response_body,\n    outbound_queued: !!queue.outbound_queued,\n    outbound_message_id: queue.outbound_message_id ?? null,\n    returned_to_same_provider:\n      (req.source === 'retell_voice' && route === 'retell_voice_webhook') ||\n      (req.source === 'retell_sms' && route === 'retell_sms_webhook') ||\n      (req.source === 'email' && route === 'email_webhook_ack') ||\n      (req.source === 'instagram' && route === 'instagram_webhook_ack'),\n    is_route_retell_voice: route === 'retell_voice_webhook',\n    is_route_retell_sms: route === 'retell_sms_webhook',\n    is_route_instagram: route === 'instagram_webhook_ack',\n    is_route_email: route === 'email_webhook_ack'\n  }\n}];"},"id":"63db4816-f1cc-4ac5-8e44-ff3b69c9942a","name":"Build Reply Router","type":"n8n-nodes-base.code","typeVersion":2,"position":[3968,864]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8c36f010-cf81-42bb-a0b2-4346c982344f","leftValue":"={{ $json.is_route_retell_voice }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a22be514-df57-4074-a646-ce7e23e8c217","name":"Route Retell Voice?","type":"n8n-nodes-base.if","typeVersion":2,"position":[4240,704]},{"parameters":{"respondWith":"json","responseBody":"={{ $('Build Unified Business Response').item.json }}","options":{}},"id":"d3ac4dfb-e898-4634-927d-5bb1ae588fd5","name":"Respond To Retell Voice","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[4528,608]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ff728f0-4fbc-4ab4-9b8d-e536bab9d584","leftValue":"={{ $json.is_route_retell_sms }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"7b8aa64b-8984-46bd-87b2-d2515db38190","name":"Route Retell SMS?","type":"n8n-nodes-base.if","typeVersion":2,"position":[4496,864]},{"parameters":{"respondWith":"json","responseBody":"={{ $('Build Unified Business Response').item.json }}","options":{}},"id":"70091dba-1ab3-4b87-ab4d-859fdbc66899","name":"Respond To Retell SMS","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[4800,768]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d6841fe6-892f-4804-b70f-9e1c9408f475","leftValue":"={{ $json.is_route_instagram }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"17bc9494-3e1b-4dbf-a39d-f4bbcc12ec77","name":"Route Instagram?","type":"n8n-nodes-base.if","typeVersion":2,"position":[4800,1024]},{"parameters":{"respondWith":"json","responseBody":"={{ $('Build Unified Business Response').item.json }}","options":{}},"id":"5e79a59c-8a22-4fd5-b741-c9ff8bbe58b8","name":"Respond To Instagram Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[5088,928]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"479783b5-6011-40d0-a6b3-8a0284fa6706","leftValue":"={{ $json.is_route_email }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e8b74f18-3738-44ba-bcf0-bf056ed18bb5","name":"Route Email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[5088,1184]},{"parameters":{"respondWith":"json","responseBody":"={{ $('Build Unified Business Response').item.json }}","options":{}},"id":"82a24bc7-276b-403b-b4e2-64e4b90f962a","name":"Respond To Email Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[5360,1088]},{"parameters":{"respondWith":"json","responseBody":"={{ $('Build Unified Business Response').item.json }}","options":{}},"id":"acd2001b-1f15-4518-9c09-862cc5054d79","name":"Respond To Generic Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[5360,1328]},{"parameters":{"content":"# Router multi-canal\n\nEntrées explicites :\n- Retell Voice\n- Retell SMS\n- Email\n- Instagram\n- Generic Webhook\n\nChaque entrée marque sa source avant normalisation.\nLe router final vérifie que la source repart sur la bonne réponse HTTP.\n\nPour Email et Instagram, le blueprint met la réponse en file `outbound_messages` au lieu d'inventer un node provider non vérifié.\n\nLa vérification cryptographique Retell n'est pas active dans ce blueprint : le champ `X-Retell-Signature` est détecté, mais la validation par secret/API key devra être ajoutée ensuite.","height":320,"width":760},"id":"9ab2a4c0-0169-4f45-80ef-13d0cf81c897","name":"Note Router Multi Canal","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]}],"connections":{"Webhook Retell Voice Function":{"main":[[{"node":"Mark Retell Voice Source","type":"main","index":0}]]},"Webhook Retell SMS Function":{"main":[[{"node":"Mark Retell SMS Source","type":"main","index":0}]]},"Webhook Email Inbound":{"main":[[{"node":"Mark Email Source","type":"main","index":0}]]},"Webhook Instagram Inbound":{"main":[[{"node":"Mark Instagram Source","type":"main","index":0}]]},"Webhook Generic Inbound":{"main":[[{"node":"Mark Generic Source","type":"main","index":0}]]},"Mark Retell Voice Source":{"main":[[{"node":"Normalize Channel Input","type":"main","index":0}]]},"Mark Retell SMS Source":{"main":[[{"node":"Normalize Channel Input","type":"main","index":0}]]},"Mark Email Source":{"main":[[{"node":"Normalize Channel Input","type":"main","index":0}]]},"Mark Instagram Source":{"main":[[{"node":"Normalize Channel Input","type":"main","index":0}]]},"Mark Generic Source":{"main":[[{"node":"Normalize Channel Input","type":"main","index":0}]]},"Normalize Channel Input":{"main":[[{"node":"Verify Channel Source","type":"main","index":0}]]},"Verify Channel Source":{"main":[[{"node":"Lookup Restaurant Context","type":"main","index":0}]]},"Lookup Restaurant Context":{"main":[[{"node":"Check Closure For Request","type":"main","index":0}]]},"Check Closure For Request":{"main":[[{"node":"Check Existing Reservation","type":"main","index":0}]]},"Check Existing Reservation":{"main":[[{"node":"Upsert Client When Needed","type":"main","index":0}]]},"Upsert Client When Needed":{"main":[[{"node":"Create Reservation When Needed","type":"main","index":0}]]},"Create Reservation When Needed":{"main":[[{"node":"Ensure Channel Logs Table","type":"main","index":0}]]},"Ensure Channel Logs Table":{"main":[[{"node":"Save Channel Log","type":"main","index":0}]]},"Save Channel Log":{"main":[[{"node":"Build Unified Business Response","type":"main","index":0}]]},"Build Unified Business Response":{"main":[[{"node":"Ensure Outbound Messages Table","type":"main","index":0}]]},"Ensure Outbound Messages Table":{"main":[[{"node":"Queue Outbound Message When Needed","type":"main","index":0}]]},"Queue Outbound Message When Needed":{"main":[[{"node":"Build Reply Router","type":"main","index":0}]]},"Build Reply Router":{"main":[[{"node":"Route Retell Voice?","type":"main","index":0}]]},"Route Retell Voice?":{"main":[[{"node":"Respond To Retell Voice","type":"main","index":0}],[{"node":"Route Retell SMS?","type":"main","index":0}]]},"Route Retell SMS?":{"main":[[{"node":"Respond To Retell SMS","type":"main","index":0}],[{"node":"Route Instagram?","type":"main","index":0}]]},"Route Instagram?":{"main":[[{"node":"Respond To Instagram Webhook","type":"main","index":0}],[{"node":"Route Email?","type":"main","index":0}]]},"Route Email?":{"main":[[{"node":"Respond To Email Webhook","type":"main","index":0}],[{"node":"Respond To Generic Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"5fceb35d-9be1-485b-b6cf-cd7323730b8c","activeVersionId":"5fceb35d-9be1-485b-b6cf-cd7323730b8c","versionCounter":55,"triggerCount":5,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-18T17:50:56.849Z","createdAt":"2026-07-18T17:50:56.849Z","role":"workflow:owner","workflowId":"dYtFF0apybudqTiT","projectId":"qCyrAhwkn3YBEnnC","project":{"updatedAt":"2026-07-18T16:53:40.765Z","createdAt":"2026-06-26T07:15:48.107Z","id":"qCyrAhwkn3YBEnnC","name":"Jérémy Lemaire <lemaire.jerem@orange.fr>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"1c348afe-df46-47f4-b6d4-933ef081ab0d"}}],"versionMetadata":{"name":"Version 5fceb35d","description":""}}]