baseline/booking-engine-v2/workflows/I2FIJPQabYh7s07a.json
{
  "updatedAt": "2026-06-26T20:28:06.287Z",
  "createdAt": "2026-06-12T05:23:40.609Z",
  "id": "I2FIJPQabYh7s07a",
  "name": "event_broadcast",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "wf_evt_001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM restaurant_closures WHERE restaurant_id = {{$json.restaurant_id}} AND is_active = true ORDER BY starts_at DESC LIMIT 1;"
      },
      "id": "wf_evt_002",
      "name": "Get Event Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "oIKfFfyMDZkHhOm4",
          "name": "Postgres Little Africa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT c.* FROM clients c JOIN reservations r ON r.client_id = c.id WHERE r.restaurant_id = {{$json.restaurant_id}} AND r.start_time::date >= CURRENT_DATE AND c.consent_notifications = true;"
      },
      "id": "wf_evt_003",
      "name": "Find Affected Clients",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "oIKfFfyMDZkHhOm4",
          "name": "Postgres Little Africa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.consent_notifications}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "wf_evt_004",
      "name": "Consent to notifications?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 20
      },
      "id": "wf_evt_005",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, event_message: `Bonjour, une information importante concerne votre réservation. Merci de votre compréhension.` } }];"
      },
      "id": "wf_evt_006",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@restaurant.local",
        "toEmail": "={{$json.email}}",
        "subject": "Information restaurant",
        "text": "={{$json.event_message}}"
      },
      "id": "wf_evt_007",
      "name": "Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "t0Idyg7WOftDABOo",
          "name": "SMTP account"
        }
      },
      "webhookId": "324551a0-8b3c-45e0-80a8-b46371948e6a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO client_notifications (restaurant_id, client_id, notification_type, channel, content, status, sent_at) VALUES ({{$json.restaurant_id}}, {{$json.id}}, 'event_update', 'email', {{$json.event_message}}, 'sent', now());"
      },
      "id": "wf_evt_008",
      "name": "Log Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1920,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "oIKfFfyMDZkHhOm4",
          "name": "Postgres Little Africa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reservation_events (restaurant_id, event_type, event_data) VALUES ({{$json.restaurant_id}}, 'event_broadcast', jsonb_build_object('message', {{$json.event_message}}));"
      },
      "id": "wf_evt_009",
      "name": "Log Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2160,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "oIKfFfyMDZkHhOm4",
          "name": "Postgres Little Africa"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Event Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Event Context": {
      "main": [
        [
          {
            "node": "Find Affected Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Affected Clients": {
      "main": [
        [
          {
            "node": "Consent to notifications?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consent to notifications?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Log Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Notification": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "408e21a7-7e7f-49bf-8553-c2d7f03f5068",
  "activeVersionId": null,
  "versionCounter": 12,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-18T17:50:56.849Z",
      "createdAt": "2026-07-18T17:50:56.849Z",
      "role": "workflow:owner",
      "workflowId": "I2FIJPQabYh7s07a",
      "projectId": "qCyrAhwkn3YBEnnC",
      "project": {
        "updatedAt": "2026-07-18T16:53:40.765Z",
        "createdAt": "2026-06-26T07:15:48.107Z",
        "id": "qCyrAhwkn3YBEnnC",
        "name": "Jérémy Lemaire <lemaire.jerem@orange.fr>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "1c348afe-df46-47f4-b6d4-933ef081ab0d"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}