baseline/booking-engine-v2/workflows/JBZj3dZat2nV2vRN.json
{
  "updatedAt": "2026-07-18T17:53:06.534Z",
  "createdAt": "2026-07-18T17:30:05.822Z",
  "id": "JBZj3dZat2nV2vRN",
  "name": "reservation_reminder",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyDay",
            "hour": 9,
            "minute": 0
          }
        ]
      },
      "id": "wf_rem_001",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM client_notifications WHERE notification_type = 'reminder' AND status = 'pending' AND scheduled_at::date = CURRENT_DATE + INTERVAL '1 day';"
      },
      "id": "wf_rem_002",
      "name": "Find Reminders Due",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10
      },
      "id": "wf_rem_003",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.*, c.full_name, c.phone, c.email FROM reservations r JOIN clients c ON c.id = r.client_id WHERE r.id = {{$json.reservation_id}};"
      },
      "id": "wf_rem_004",
      "name": "Get Reservation + Client",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        960,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, reminder_message: `Bonjour ${$json.full_name}, rappel pour votre réservation demain à ${$json.start_time}.` } }];"
      },
      "id": "wf_rem_005",
      "name": "Build Reminder Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@restaurant.local",
        "toEmail": "={{$json.email}}",
        "subject": "Rappel de réservation",
        "text": "={{$json.reminder_message}}"
      },
      "id": "wf_rem_006",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ],
      "credentials": {
        "smtp": {
          "name": "SMTP_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE client_notifications SET status = 'sent', sent_at = now() WHERE id = {{$json.id}};"
      },
      "id": "wf_rem_007",
      "name": "Mark Reminder Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reservation_events (restaurant_id, reservation_id, event_type, event_data) VALUES ({{$json.restaurant_id}}, {{$json.reservation_id}}, 'reminder_sent', jsonb_build_object('channel', 'email'));"
      },
      "id": "wf_rem_008",
      "name": "Log Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1920,
        300
      ],
      "credentials": {
        "postgres": {
          "name": "POSTGRES_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Find Reminders Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Reminders Due": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Get Reservation + Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reservation + Client": {
      "main": [
        [
          {
            "node": "Build Reminder Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reminder Message": {
      "main": [
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder": {
      "main": [
        [
          {
            "node": "Mark Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Reminder Sent": {
      "main": [
        [
          {
            "node": "Log Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "19773ee6-916c-42f8-a88d-9f2695be8ab3",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-07-18T17:30:05.822Z",
      "createdAt": "2026-07-18T17:30:05.822Z",
      "role": "workflow:owner",
      "workflowId": "JBZj3dZat2nV2vRN",
      "projectId": "qCyrAhwkn3YBEnnC",
      "project": {
        "updatedAt": "2026-07-18T16:53:40.765Z",
        "createdAt": "2026-06-26T07:15:48.107Z",
        "id": "qCyrAhwkn3YBEnnC",
        "name": "Jérémy Lemaire <lemaire.jerem@orange.fr>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "1c348afe-df46-47f4-b6d4-933ef081ab0d"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}